<div class="row">
    <div class="col-12 horizontal-line">
        <div class="d-flex align-items-center">
            <h1 class="header_name_bold" style="color: #526a84 !important">
                Patient View
            </h1>
            <div class="d-flex ms-auto">
                <div class="d-flex justify-content-between align-items-center float-end ms-2 pointer"
                    style="flex-wrap: wrap">
                    <div class="tab_filter_img me-2">
                        <div class="me-0">
                            <button class="refresh-button">
                                <img src="assets/New_Images/ic_baseline-refresh.svg" style="margin-right: 8px"
                                    alt="refresh" />Refresh
                            </button>
                        </div>
                    </div>
                    <div class="tab_filter_img me-2">
                        <div class="me-0">
                            <button class="refresh-button1">
                                <img src="assets/New_Images/Frame.svg" style="margin-right: 8px" alt="export" />Patient
                                Listing
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-2 p-0">
    <div class="profile-design">
      <div class="d-flex justify-content-center mt-3 flex-column align-items-center w-auto">
          <img src="assets/New_Images/saudi_arabian.png" />
          <h3 class="text-style">Out Patient</h3>
        <h3 class="name-style">Fernando Jimenez</h3>
        <span class="mrn-style">MRN: 342354</span>
        <p class="date-age-style">07/05/2024 - 33 years, Male</p>
    </div>
      <hr style="border: 1px solid #e7defa" />
      <div class="profile-details d-flex flex-column gap-1">
              <span>Blood Group</span>
              <h3 style="
          font-family: 'Poppins';
          font-weight: 500;
          font-size: 13px;
          color: #fa0404;
        ">
                  A1+
              </h3>
              <span>Phone Number</span>
              <h3 class="profiles">3453656714</h3>
              <span>Email</span>
              <h3 class="profiles">fernando@gmail.com</h3>
              <span>Address</span>
              <h3 class="profiles">Ar Riyadh, 1221 SA-0</h3>
              <span>Marital Status</span>
              <h3 class="profiles">Married+</h3>
              <span>Occupation</span>
              <h3 class="profiles">Employee</h3>
              <span>Language</span>
              <h3 class="languages">arabic</h3>
              <span>Referred By</span>
              <h3 class="profiles">-</h3>
          <div  class="parent">
              <div>
                  <span>Height</span>
                  <h3 class="profiles" style="margin-top: 4px;">169 cm</h3>
              </div>
              <div>
                  <span>Weight</span>
                  <h3 class="profiles" style="margin-top: 4px;">57.5 kg</h3>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="col-10 p-0">
    <div class="row justify-content-between m-0">
        <div class="col-4 vitals-edit cards" style="padding: 0;">
                <div class="d-flex justify-content-between flex-row">
                    <div style="margin: .4rem 0rem 0rem .4rem;">
                        <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger" style="margin-left: 10px;"><p class="vitals-text">Vitals</p>
                    </div>
                    <div style="margin: .4rem 0rem 0rem .4rem;">
                        <img src="assets/New_Images/uil_edit.svg" alt="ham-burger" style="margin-left: -36px;"><p class="edit-button">Edit</p>
                    </div> 
                </div>
                <hr style="border: 1px solid rgba(231, 225, 243, 1);
                margin-top: -.4rem;">    
                <div class="d-flex flex-column gap-2" style="margin: 0px 0px 0px 15px;">
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/blood-pressure.png" alt="blood-pressure">
                        <span class="blood-pressure-text">Blood Pressure</span>
                        <span class="pressure-value">120/80</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image" style="margin-left: 33px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/heart-beat.png" alt="heart-beat">
                        <span class="heart-beat">Heart Beat</span>
                        <span class="beat-value">96/min</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image" style="margin-left: 28px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/temperature.png" alt="Temperature">
                        <span class="temperature">Temperature</span>
                        <span class="temperature-value">99.2 C</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image" style="margin-left: 36px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/sPo2.png" alt="SpO2">
                        <span class="spo2">S<sub>p</sub>O2</span>
                        <span class="spo2-value" style="">99</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image" style="margin-left: 59px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/Aspiratory.png" alt="Respiratory-rate">
                        <span class="respiratory">Respiratory Rate</span>
                        <span class="respiratory-time">55/min</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image" style="margin-left: 28px;">
                    </div>
                </div> 
                <hr style="border: 1px solid rgba(231, 225, 243, 1);">
                <div style="margin: -.3rem 0rem 0rem 2.2rem ;font-family: 'Poppins';">
                   <span style="color: 
                   #717E85;"> Updated by</span> <p style="font-weight: 500;font-size: 12px;"> Leslie Alexander <span style="font-weight: 400;font-size: 11px;color: #717E85;">on 05/28/2024 | 3:30 pm </span>  </p> 
                </div>
        </div>
        <div class="col-4 precautions-edit cards" style="padding: 0;">
                <div class="d-flex justify-content-between flex-row">
                    <div style="margin: .4rem 0rem 0rem .4rem;">
                        <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger" style="margin-left: 10px;"><p class="precaution-text">Precautions</p>
                    </div>
                    <div style="margin: .4rem 0rem 0rem .4rem;">
                        <img src="assets/New_Images/uil_edit.svg" alt="ham-burger" style="margin-left: -36px;"><p class="precautions">Edit</p>
                    </div> 
                </div>
                <hr style="border: 1px solid rgba(231, 225, 243, 1);
                margin-top: -.4rem;">    
                <div class="d-flex flex-column gap-2" style="margin: 0px 0px 0px 15px;">
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/Fall.png" alt="fall">
                        <span class="fall-texts">Fall</span>
                        <span class="fall-value">50%</span>
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/isolation.png" alt="isolation">
                        <span class="isolation-text">Isolation</span>
                        <span class="isolation-value">70%</span>
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/COVID.png" alt="COVID">
                        <span class="covid-text">COVID</span>
                        <span class="covid-value">100%</span>
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/Pregnant.png" alt="Pregnant">
                        <span class="pregnant-text">Pregnant</span>
                        <span class="pregnant-value">-</span>
                    </div>
                </div> 
                <hr style="border: 1px solid rgba(231, 225, 243, 1); margin-top: 2.7rem;">
                <div style="margin: -.3rem 0rem 0rem 2.2rem ;font-family: 'Poppins';">
                   <span style="color: 
                   #717E85;"> Updated by</span> <p style="font-weight: 500;font-size: 12px;"> Leslie Alexander <span style="font-weight: 400;font-size: 11px;color: #717E85;">on 05/28/2024 | 3:30 pm </span> </p> 
                </div>
        </div>
        <div class="col-4 precautions-edit1 cards" style="padding: 0;">
                <div class="d-flex justify-content-between flex-row">
                    <div style="margin: .4rem 0rem 0rem .4rem;">
                        <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger" style="margin-left: 10px;"><p style="margin: -1.1rem 0rem 1rem 2rem; font-size: 13px !important;font-weight: 500 !important;font-family: 'Poppins';color: #594585 !important;">Precautions</p>
                    </div>
                    <div style="margin: .4rem 0rem 0rem .4rem;">
                        <img src="assets/New_Images/uil_edit.svg" alt="ham-burger" style="margin-left: -36px;"><p style="margin: -1.1rem 1rem 0rem -.7rem !important;font-size: 13px !important;font-weight: 500 !important;font-family: 'Poppins';color: #594585 !important;">Edit</p>
                    </div> 
                </div>
                <hr style="border: 1px solid rgba(231, 225, 243, 1); margin-top: -0.4rem;">
                <div class="d-flex button-container justify-content-around flex-wrap">
                    <button>High Blood Pressure</button>
                    <button>Pacemaker Tube</button>
                </div>
                <hr style="border: 1px solid rgba(231, 225, 243, 1); margin-top: 7rem;">
                <div style="margin: -.3rem 0rem 0rem 2.2rem ;">
                    <span style="color: 
                    #717E85;"> Updated by</span>
                    <div style="font-family: 'Poppins';">
                        <p style="font-weight: 500;font-size: 12px;"> Leslie Alexander <span style="font-weight: 400;font-size: 11px;color: #717E85;">on 05/28/2024 | 3:30 pm </span>  </p> 
                    </div>
                 </div>
        </div>
    </div>
        <div class="row mt-3 m-0">
            <div class="col-12 p-0">
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#clinical_items" role="tab" aria-selected="true">
                            <h1 class="d-none d-sm-block name"> <img src="assets/New_Images/clinical_history.png" alt="clinical"> Clinical History</h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#labs" role="tab" aria-selected="false">
                            <h1 class="d-none d-sm-block name"><img src="assets/New_Images/labs.png" alt="clinical">Labs</h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#medication" role="tab" aria-selected="false">
                            <h1 class="d-none d-sm-block name"><img src="assets/New_Images/medication.png" alt="clinical">Medication</h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#care_team" role="tab" aria-selected="false">
                            <h1 class="d-none d-sm-block name"><img src="assets/New_Images/care_team.png" alt="clinical">Care Team</h1>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="clinical_items" class="tab-pane fade show active" role="tabpanel">
                        <app-clinical-history-tab></app-clinical-history-tab>
                    </div>
                    <div id="labs" class="tab-pane fade" role="tabpanel">
                     </div>
                    <div id="medication" class="tab-pane fade" role="tabpanel">
                     </div>
                    <div id="care_team" class="tab-pane fade" role="tabpanel">
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
