.horizontal-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 6px;
    margin-bottom: 10px;
}

.refresh-button {
    border: 1px solid #594585;
    border-radius: 4px;
    padding: 3px 10px 2px 7px;
    color: #594585;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    background: white;
    line-height: 25px;
}

.refresh-button1 {
    border: 1px solid #594585;
    border-radius: 4px;
    padding: 2px 22px 3px 10px;
    color: #594585;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    background: white;
    line-height: 25px;
}

// .text-style {
//     font-size: 12px;
//     border: 1px solid;
//     // width: 85px;
//     border-radius: 9px;
//     background-color: #3ABE0B;
//     color: #fff;
//     padding: 1px 6px 1px 7px;
//     font-weight: 600;
//     font-family: 'Poppins';
// }

.in-patient-bg {
    background-color: #3ABE0B;
}

.out-patient-bg {
    background-color: #FF0000;
}

// .name-style {
//     font-size: 15px;
//     color: #594585;
//     font-weight: 500;
//     font-family: 'Poppins';
// }

// .mrn-style {
//     font-size: 12px;
//     font-weight: 500;
//     font-family: 'Poppins';
// }

// .date-age-style {
//     font-size: 12px !important;
//     color: #4C5557;
//     font-weight: 500;
//     font-family: 'Poppins';
// }

.profile-details {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    color: #A8ACAD;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 1rem;
}

.profiles {
    font-family: 'Poppins' !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    color: #4C5557 !important;
}

.profile-design{
    width: 96%;
    height: 100% !important;
    border: 1px solid rgba(231, 225, 243, 1);
    // margin: -0.7rem 0rem 0rem -1.2rem;
    background-color: rgba(251, 249, 255, 1);
}

.languages {
    font-family: 'Poppins';
    font-weight: 500 !important;
    font-size: 12px !important;
    width: fit-content !important;
    border-radius: 100px !important;
    color: #594585 !important;
    background-color: #E7E1F3 !important;
    padding: 0px 7px 0px 7px !important;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.vitals-text{
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: 'Poppins';
    color: #594585 !important;
}

.edit-button{
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: 'Poppins';
    color: #594585 !important;
}

.blood-pressure-text{
    font-family: 'Poppins';
    margin-left: 16px;
    font-weight: 500;
    color: #526A84;
    font-size: 12px;
}

.pressure-value{
    margin-left: 35px;
    font-weight: 500;
    font-size: 13px;
    color: #2D9508;
    font-family: 'Poppins';
}

.heart-beat{
    font-family: 'Poppins';
    margin-left: 16px;
    font-weight: 500;
    color: #526A84;
    font-size: 12px;
}

.beat-value{
    margin-left: 60px;
    font-weight: 500;
    font-size: 13px;
    color: #FA0404;
    font-family: 'Poppins';
}

.temperature{
    font-family: 'Poppins';
    margin-left: 16px;
    font-weight: 500;
    color: #526A84;
    font-size: 12px;
}

.temperature-value{
    margin-left: 45px;
    font-weight: 500;
    font-size: 13px;
    color: #2B3B3E;
    font-family: 'Poppins';
}

.spo2{
    font-family: 'Poppins';
    margin-left: 16px;
    font-weight: 500;
    color: #526A84;
    font-size: 12px;
}

.spo2-value{
    margin-left: 95px;
    font-weight: 500;
    font-size: 13px;
    color: #2B3B3E;
    font-family: 'Poppins';
}

.respiratory{
    font-family: 'Poppins';
    margin-left: 16px;
    font-weight: 500;
    color: #526A84;
    font-size: 12px;
}

.respiratory-time{
    margin-left: 24px;
    font-weight: 500;
    font-size: 13px;
    color: #2D9508;
    font-family: 'Poppins';
}

.precaution-text{
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: 'Poppins';
    color: #594585 !important;
}

.precautions{
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: 'Poppins';color: #594585 !important;
}

.vitals-edit {
    width: 30%;
    height: auto;
    border: 1px solid rgba(231, 225, 243, 1);
    border-radius: 6px;
}

.precautions-edit {
    // width: 30%;
    height: auto;
    border: 1px solid rgba(231, 225, 243, 1);
    border-radius: 6px;
}

.show_scroll{
    overflow: hidden;
}

.show_scroll:hover{
    transition-timing-function: ease-in-out 2s;
    // transition: ease-in 2s;
    // transition-property: ea;
    overflow-y: scroll;
}

.precautions-edit1 {
    // width: 34%;
    height: auto;
    border: 1px solid rgba(231, 225, 243, 1);
    border-radius: 6px;
}

 .nav-tabs-custom .nav-link {
    color: #000 !important; 
    background: none;
}
::ng-deep .nav-tabs-custom .nav-link::after {
    border-bottom: 3px solid #594585 !important; 
}

::ng-deep .nav-tabs-custom .nav-link.active h1{
    color: #594585 !important;
}

::ng-deep .nav-tabs-custom .nav-link.active img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(26%) saturate(1253%) hue-rotate(228deg) brightness(85%) contrast(90%);
    color: #594585 !important;

}


@media (max-width: 768px) {
    .nav-tabs-custom .nav-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.other-details{
    width: 68%;
    height: auto;
    border: 1px solid 
    rgba(231, 225, 243, 1);
    border-bottom: 1px solid 
    rgba(231, 225, 243, 1);
}

.documents{
    width: 30%;
    height: auto;
    border: 1px solid 
    rgba(231, 225, 243, 1);
    border-bottom: 1px solid 
    rgba(231, 225, 243, 1);
}

.download-content{
    font-family: 'Poppins';
    font-weight: 500 !important;
    font-size: 13px !important;
    color: #2B3B3E !important;

}

.vitals_border{
    border: 1px solid rgba(89, 69, 133, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

.border-right{
    border-right: 1px solid rgba(89, 69, 133, 0.1);
    padding: 21px;
    float: left;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(89, 69, 133, 0.1);
}

.text-label{
    font-family: 'Poppins';
    font-size: 13px !important;
    font-weight: 500;
    line-height: 20.5px;
}

.edit-input{
    width: 92%;
    padding: 5px;
    border: 1px solid rgba(177, 203, 212, 1);
    border-radius: 4px;
}

.temperature-cel{
    border-radius: 0px 4px 4px 0px !important;
    background: rgba(232, 232, 232, 1);
    border:1px solid rgba(177, 203, 212, 1);
    color: #717E85;
    white-space: nowrap;
    padding: 5px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    line-height: 19.5px;
}

::ng-deep .ngx-slider .ngx-slider-selection
{
  // z-index: 2 !important;
  background-color: #594585 !important;
  border-radius: 2px !important;
  border: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after
{
  background-color: #594585 !important;
}

::ng-deep .ngx-slider-pointer{
  background-color: #594585 !important;
}

::ng-deep .ngx-slider .ngx-slider-bubble
{
  font-size: 10px !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer
{
  cursor: pointer;
  width: 15px !important;
  height: 15px !important;
  top: -6px !important;
  background-color: #594585;
  z-index: 3;
  border-radius: 16px;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after
{
  display: none !important;
}

::ng-deep .ngx-slider.animate .ngx-slider-pointer{
    border: 2px solid #FFF !important;
}
// .nav-tabs-custom{
//     margin-left: -1rem !important;
// }

.patient_values{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(168, 172, 173, 1);
}

.main_values{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(76, 85, 87, 1);
}

.patient_type{
    border-radius: 100px;
    width: 86px;
    margin: -14px -7px;
    text-align: center;
    padding: 0px;
    background-color: rgb(58, 190, 11);
    color: #fff !important;
    font-weight: 500 !important;
}

@media screen and (max-width: 1440px) {
    .wrap-text{
        flex-wrap: wrap;
    }
}

.check_box{
    border: 1px solid rgba(207, 195, 233, 1);
    width: 110px;
    height: 35px;
    border-radius: 4px;
}

.check-yes, .check-no{
    height: 27px;
    width: 46px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(82, 106, 132, 1) !important;
    margin-top: 3px;
   
}

.selected {
    background-color: rgba(196, 189, 212, 1);
    color: rgba(89, 69, 133, 1) !important;
    transition: background-color 0s, color 0s;
    cursor: not-allowed;
}

.selected-card{
    background-color: #f0eafb !important;
}

.check-box-style{
    width: 18px;
    height: 18px;
    border: 1px solid #B1CBD4;
    border-radius: 4px;
}

.form-check-input:checked{
        background-color: #594585 !important;
        border-color: #594585 !important;
}

.border-style{
    border-right: 2px solid #ffffff !important;
    background-color: #E4DAFA !important;
    color: #594585 !important;
}

.header-style{
    border-right: 2px solid #ffffff !important;
    background-color: #FBF9FF !important;
    color: #526A84 !important;
}

.list_color{
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: 'Poppins';
    color: #526A84 !important;
}

.list_color::marker{
    color: #D9D9D9 !important;
    width: 8px !important;
    height: 8px !important;
}