<!--patient top view-->
<div class="row">
    <div class="col-12 horizontal-line m-0">
        <div class="d-flex align-items-center">
            <h1 class="header_name_bold" style="color: #526a84 !important">
                Patient View
            </h1>
            <div class="d-flex ms-auto">
                <div class="d-flex justify-content-between align-items-center float-end ms-2 pointer"
                    style="flex-wrap: wrap">
                    <div class="tab_filter_img me-2">
                        <div class="me-0">
                            <button class="refresh-button">
                                <img src="assets/New_Images/refresh.svg" style="margin-right: 8px"
                                    alt="refresh" />Refresh
                            </button>
                        </div>
                    </div>
                    <div class="tab_filter_img me-2">
                        <div class="me-0">
                            <button class="refresh-button1">
                                <img src="assets/New_Images/Frame.svg" style="margin-right: 8px" alt="export" />Patient
                                Listing
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--patient profile view-->
<div class="row">
    <div class="col-2 p-0" style="margin-left: -0.4rem;">
        <div class="profile-design ">
            <div class="d-flex p-1 flex-row w-auto">
                <div class="d-flex flex-column ms-2 mt-2">
                    <img src="assets/New_Images/saudi_arabian.png" width="71px" height="71px" />
                    <h6 class="patient_type">out Patient</h6>
                </div>
                <div class="p-1 ms-4 d-flex flex-column">
                    <h5 style="color:#594585 !important;">{{this.patient?.Name}}</h5>
                    <p class="m-0" style="font-weight: 500 !important;font-size: 12px !important;color: #AFA5C6;">MRN: <span style="color:#526A84;font-weight: 500 !important;font-size: 12px !important;">{{this.patient?.mrn_no}}</span></p>
                    <p class="m-0 mt-1"  style="font-weight: 500 !important;font-size: 12px !important;color: #AFA5C6;">D.O.B: <span style="color:#526A84;font-weight: 500 !important;font-size: 12px !important;">{{this.patient?.dob}}</span></p>
                    <div class="d-flex mt-1 flex-row">
                        <p class="m-0"  style="font-weight: 500 !important;font-size: 12px !important;color: #AFA5C6;">Gender: <span style="color:#526A84;font-weight: 500 !important;font-size: 12px !important;">{{this.patient?.gender}}</span></p>
                        <p class="m-0 ms-3"  style="font-weight: 500 !important;font-size: 12px !important;color: #AFA5C6;">Age: <span style="color:#526A84;font-weight: 500 !important;font-size: 12px !important;">{{this.patient?.age}}</span></p>
                    </div>
                </div>
            </div>
            <div class="row d-flex p-1 m-1 flex-row w-auto h-auto mt-2" style="border-top: 1px solid rgba(231, 222, 250, 1); border-bottom: 1px solid rgba(231, 222, 250, 1);">
                    <div class="col-4 d-flex flex-row p-1 align-items-center justify-content-around" style="border-right: 1px solid  rgba(231, 222, 250, 1);width: 25%;">
                            <img src="assets/New_Images/blood.png" alt="blood" width="25px" height="25px">
                        <div class="ps-0">
                            <h6 class="mb-0" style="font-weight: 500 !important;color: rgba(168, 172, 173, 1) !important;">BG</h6>
                            <h6 class="mb-auto" style="font-weight: 500 !important;color: rgba(250, 4, 4, 1) !important;">A1+</h6>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center flex-row p-1 justify-content-around" style="border-right: 1px solid  rgba(231, 222, 250, 1);width: 38%;">
                            <img src="assets/New_Images/height.png" alt="height" width="20px" height="20px">
                        <div  class="ps-2">
                            <h6 class="mb-0" style="font-weight: 500 !important;color: rgba(168, 172, 173, 1) !important;">Height</h6>
                            <h6 class="mb-auto" style="font-weight: 500 !important;color: rgba(76, 85, 87, 1) !important;">18cm</h6>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-around flex-row p-1" style="width: 30%;">
                            <img src="assets/New_Images/weight.png" alt="weight" width="20px" height="20px">
                        <div class="ps-2">
                            <h6 class="mb-0" style="font-weight: 500 !important;color: rgba(168, 172, 173, 1) !important;">Weight</h6>
                            <h6 class="mb-auto" style="font-weight: 500 !important;color:rgba(76, 85, 87, 1) !important;">80kg</h6>
                        </div>
                    </div>               
            </div>
            <div class="profile-details d-flex flex-column gap-1 mt-3">
                <span>Phone Number</span>
                <h3 class="profiles">{{this.patient?.telephone}}</h3>
                <span>Email</span>
                <h3 class="profiles">{{this.patient?.primary_email}}</h3>
                <span>Address</span>
                <h3 class="profiles">{{this.patient?.address_type}}</h3>
                <span>Marital Status</span>
                <h3 class="profiles">{{this.patient?.marital_status}}</h3>
                <span>Occupation</span>
                <h3 class="profiles">{{this.patient?.occupation}}</h3>
                <span>Language</span>
                <h3 class="languages">{{this.patient?.language}}</h3>
                <span>Referred By</span>
                <h3 class="profiles">{{this.patient?.referred_by}}</h3>
            </div>
        </div>
    </div>

<!--patient edit/add view-->
    <div class="col-10 p-0 mt-3" style="overflow-x: hidden;overflow-y: auto;height: 45%;">
        <div class="row justify-content-between m-0">
            <div class="col-4 vitals-edit cards p-0">
                <div class="d-flex justify-content-between flex-row p-2" style="border-bottom: 1px solid rgba(231, 225, 243, 1);">
                    <div class="mt-2">
                        <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger" class="ms-2">
                        <span class="vitals-text ms-2">Vitals</span>
                    </div>
                    <div class="mt-2 me-3" style="cursor: pointer;"  (click)="OpenModal('edit_vitals')" >
                        <img src="assets/New_Images/uil_edit.svg" alt="ham-burger" class="ms-3">
                        <span class="edit-button ms-2">Edit</span>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 mt-4" style="margin: 0px 0px 0px 15px;">
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/blood-pressure.png" alt="blood-pressure">
                        <span class="blood-pressure-text">Blood Pressure</span>
                        <span class="pressure-value">120/80</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image"
                            style="margin-left: 33px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/heart-beat.png" alt="heart-beat">
                        <span class="heart-beat">Heart Beat</span>
                        <span class="beat-value">96/min</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image"
                            style="margin-left: 28px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/temperature.png" alt="Temperature">
                        <span class="temperature">Temperature</span>
                        <span class="temperature-value">99.2 C</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image"
                            style="margin-left: 36px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/sPo2.png" alt="SpO2">
                        <span class="spo2">S<sub>p</sub>O2</span>
                        <span class="spo2-value" style="">99</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image"
                            style="margin-left: 59px;">
                    </div>
                    <div class="d-flex justify-content-around flex-wrap">
                        <img src="assets/New_Images/Aspiratory.png" alt="Respiratory-rate">
                        <span class="respiratory">Respiratory Rate</span>
                        <span class="respiratory-time">55/min</span>
                        <img src="assets/New_Images/material-symbols_info.svg" alt="info-image"
                            style="margin-left: 28px;">
                    </div>
                </div>
                <div class="mt-4" style="font-family: 'Poppins'; border-top: 1px solid rgba(231, 225, 243, 1);">
                    <div class="mt-2 ms-4">
                        <span style="color: 
                        #717E85;"> Updated by</span>
                         <p style="font-weight: 500;font-size: 12px;"> Leslie Alexander <span
                                 style="font-weight: 400;font-size: 11px;color: #717E85;">on 05/28/2024 | 3:30 pm </span>
                         </p>
                    </div>
                </div>
            </div>
            <div class="col-4 precautions-edit cards p-0">
                <div class="d-flex justify-content-between flex-row p-2" style="border-bottom: 1px solid rgba(231, 225, 243, 1);">
                    <div class="mt-2">
                        <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger" class="ms-2">
                        <span class="precaution-text ms-2">Precautions</span>
                    </div>
                    <div class="mt-2 me-3" style="cursor: pointer;" (click)="OpenModal('edit_precautions')">
                        <img src="assets/New_Images/uil_edit.svg" alt="ham-burger" class="ms-3">
                        <span class="precautions ms-2">Edit</span>
                    </div>
                </div>
                <div class="d-flex flex-column mt-3 w-85 show_scroll" style="height: 140px;">
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/Fall.png"  alt="fall" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">Fall</h6>
                            <h5 style="margin-left: 9rem;">Yes</h5>
                        </div>
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/allergy.png" alt="allergy" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">Allergy</h6>
                            <h5 style="margin-left: 7.7rem;">Yes</h5>
                        </div>
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/isolation.png" alt="isolation" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">Isolation</h6>
                            <h5 style="margin-left: 7.2rem;">Yes</h5>
                        </div>
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/COVID.png" alt="covid" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">COVID</h6>
                            <h5 style="margin-left: 8rem;color: rgba(250, 4, 4, 1) !important;">Yes</h5>
                        </div>
                        <div class="d-flex ms-4 flex-wrap">
                            <img src="assets/New_Images/gcs.png" alt="gcs" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">GCS</h6>
                            <h5 style="margin-left: 8.9rem;color: #2D9508 !important;">4-Mild</h5>
                            <h5 class="ms-4" style="color: rgba(89, 69, 133, 1) !important;border-bottom: 1px solid  rgba(89, 69, 133, 1);cursor: pointer;" (click)="OpenModal('view_gcs')">View</h5>
                        </div>
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/pregnant.png" alt="pregnant" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">Pregnant</h6>
                            <h5 style="margin-left: 7.1rem;">Yes</h5>
                        </div>
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/diabetic.png" alt="diabetic" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">Diabetic</h6>
                            <h5 style="margin-left: 7.5rem;">Yes</h5>
                        </div>
                        <div class="d-flex ms-4">
                            <img src="assets/New_Images/contrast.png" alt="needle" width="20px" height="20px">
                            <h6 class="ms-5" style="font-weight: 500 !important; color: rgba(82, 106, 132, 1) !important;">Contrast Reaction</h6>
                            <h5 style="margin-left: 3.9rem;">Yes</h5>
                        </div>
                </div>
                <div class="mt-4" style="font-family: 'Poppins';border-top: 1px solid rgba(231, 225, 243, 1);">
                    <div class="mt-2 ms-4">
                        <span style="color: 
                        #717E85;"> Updated by</span>
                         <p style="font-weight: 500;font-size: 12px;"> Leslie Alexander <span
                                 style="font-weight: 400;font-size: 11px;color: #717E85;">on 05/28/2024 | 3:30 pm </span>
                         </p>
                    </div>
                </div>
            </div>
            <div class="col-4 precautions-edit1 cards p-0">
                <div class="d-flex justify-content-between flex-row p-2" style="border-bottom: 1px solid rgba(231, 225, 243, 1);">
                    <div class="mt-2">
                        <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger" class="ms-3">
                        <span class="ms-2"
                            style="font-size: 13px !important;font-weight: 500 !important;font-family: 'Poppins';color: #594585 !important;">
                           Other Precautions</span>
                    </div>
                    <div class="mt-2" style="cursor: pointer;" (click)="OpenModal('edit_alerts')">
                        <img src="assets/New_Images/uil_edit.svg" alt="ham-burger" class="ms-2">
                        <span class="ms-2 me-3" 
                            style="font-size: 13px !important;font-weight: 500 !important;font-family: 'Poppins';color: #594585 !important;">
                            Edit</span>
                    </div>
                </div>
                <div class="d-flex flex-wrap mt-3 ms-2">
                    <ul>
                        <li class="list_color">High Blood Pressure</li>
                        <li class="list_color mt-3">Pacemaker Tube</li>
                        <li class="list_color mt-3">Nasogastric Tube</li>
                        <li class="list_color mt-3">Cochlea Implants</li>
                    </ul>
                </div>
                <div style="border-top: 1px solid rgba(231, 225, 243, 1);margin-top: 1.7rem;">
                    <div class="mt-2 ms-4">
                        <span style="color: 
                        #717E85;"> Updated by</span>
                        <div style="font-family: 'Poppins';">
                            <p style="font-weight: 500;font-size: 12px;"> Leslie Alexander <span
                                    style="font-weight: 400;font-size: 11px;color: #717E85;">on 05/28/2024 | 3:30 pm </span>
                            </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!--edit_vitals popup-->
        <div bsModal #edit_vitals="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2" [config]="{ignoreBackdropClick: true}" >
            <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 700px !important;">
              <div class="modal-content">
                <div class="d-flex justify-content-around align-items-center p-3 m-0" style="background: #ECE5FB; height: 2.5rem;">
                  <h1 class="flex-grow-1 mt-2" style="font-size: 14px !important;color: #594585 !important;">Edit Vitals
                  </h1>
                  <img src="assets/New_Images/ep_close-bold.png" width="16px" height="16px" (click)="CloseModal('edit_vitals')"
                    style="cursor: pointer;">
                </div>
                <form [formGroup]="patientViewForm">
                <div class="row p-4 d-flex justify-content-around flex-row mt-4">
                    <div class="col-6 w-auto p-0 vitals_border">
                        <div class="border-right">
                            <img src="assets/New_Images/edit_bloodgroup.png" alt="edit_bloodgroup" width="40px" height="40px">
                        </div>
                        <div class="ms-auto d-flex flex-column justify-content-center align-items-center mt-0" style="background-color: rgba(89, 69, 133, 0.05); padding: 0.7rem;">
                            <label for="blood_pressure" class="text-label me-auto ms-2">Blood Pressure</label>
                            <input type="number" class="form-control" style="height: 31px !important;width: 91%;" formControlName="blood_pressure">
                        </div>
                    </div>
                    <div class="col-6 w-auto p-0 vitals_border">
                        <div class="border-right">
                            <img src="assets/New_Images/edit_heartbeat.png" alt="edit_heartbeat" width="40px" height="40px">
                        </div>
                        <div class="ms-auto d-flex flex-column justify-content-center align-items-center mt-0" style="background-color: rgba(89, 69, 133, 0.05); padding: 0.7rem;">
                            <label for="blood_pressure" class="text-label me-auto ms-2">Heart Beat</label>
                            <input type="text" class="form-control" style="height: 31px !important;width: 91%;" formControlName="heart_beat">
                        </div>
                    </div>
                </div>
                <div class="row p-4 d-flex justify-content-around flex-row">
                   
                    <div class="col-6 w-auto p-0 vitals_border">
                        <div class="border-right">
                            <img src="assets/New_Images/edit_respiratory.png" alt="edit_respiratory" width="40px" height="40px">
                        </div>
                        <div class="ms-auto d-flex flex-column justify-content-center align-items-center mt-0" style="background-color: rgba(89, 69, 133, 0.05); padding: 0.7rem;">
                            <label for="blood_pressure" class="text-label me-auto ms-2">S<sub>p</sub>O2</label>
                            <input type="text" class="form-control" style="height: 31px !important;width: 91%;" formControlName="spO2">
                        </div>
                    </div>
                    <div class="col-6 w-auto p-0 vitals_border">
                        <div class="border-right">
                            <img src="assets/New_Images/edit_SpO2.png" alt="edit_SpO2" width="40px" height="40px">
                        </div>
                        <div class="ms-auto d-flex flex-column justify-content-center align-items-center mt-0" style="background-color: rgba(89, 69, 133, 0.05); padding: 0.7rem;">
                            <label for="blood_pressure" class="text-label me-auto ms-2">Respiratory Rate</label>
                            <input type="text" class="form-control" style="height: 31px !important;width: 91%;" formControlName="respiratory_rate">
                        </div>
                    </div>
                </div>
                <div class="row p-4 ms-2">
                    <div class="col-12 p-0 vitals_border" style="width: 295px !important;">
                        <div class="border-right">
                            <img src="assets/New_Images/edit_temperature.png" alt="edit_temperature" width="40px" height="40px">
                        </div>
                        <div class="ms-auto d-flex flex-column justify-content-center align-items-center mt-0" style="background-color: rgba(89, 69, 133, 0.05); padding: 0.7rem;">
                            <label for="blood_pressure" class="text-label me-auto ms-2">Temperature</label>
                            <div class="d-flex ms-2">
                                <input type="text" class="form-control" formControlName="temperature" style="border-radius: 4px 0px 0px 4px !important;height: 31px !important;width: 70% !important;">
                            <span class="temperature-cel">in cel</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center p-3 mt-3">
                    <button type="button" class="btn-outline me-3" style="width: 11% !important;" (click)="CloseModal('edit_vitals')"
                    >Cancel</button>
                  <button type="button" class="btn-primary" style="width: 11% !important;" (click)="addVitalsDetails(this.patientViewForm.value)">Submit</button>
                </div>
                </form>
              </div>
            </div>
          </div>

          <!--edit_precautions popup-->
          <div bsModal #edit_precautions="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2" [config]="{ignoreBackdropClick: true}" >
            <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 700px !important;">
              <div class="modal-content">
                <div class="d-flex justify-content-around align-items-center p-3 m-0" style="background: #ECE5FB; height: 2.5rem;">
                  <h1 class="flex-grow-1 mt-2" style="font-size: 14px !important;color: #594585 !important;">Edit Precautions
                  </h1>
                  <img src="assets/New_Images/ep_close-bold.png" width="16px" height="16px" (click)="CloseModal('edit_precautions')"
                    style="cursor: pointer;">
                </div>
                <div style="height: 29rem; overflow-y: auto;">
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/slippery.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">Fall</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['fall']}"  (click)="selectYes('fall')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['fall']}"  (click)="selectNo('fall')">No</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/rash.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">Allergy</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['allergy']}" (click)="selectYes('allergy')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['allergy']}" (click)="selectNo('allergy')">No</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/social-withdrawal.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">Isolation</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['isolation']}" (click)="selectYes('isolation')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['isolation']}" (click)="selectNo('isolation')">No</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/patient.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">COVID</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['covid']}" (click)="selectYes('covid')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['covid']}" (click)="selectNo('covid')">No</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/eye-care.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">GCS</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['gcs']}" (click)="selectYes('gcs')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['gcs']}" (click)="selectNo('gcs')">No</h5>
                        </div>
                    </div>
                </div>
                <div #contrastContent *ngIf="isYesSelected['gcs']" class="row p-3 m-1">
                    <div class="col-4" style="border-right: 1px solid  rgba(231, 225, 243, 1);">
                        <h5 class="ms-1" style="color: #594585 !important;">Eye Opening</h5>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('eye_opening',4, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Spontaneous</h5>
                            <h5 style="color: #594585 !important;">4</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('eye_opening', 3, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">To Sound</h5>
                            <h5 style="color: #594585 !important;">3</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('eye_opening', 2, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">To Pressure</h5>
                            <h5 style="color: #594585 !important;">2</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('eye_opening', 1, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">None</h5>
                            <h5 style="color: #594585 !important;">1</h5>
                        </div>
                    </div>
                    <div class="col-4" style="border-right: 1px solid  rgba(231, 225, 243, 1);">
                        <h5 class="ms-1" style="color: #594585 !important;">Verbal Response</h5>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('verbal_response', 5, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Orientated</h5>
                            <h5 style="color: #594585 !important;">5</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('verbal_response', 4, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Confused</h5>
                            <h5 style="color: #594585 !important;">4</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('verbal_response', 3, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Words</h5>
                            <h5 style="color: #594585 !important;">3</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('verbal_response', 2, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Sounds</h5>
                            <h5 style="color: #594585 !important;">2</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('verbal_response', 1, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">None</h5>
                            <h5 style="color: #594585 !important;">1</h5>
                        </div>
                    </div>
                    <div class="col-4" style="border-right: 1px solid  rgba(231, 225, 243, 1);">
                        <h5 class="ms-1" style="color: #594585 !important;">Motor Response</h5>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('motor_response', 6, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Obey Commands</h5>
                            <h5 style="color: #594585 !important;">6</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('motor_response', 5, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Localising</h5>
                            <h5 style="color: #594585 !important;">5</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('motor_response', 4, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Normal Flexion</h5>
                            <h5 style="color: #594585 !important;">4</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('motor_response', 3, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Abnormal Flexion</h5>
                            <h5 style="color: #594585 !important;">3</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('motor_response', 2, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">Extension</h5>
                            <h5 style="color: #594585 !important;">2</h5>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <input type="checkbox" class="form-check-input check-box-style" (change)="onCheckboxChange('motor_response', 1, $event)">
                            <h5 class="me-auto ms-4 " style="color: #526A84 !important;">None</h5>
                            <h5 style="color: #594585 !important;">1</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/new_pregnant.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">Pregnant</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['pregnant']}" (click)="selectYes('pregnant')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['pregnant']}" (click)="selectNo('pregnant')">No</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/diabetes.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">Diabetic</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['diabetes']}" (click)="selectYes('diabetes')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['diabetes']}" (click)="selectNo('diabetes')">No</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-column p-0 m-3 mt-auto" style="border-bottom: 1px solid rgba(242, 240, 245, 1);">
                    <div class="col-12 w-75 d-flex flex-row p-2">
                        <img src="assets/New_Images/needle1.png" alt="fall" width="30px" height="30px">
                        <h4 class="ms-3 mt-1" style="color: rgba(82, 106, 132, 1) !important;">Contrast Reaction</h4>
                        <div class="ms-auto check_box d-flex flex-row justify-content-around p-0">
                            <h5 class="check-yes p-1 me-2" [ngClass]="{'selected': isYesSelected['contrast']}" (click)="selectYes('contrast')">Yes</h5>
                            <h5 class="check-no p-1" [ngClass]="{'selected': !isYesSelected['contrast']}" (click)="selectNo('contrast')">No</h5>
                        </div>
                    </div>
                </div>
                <div #contrastContent *ngIf="isYesSelected['contrast']" class="d-flex p-1 flex-row justify-content-end gap-1">
                    <div class="cards d-flex flex-column align-items-center" [ngClass]="{'selected-card': selectedCard === 'rash'}" (click)="onCardClick('rash')" style="height: 80px;width: 120px;cursor: pointer;border: 1px solid #AFA5C6;">
                        <img src="assets/New_Images/rash.png" alt="rash" width="38px" height="35px">
                        <h5>Skin Rash</h5>
                    </div>
                    <div class="cards d-flex flex-column align-items-center"  [ngClass]="{'selected-card': selectedCard === 'short_of_breath'}" (click)="onCardClick('short_of_breath')" style="height: 80px;width: 120px;cursor: pointer; border: 1px solid #AFA5C6;">
                        <img src="assets/New_Images/short_of_breath.png" alt="rash" width="38px" height="35px">
                        <h5>Short of Breath</h5>
                    </div>
                    <div class="cards d-flex flex-column align-items-center"  [ngClass]="{'selected-card': selectedCard === 'vomit'}" (click)="onCardClick('vomit')" style="height: 80px;width: 120px;cursor: pointer; border: 1px solid #AFA5C6;">
                        <img src="assets/New_Images/vomit.png.png" alt="rash" width="38px" height="35px">
                        <h5>Vomiting</h5>
                    </div>
                </div>
                </div>
                  <div class="d-flex justify-content-center p-3 mt-3">
                    <button type="button" class="btn-outline me-3" style="width: 11% !important;" (click)="CloseModal('edit_precautions')"
                    >Cancel</button>
                  <button type="button" class="btn-primary" style="width: 11% !important;" (click)="savePrecautions()">Submit</button>
                  </div>
              </div>
            </div>
          </div>

          <!--alerts popup precautions-->
          <div bsModal #edit_alerts="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2" [config]="{ignoreBackdropClick: true}" >
            <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 450px !important;">
              <div class="modal-content">
                <div class="d-flex justify-content-around align-items-center p-3 m-0" style="background: #ECE5FB; height: 2.5rem;">
                  <h1 class="flex-grow-1 mt-2" style="font-size: 14px !important;color: #594585 !important;">Choose the Alerts
                  </h1>
                  <img src="assets/New_Images/ep_close-bold.png" width="16px" height="16px" (click)="CloseModal('edit_alerts')"
                    style="cursor: pointer;">
                </div>
                <div class="d-flex justify-content-center p-3 flex-column">
                    <input type="text" class="form-control" style="width: 90% !important;font-style: italic;" placeholder="Search Precautions">
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Cochlea Implants</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">High Blood Pressure</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Nasogastric Tube</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Adrenal Insufficiency</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Glucose 6 Hosphate</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Pacemaker Tube</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Kidney Transplant Status</h5>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <input type="checkbox" class="form-check-input check-box-style">
                        <h5 class="me-auto ms-2 mt-1 " style="color: #4C5557 !important;">Suicide/Self-harm Risk</h5>
                    </div>
                </div>
                  <div class="d-flex justify-content-center p-3 mt-3">
                    <button type="button" class="btn-outline me-3" style="width: 17% !important;" (click)="CloseModal('edit_alerts')"
                    >Cancel</button>
                  <button type="button" class="btn-primary" style="width: 18% !important;">Update</button>
                  </div>
              </div>
            </div>
          </div>

          <!--view-GCS-->
          <div bsModal #view_gcs="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2" [config]="{ignoreBackdropClick: true}" >
            <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 850px !important;">
              <div class="modal-content">
                <div class="d-flex justify-content-around align-items-center p-3 m-0" style="background: #ECE5FB; height: 2.5rem;">
                  <h1 class="flex-grow-1" style="font-size: 14px !important;color: #594585 !important;">View GCS
                  </h1>
                  <img src="assets/New_Images/ep_close-bold.png" width="16px" height="16px" (click)="CloseModal('view_gcs')"
                    style="cursor: pointer;">
                </div>
                <div class="d-flex justify-content-center p-3 mt-2">
                    <h2 style="font-weight: 500 !important;padding: 5px 31px;border-radius: 100px;background-color: #2D9508;color: #fff !important;">4-Mild</h2>
                </div>
                <div class="p-3">
                    <table class="table table-responsive">
                        <thead style="background-color:#E4DAFA !important;">
                            <tr>
                                <th class="border-style">Eye Opening</th>
                                <th class="border-style">Verbal Response</th>
                                <th class="border-style">Motor Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="header-style">1-None</th>
                                <th class="header-style">1-None</th>
                                <th class="header-style">2-Extension</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                  <div class="d-flex justify-content-center p-3 mt-3">
                  <button type="button" class="btn-primary" style="width: 90px !important;height: 30px !important;" (click)="CloseModal('view_gcs')">close</button>
                  </div>
              </div>
            </div>
          </div>
        <div class="row mt-3 m-0">
            <div class="col-12 p-0">
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#clinical_items" role="tab"
                            aria-selected="true">
                            <h1 class="d-none d-sm-block name nav_tabs_texts"> <img src="assets/New_Images/clinical_history.png"
                                    alt="clinical"> Clinical History</h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#labs" role="tab" aria-selected="false">
                            <h1 class="d-none d-sm-block name nav_tabs_texts"><img src="assets/New_Images/labs.png" alt="clinical">Labs
                            </h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#medication" role="tab" aria-selected="false">
                            <h1 class="d-none d-sm-block name nav_tabs_texts"><img src="assets/New_Images/medication.png"
                                    alt="clinical">Medication</h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#care_team" role="tab" aria-selected="false">
                            <h1 class="d-none d-sm-block name nav_tabs_texts"><img src="assets/New_Images/care_team.png"
                                    alt="clinical">Care Team</h1>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="clinical_items" class="tab-pane fade show active" role="tabpanel">
                        <app-clinical-history-tab></app-clinical-history-tab>
                    </div>
                    <div id="labs" class="tab-pane fade" role="tabpanel">
                        <app-labs></app-labs>
                    </div>
                    <div id="medication" class="tab-pane fade" role="tabpanel">
                        <app-medication></app-medication>
                    </div>
                    <div id="care_team" class="tab-pane fade" role="tabpanel">
                        <app-care-team></app-care-team>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 m-0 d-flex justify-content-between mb-4">
            <div class="col-8 other-details cards p-0">
                <div class="d-flex ms-2">
                    <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger"><span class="other-text ms-2">Other
                        details</span>
                </div>
                <hr class="mt-0" style="color:rgba(231, 225, 243, 1);">
                <div class="ms-3">
                    <h6 style="color: #A8ACAD !important;">Speciality</h6>
                    <h5 class="sub-h5" style="color: #4C5557 !important;">Diagnostic</h5>
                    <h6 style="color: #A8ACAD !important;">Critical Information</h6>
                    <p class="sub-h5" style="color: #4C5557 !important;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente eum
                        fugit aperiam ullam quae minus, voluptatum officia facere rem esse velit repellat hic unde! Nam
                        eius ullam blanditiis eligendi quia!</p>
                    <h6 style="color: #A8ACAD !important;">Notes</h6>
                    <p class="sub-h5" style="color: #4C5557 !important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam reiciendis
                        provident harum dolorum laudantium voluptatum enim, et iste exercitationem blanditiis,
                        dignissimos officia. Expedita, sed? Non eligendi dolore totam assumenda consectetur.</p>
                </div>
            </div>
            <div class="col-4 documents cards p-0">
                <div class="d-flex ms-2">
                    <img src="assets/New_Images/fa_navicon.svg" alt="ham-burger"><span
                        class="other-text ms-2">Documents</span>
                </div>
                <hr class="mt-0" style="color:rgba(231, 225, 243, 1);">
                <div class="d-flex flex-row justify-content-between ms-3">
                    <h4 class="download-content">Scanned report.pdf
                    </h4>
                    <img src="assets/New_Images/fa_download.png" class="me-3" alt="download" width="16px" height="15px">
                </div>
                <hr style="color: #B1CBD4; border: 0.5px dotted;margin: 0;width: 93%;" class="ms-3">
                <div class="d-flex flex-row justify-content-between ms-3 mt-2">
                    <h4 class="download-content">Scanned report.pdf
                    </h4>
                    <img src="assets/New_Images/fa_download.png" class="me-3" alt="download" width="16px" height="15px">
                </div>
            </div>
        </div>
    </div>
</div>

   