
::ng-deep .ag-row{
  border-bottom : none !important
}

::ng-deep .ag-row-odd{
  margin: 10px 0px !important;
  background:#F3F4F8 !important;
  z-index: 2 ;
}

::ng-deep .ag-row-even{
  margin: 10px 0px !important;
  background: none !important;
}

::ng-deep .ag-header-viewport
{
  background: #F3F4F8 !important;
  border: 1px solid #C9C9C9;
}

::ng-deep .ag-header-cell-text
{
  font-size: 14px !important;
  font-weight: 500 !important;
}

::ng-deep .ag-cell-value
{
  font-size: 10px !important;
  font-weight: 400 !important;
}

::ng-deep .ag-root-wrapper
{
  border: 1px solid #747474 !important;
  border-radius: 15px;
}

