<div class="cards">
  <div class="row">
    <div class="col-12">
      <div class="d-flex">
        <img src="assets/images/back_arrow.svg" width="24px" height="24px" class="me-2" style="cursor: pointer;" (click)="GoBackTodashboard()">
        <h1 class="header_name_bold">Material details - Daily consumed</h1>
      </div>
      <div class="d-flex flex-row mt-2 p-2 align-items-center" style="background: #F3F4F8;">
        <div class="me-3" style="width: 20%;">
          <input class="form-control" style="width: 100%;" placeholder="Search">
        </div>
        <div class="me-3" style="width: 20%;">
          <ng-select [items]="filter_daily_consumed" placeholder="Select the Sub-status"></ng-select>
        </div>
        <div class="me-2">
          <input type="text" placeholder="Select Date" class="form-control"
          style="height: 35px;font-size: 0.66rem !important;"
            [bsConfig]="{withTimepicker: false, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
            bsDaterangepicker>
        </div>
        <div class="">
          <button class="btn-new" style="padding: 9px 16px 9px 16px !important;">Search</button>
        </div>
      </div>
      <div class="mt-4">
        <!-- <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #myGrid_1
        style="width: 100%;height:600px;"  [defaultColDef]="defaultColDef" [sideBar]="sideBar"></ag-grid-angular> -->

        <ag-grid-angular style="width: 100%;height:550px;" [columnDefs]="daily_consumed_columnDef" [defaultColDef]="defaultColDef" [gridOptions]="gridOptionsDailyConsumed"
        [masterDetail]="true" [embedFullWidthRows]="true" [detailCellRendererParams]="detailCellRendererParams"
        [rowData]="DailyConsumedGridData" class="ag-theme-alpine" (firstDataRendered)="onFirstDataRendered($event)"
        (gridReady)="onGridReady_dailyconsumedgrid($event)" [sideBar]="sideBar"></ag-grid-angular>
      </div>
    </div>
  </div>
</div>
