.main_active{
  background: #855EDB;
  border: 1px solid #855EDB;
  color: #fff !important;
  border-radius: 6px;
}
.tab_filter_img
{
  background: #F3F4F8;
  padding: 8px;
  cursor: pointer;
}
::ng-deep .ng-dropdown-panel
{
  background: #fff;
  height: 110px;
  overflow-y: scroll;
}
.form-check-input:checked
{
  background-color: #855EDB !important;
    border-color: #855EDB !important;
}

::ng-deep .ag-root ::-webkit-scrollbar {
  width: 2em;
  height: 2em
}
::ng-deep .ag-root ::-webkit-scrollbar-button {
  background: #ccc
}
::ng-deep .ag-root ::-webkit-scrollbar-track-piece {
  background: #ECECEC
}
::ng-deep  .ag-root ::-webkit-scrollbar-thumb {
  background: #747474
}

.ag-theme-alpine
{
  --ag-row-hover-color: none !important;
  --ag-header-background-color : #594585 !important;
  --ag-selected-row-background-color : transparent !important
}
::ng-deep .ag-row{
  border-bottom : none !important
}

// ::ng-deep .ag-row :hover{
//   // background: none !important;
// }

::ng-deep .ag-row-selected::before
{
  background-color: transparent !important
}

::ng-deep .ag-row-odd{
  margin: 10px 0px !important;
  background:#F3F4F8 !important;
  z-index: 2 ;
  cursor: pointer !important;
}

::ng-deep .ag-row-even{
  margin: 10px 0px !important;
  background: none !important;
  cursor: pointer !important;
}



::ng-deep .ag-header-viewport
{
  background: #594585;
  // border: 1px solid #C9C9C9;
}

::ng-deep .ag-header-cell-text
{
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #fff !important;
}

::ng-deep .ag-cell-value
{
  font-size: 10px !important;
  font-weight: 400 !important;
}

::ng-deep .ag-checkbox-input-wrapper
{
  width: 15px !important;
  height: 15px !important;
}

::ng-deep .ag-root-wrapper
{
  border: 1px solid #747474 !important;
  font-family: poppins !important;
}

::ng-deep .ag-root-wrapper
{
  border: 1px solid #747474 !important;
  border-radius: 15px;
  font-family: poppins !important;
}
::ng-deep .ag-row-group-expanded
{
  background: #8B8B8B !important;

.ag-cell-value{
  color: #fff !important;
}
.ag-icon-tree-open{
  color: #fff !important;
}
}



.show_filters
{
  display: block !important;
  height: 100% !important;
}
.reduce_grid_size
{
  width: 100%;
  position: relative;
  left: 0%;
}

:host ::ng-deep .ng-select-container
{
  background: #fff;
  border:1px solid #BEBEBF !important;
}
