<div class="cards">
  <div class="row p-1">
    <div class="col-1">
      <h1 class="header_name_bold mt-1" style="text-wrap: nowrap !important;word-break: normal !important;">Procedure List</h1>
    </div>
    <div class="col-7">
      <div class="d-flex justify-centent-between align-items-center ms-3"
        style="border: 1px solid #ECECEC;border-radius: 6px;flex-wrap: wrap;width: fit-content;">
        <div *ngFor="let x of main_tabs_filters" (click)="Change_grid_data(x.value)" class="me-2"
          style="cursor: pointer;">
          <h1 style="font-weight: 500 !important;padding: 6px 16px 6px 16px !important;"
            [ngClass]="{ 'main_active' : main_filter_value == x.value  }">
            {{x.value}}</h1>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-between align-items-center float-end" style="flex-wrap: wrap;">
        <div class="me-2">
          <button class="btn-diasble" >Action</button>
        </div>
        <div class="tab_filter_img me-2" (click)="ReloadGrid()">
          <img src="assets/images/reload.svg" width="20px" height="20px" tooltip="Reload" placement="bottom">
        </div>
        <div class="tab_filter_img me-2">
          <!-- <img src="assets/images/Download.svg" width="20px" height="20px" tooltip="Import" placement="bottom"> -->
          <!-- <input id="selectedFile" type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="selectedFileChange($event)"  class="import_images"/> -->
          <!-- <input class="form-control d-none" value="" id="selectedFile" type="file" accept=".xlsx" (change)="selectedFileChange($event)"> -->
          <!-- <div style="border: 1px dotted #855EDB;width: 20px;height: 20px;">
            <div class="position-relative d-inline-block">
              <div class="position-absolute bottom-0 end-0" style="left: -6px;top: -19px;">
                <label for="project-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                  title="Select Image">
                  <div class="avatar-xs">
                    <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer shadow font-size-16">
                      <img src="assets/images/Download.svg" width="20px" height="20px" tooltip="Import" placement="bottom">
                    </div>
                  </div>
                </label>
                <input class="form-control d-none" value="" id="project-image-input" type="file" accept=".xlsx , .csv"
                  (change)="selectedFileChange2($event)">
              </div>
            </div>
          </div> -->
        </div>
        <div class="tab_filter_img me-2">
          <img src="assets/images/print.svg" width="20px" height="20px" tooltip="Export" placement="bottom">
        </div>
      </div>
    </div>
  </div>
  <div style="background: #F3F4F8;border-radius: 8px;">
    <div class="row py-2  mx-1 my-2" style="border-bottom: 2px solid #fff;">
      <div class="col-1 px-1" style="display: flex;flex-wrap: wrap;">
        <button class="btn-new" style="width: 100px !important;" (click)="ShowAdvancedFilters()"><img
            src="assets/images/filter_button_img.svg" width="24px" height="24px">Filter</button>
      </div>
      <div class="col-7 px-1">
        <div class="d-flex flex-wrap justify-centent-between align-items-center ps-0">
          <div style="width: 28%;">
            <ng-select [items]="Saved_filter_options" (change)="changeSavedfilter(CurrentSavedFilter)"
              [(ngModel)]="CurrentSavedFilter" placeholder="Select the Saved Filter"></ng-select>
          </div>
          <div style="width: 28%;" class="ms-2">
            <input type="text" placeholder="Select Date" class="form-control"
              style="height: 35px;font-size: 0.66rem !important;"
              [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
              bsDaterangepicker>
          </div>
          <div style="width: 28%;" class="ms-2">
            <ng-select [items]="current_Procedure_filters" placeholder="Select the Sub-status"></ng-select>
          </div>
          <div class="ms-2">
            <div class="form-check form-switch form-switch-md d-flex justify-centent-between align-items-center ps-0">
              <h1 style="font-weight: 500 !important;text-wrap: nowrap !important;">Auto rota</h1>
              <input class="form-check-input ms-3" type="checkbox">
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 px-1">
        <div class="d-flex justify-centent-between">
          <div style="width: 30%;">
            <ng-select [items]="sortBy_values" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="id"
              [placeholder]="'Sort by'">
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item}}
              </ng-template>
            </ng-select>
          </div>
          <div style="width: 100%;" class="ms-2">
            <input class="form-control" placeholder="Search by name, MRN, Patient ID, Batch No">
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2 mx-1 mt-4 mb-2">
      <div class="col-8">
        <div class="d-flex align-items-center">
          <div>
            <h1 style="font-weight: 500 !important;">Active filters :</h1>
          </div>
          <div class="ms-2" *ngFor="let x of Current_Saved_filter_values;let i = index"
            style="padding: 5px 6px 5px 6px;background: #FFFFFF;border-radius: 12px;">
            <p class="mb-0" style="font-weight: 400 !important;">{{x}}<img src="assets/images/delete_filter_value.svg"
                class="ms-1" *ngIf="enable_edit_feature" (click)="DeleteSavedFiltervalues(i)"></p>
          </div>
        </div>
      </div>
      <div class="col-4 mb-2">
        <div class="d-flex justify-content-end align-items-center">
          <div *ngIf="enabled_reset_btn">
            <button type="button" class="btn-2 me-4" (click)="resetSavedFilters()"><i
                class="mdi mdi-reload me-2"></i>Reset</button>
          </div>
          <div *ngIf="enabled_edit_btn && enabled_saveas_button">
            <button type="button" class="btn-new me-2" style="width: auto !important"
              (click)="EnableEdit()">Edit</button>
          </div>
          <div *ngIf="!enabled_saveas_button">
            <button type="button" class="btn-new me-2" style="width: auto !important" (click)="EnableEdit()">Save
              as</button>
          </div>
          <div *ngIf="!enabled_edit_btn">
            <button type="button" class="btn-diasble me-2">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" [ngClass]="{'show_filters' : show_advanced_filtes == true }"
      style="display: none;height: auto;">
      <div style="border: 1px solid #ECECEC;border-radius: 12px;">
        <div class="d-flex p-2" style="border-bottom: 1px solid #ECECEC;cursor: pointer;"
          (click)=" HideAdvanceFilters()">
          <img src="assets/images/back_arrow.svg" width="24px" height="24px" class="me-2">
          <h1 class="header_name_bold">Filters</h1>
        </div>
        <div class="row mt-3 mx-1">
          <div class="col-6">
            <p style="font-weight: 400;" class="mb-2">Patient Type</p>
            <div class="d-flex flex-wrap">
              <p style="font-weight: 500 !important;padding: 6px !important;" class="pointer"
                [ngClass]="{ 'main_active' : selected_patient_type == 'in_patient'}"
                (click)="PatientType('in_patient')">In Patient</p>

              <p style="font-weight: 500 !important;padding: 6px !important;" class="pointer"
                [ngClass]="{ 'main_active' : selected_patient_type == 'out_patient'}"
                (click)="PatientType('out_patient')">Out Patient</p>
            </div>
          </div>
          <div class="col-6">
            <p style="font-weight: 400;" class="mb-2">Gender</p>
            <div class="d-flex flex-wrap">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>
          </div>
        </div>
        <div class="row mt-3 mx-1">
          <div class="col-12">
            <p style="font-weight: 400;" class="mb-2">Radiology</p>
            <div class="d-flex flex-wrap justify-centent-between">
              <div class="form-check form-check-inline me-4">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label" for="inlineRadio1">Diagnostic Radiology</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Interventional Radiology</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="d-flex flex-column p-3">
              <div class="mt-2" style="width: 100%;">
                <p style="font-weight: 400;" class="mb-2">Exam Status</p>
                <div style="width: auto;">
                  <ng-select [items]="current_Procedure_filters" placeholder="Select"></ng-select>
                </div>
              </div>
              <div class="mt-3">
                <p style="font-weight: 400;" class="mb-2">Priority</p>
                <div style="width: auto;">
                  <ng-select [items]="current_Procedure_filters" placeholder="Select"></ng-select>
                </div>
              </div>
              <div class="mt-3">
                <p style="font-weight: 400;" class="mb-2">Procedure Status</p>
                <div style="width: auto;">
                  <ng-select [items]="current_Procedure_filters" placeholder="Select"></ng-select>
                </div>
              </div>
              <div class="mt-3">
                <p style="font-weight: 400;" class="mb-2">Study date/time</p>
                <div style="width: auto;">
                  <ng-select [items]="current_Procedure_filters" placeholder="Select"></ng-select>
                </div>
              </div>
              <div class="d-flex flex-wrap" style="border-top: 1px solid #ECECEC;flex-direction: row-reverse;
              margin-top: 33%">
                <div class="mt-2">
                  <button class="btn-2">Cancel</button>
                </div>
                <div class="mt-2">
                  <button class="btn-diasble me-2">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-9" [ngClass]="{'reduce_grid_size':reduce_size == false}">
      <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #myGrid_1
        style="width: 100%;height: 700px;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef"
        [sideBar]="sideBar"></ag-grid-angular>
    </div>
  </div>

  <!-- <button type="button" class="btn btn-outline-primary" (click)="navigate_to_WorkArea()">Primary</button> -->
