.con
{
  width: 250px;
  height: 200px;
}

.cle{
  width: 200px;
  height: 200px;
}
.vp
{
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: 10%;
  left: 22%;
}
.header_2
{
  position: absolute;
  top: 7%;
  left: 25%;
}
