<!-- <div class="row">
  <div class="col-3" style="margin-left: 300px;height: 300px;">
    <div class="p-4 mt-auto" style="position: relative;
                z-index: 2;
                color: white;
                filter: opacity(0.9);
                font-size: 14px;
                border-radius: 6px;
                border: 2px solid rgb(186 186 186 / 50%);
                background:linear-gradient(86deg, rgb(255 255 255 / 20%) 11.14%, rgba(255, 255, 255, 0.04) 113.29%)">
      <div class="row">
        <div class="col-12" style="height: 300px;">
          <div class="header" style="    position: relative;
          right: 15%;
          bottom: 18%;">
            <img src="assets/images/congrats.svg" class="con">
          </div>
          <div class="header_2">
            <img src="assets/images/Celebrate.svg" class="cle">
            <img src="assets/images/VP.svg" class="vp">
          </div>
          <div class="body">
            <div class="d-flex flex-column align-items-center" style="color: #000;">
              <span>Esther Howard</span>
              <span>Best Audit Performance Award</span>
              <span>Coding - Advanced Gastro</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<h1>Dashboards</h1>
