<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-start align-items-center mb-3 pointer pb-4" (click)="GoBackToAllItems()"
      style="border-bottom: 0.5px solid #747474 !important;">
      <img src="assets/images/back_arrow.svg" class="me-2">
      <h1>Histroy</h1>
    </div>

    <!-- <div style="border:0.5px solid #8B8B8B ;border-radius: 6px;" class="m-3"
      *ngFor="let x of ListViewData;let i = index">
      <div class="d-flex flex-wrap">
        <div style="position: relative;right: 13px;">
          <img src="assets/images/listItems_img.png" style="width: 177px;height:86px;border-radius: 5px 0px 0px 5px;"
            class="pointer">
        </div>
        <div class="d-flex flex-wrap flex-column  align-items-start me-5">
          <div class="d-flex flex-wrap my-2">
            <p class="mb-0">{{ x.item_name }}</p>
          </div>
          <div class="d-flex flex-wrap align-items-center mb-2">
            <h5 class="mb-0">Date :</h5>
            <h5 style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.date }}
              &nbsp;</h5>
          </div>
          <div class="d-flex flex-wrap align-items-center mb-2">
            <h5 class="mb-0">Activity type :</h5>
            <h5 style="font-weight: 400 !important;" class="mb-0 ms-2">{{ x.activity_type }}</h5>
          </div>
        </div>
        <div class="d-flex flex-wrap flex-column justify-centent-between ms-5 mt-2" style="width: 700px;">
          <div class="mb-2">
            <p class="mb-1">Activity</p>
            <h5 style="color: #1B1B1B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0">{{
              x.activity
              }}</h5>
          </div>
        </div>
      </div>
    </div> -->


    <div style="height: 600px;overflow-y: auto;" class="mb-3">

      <div style="border:0.5px solid #8B8B8B ;border-radius: 6px;" class="m-3" *ngFor="let x of ItemHistoryData">
        <div class="d-flex flex-wrap">
          <div>
            <!-- <input id="customCheck1" type="checkbox" class="form-check-input" style="border: 1px solid #747474;"
              style="position: relative;left: 5px;top:4px;z-index: 9;"> -->
            <img src="assets/images/Item_default_img.svg"
              style="width: 186px;height:106px;border-radius: 6px 0px 0px 6px;position: relative;"
              class="pointer">
          </div>
          <div class="d-flex flex-wrap flex-column justify-content-between  align-items-start mt-2 my-1 ms-2"
            style="width: 180px;">
            <div class="mb-2 d-flex flex-wrap">
              <h1 class="my-1 header_name" style="font-weight: 600 !important;">{{ x.item_history.item_name }}</h1>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;color: #1B1B1B !important;">Item number :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.item_history.item_number }}</p>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;color: #D62424 !important;">Expiry :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.item_history.expired_date }}</p>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
            style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 0px 0px 12px !important;">
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Date :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.item_history.updated_at | date:'yyyy-MM-dd' }}</p>
            </div>
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Category :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.item_history.item_category.name }}</p>
            </div>
            <div class="mb-2 d-flex flex-wrap align-items-center ">
              <h1 class="my-1" style="font-weight: 500 !important">By:</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                Jenny Wilson</p>
              <p style="color: #594585 !important;padding: 0px 6px 0px 6px;background: #F3F1F9;border-radius: 10px;"
                class="mb-0 ms-1">Admin</p>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
            style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 12px 0px 12px !important;width: 500px;">
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Activity :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.action_type }}</p>
            </div>
          </div>
          <!-- <div class="d-flex flex-column justify-content-between align-items-center p-1 ms-auto hover_background"
                        style="width: 50px;background: #EEEEEE;border-radius: 0px 6px 6px 0px">
                        <div class="dropdown me-2 ms-auto pointer" (click)="RestoreIndividualItems()">
                          <i class="mdi mdi-restore font-size-12"></i>
                        </div>
                      </div> -->
        </div>
      </div>

      <div style="border:0.5px solid #8B8B8B ;border-radius: 6px;" class="m-3" *ngFor="let x of CategoryHistoryData">
        <div class="d-flex flex-wrap">
          <div>
            <!-- <input id="customCheck1" type="checkbox" class="form-check-input" style="border: 1px solid #747474;"
              style="position: relative;left: 5px;top:4px;z-index: 9;"> -->
            <img src="assets/images/default_category.svg"
              style="width: 186px;height:106px;border-radius: 6px 0px 0px 6px;position: relative;"
              class="pointer">
          </div>
          <div class="d-flex flex-wrap flex-column justify-content-between  align-items-start mt-2 my-1 ms-2"
            style="width: 180px;">
            <div class="mb-2 d-flex flex-wrap">
              <h1 class="my-1 header_name" style="font-weight: 600 !important;">{{ x.category_history.name }}</h1>
            </div>
            <div class="mb-2 d-flex flex-wrap align-items-center ">
              <h1 class="my-1" style="font-weight: 500 !important">By:</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                Jenny Wilson</p>
              <p style="color: #594585 !important;padding: 0px 6px 0px 6px;background: #F3F1F9;border-radius: 10px;"
                class="mb-0 ms-1">Admin</p>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;">Date :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.category_history.updated_at | date:'yyyy-MM-dd' }}</p>
            </div>
            </div>
          <!-- <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
                    style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 0px 0px 12px !important;">
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                      <h1 class="my-1" style="font-weight: 500 !important">Deleted date :</h1>
                      <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                        05-08-2024</p>
                    </div>
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                      <h1 class="my-1" style="font-weight: 500 !important">Category :</h1>
                      <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                        Neurology</p>
                    </div>
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                      <h1 class="my-1" style="font-weight: 500 !important">Store Qty :</h1>
                      <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">150</p>
                    </div>
                  </div> -->
          <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
            style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 12px 0px 12px !important;width: 903px;">
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Activity :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.action_type }}</p>
            </div>
          </div>
          <!-- <div class="d-flex flex-column justify-content-between align-items-center p-1 ms-auto hover_background"
                        style="width: 50px;background: #EEEEEE;border-radius: 0px 6px 6px 0px">
                        <div class="dropdown me-2 ms-auto pointer" (click)="RestoreIndividualItems()">
                          <i class="mdi mdi-restore font-size-12"></i>
                        </div>
                      </div> -->
        </div>
      </div>

      <div style="border:0.5px solid #8B8B8B ;border-radius: 6px;" class="m-3" *ngFor="let x of SubCategoryHistoryData">
        <div class="d-flex flex-wrap">
          <div>
            <!-- <input id="customCheck1" type="checkbox" class="form-check-input" style="border: 1px solid #747474;"
              style="position: relative;left: 5px;top:4px;z-index: 9;"> -->
            <img src="assets/images/default_subcategory.svg"
              style="width: 186px;height:106px;border-radius: 6px 0px 0px 6px;position: relative;"
              class="pointer">
          </div>
          <div class="d-flex flex-wrap flex-column justify-content-between  align-items-start mt-2 my-1 ms-2"
            style="width: 180px;">
            <div class="mb-2 d-flex flex-wrap">
              <h1 class="my-1 header_name" style="font-weight: 600 !important;">{{ x.sub_category_history.sub_category_name }}</h1>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;color: #1B1B1B !important;">Parent category :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.sub_category_history.category.name }}</p>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;">Date :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.updated_at | date:'yyyy-MM-dd' }}</p>
            </div>
          </div>
          <!-- <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
                    style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 0px 0px 12px !important;">
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                      <h1 class="my-1" style="font-weight: 500 !important">Deleted date :</h1>
                      <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                        05-08-2024</p>
                    </div>
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                      <h1 class="my-1" style="font-weight: 500 !important">Category :</h1>
                      <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                        Neurology</p>
                    </div>
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                      <h1 class="my-1" style="font-weight: 500 !important">Store Qty :</h1>
                      <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">150</p>
                    </div>
                  </div> -->
          <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
            style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 12px 0px 12px !important;width: 903px;">
            <div class="mb-2 d-flex flex-wrap align-items-center ">
              <h1 class="my-1" style="font-weight: 500 !important">By:</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                Jenny Wilson</p>
              <p style="color: #594585 !important;padding: 0px 6px 0px 6px;background: #F3F1F9;border-radius: 10px;"
                class="mb-0 ms-1">Admin</p>
            </div>
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Activity :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.action_type }}</p>
            </div>
          </div>
          <!-- <div class="d-flex flex-column justify-content-between align-items-center p-1 ms-auto hover_background"
                        style="width: 50px;background: #EEEEEE;border-radius: 0px 6px 6px 0px">
                        <div class="dropdown me-2 ms-auto pointer" (click)="RestoreIndividualItems()">
                          <i class="mdi mdi-restore font-size-12"></i>
                        </div>
                      </div> -->
        </div>
      </div>

      <div style="border:0.5px solid #8B8B8B ;border-radius: 6px;" class="m-3" *ngFor="let x of VendorHistoryData">
        <div class="d-flex flex-wrap">
          <div>
            <!-- <input id="customCheck1" type="checkbox" class="form-check-input" style="border: 1px solid #747474;"
              style="position: relative;left: 5px;top:4px;z-index: 9;"> -->
            <img src="assets/images/default_vendor.svg"
              style="width: 186px;height:106px;border-radius: 6px 0px 0px 6px;position: relative;"
              class="pointer">
          </div>
          <div class="d-flex flex-wrap flex-column justify-content-between  align-items-start mt-2 my-1 ms-2"
            style="width: 240px;">
            <div class="mb-2 d-flex flex-wrap">
              <h1 class="my-1 header_name" style="font-weight: 600 !important;">{{ x.vendor_history.VendorName}}</h1>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;color: #1B1B1B !important;">Email :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.vendor_history.VendorEmail }}
              </p>
            </div>
            <div class="d-flex flex-wrap align-items-center mb-2">
              <h1 class="my-1" style="font-weight: 500 !important;">Contact :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;" class="mb-0 ms-1">{{ x.vendor_history.VendorContactNo }}</p>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
            style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 0px 0px 12px !important;">
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Date :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.vendor_history.updated_at | date:'yyyy-MM-dd' }}</p>
            </div>
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Vendor Address :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.vendor_history.VendorAddress }}</p>
            </div>
            <div class="mb-2 d-flex flex-wrap align-items-center ">
              <h1 class="my-1" style="font-weight: 500 !important">By:</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">
                Jenny Wilson</p>
              <p style="color: #594585 !important;padding: 0px 6px 0px 6px;background: #F3F1F9;border-radius: 10px;"
                class="mb-0 ms-1">Admin</p>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-column justify-centent-between ms-auto mt-2 my-1"
            style="border-left: 0.2px solid #c0c0c0 !important;padding: 3px 12px 0px 12px !important;width: 500px;">
            <div class="mb-2 d-flex flex-wrap align-items-center">
              <h1 class="my-1" style="font-weight: 500 !important">Activity :</h1>
              <p style="color: #8B8B8B !important;font-weight: 400 !important;line-height: 12px;" class="mb-0 ms-1">{{ x.action_type }}</p>
            </div>
          </div>
          <!-- <div class="d-flex flex-column justify-content-between align-items-center p-1 ms-auto hover_background"
                        style="width: 50px;background: #EEEEEE;border-radius: 0px 6px 6px 0px">
                        <div class="dropdown me-2 ms-auto pointer" (click)="RestoreIndividualItems()">
                          <i class="mdi mdi-restore font-size-12"></i>
                        </div>
                      </div> -->
        </div>
      </div>

    </div>
  </div>
</div>
