.profile-tooltip {
    width: 300px;
    height: 256px;
    padding: 10px;
    background-color: #FEF1C4;
    border: 1px solid #E4CD79;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Poppins';
    .image-container {
        position: relative;
        width: 44px; /* Match the width of the image */
        height: 44px; /* Match the height of the image */
    }
    
    .status-indicator {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: #2D9508;
        border-radius: 50%;
        border: 2px solid #FDEAA5; /* Optional: to add a white border around the circle */
    }
   
    
}
