<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row align-items-center" style="background: #F3F4F8;border-radius: 8px;padding: 15px;">
      <div class="me-2" style="width: 20%;">
       <input type="type" class="form-control" placeholder="Search">
      </div>
      <div class="me-3" style="width: 20%;">
        <input type="text" placeholder="Select Date" class="form-control-new "
        style="height: 36px;background: #fff !important;"
        [bsConfig]="{withTimepicker: false, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
        bsDaterangepicker>
      </div>
      <div class="me-2">
        <button class="btn-new"
          style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;">Search</button>
      </div>
      <div class="me-2">
        <button class="btn-2"
          style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;border: 0.5px solid #855EDB;">Reset</button>
      </div>
    </div>
    <div class="mt-2">
      <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #myGrid_backtocabinet
      style="width: 100%;height: 545px;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef" [rowData]="WastedGridData"></ag-grid-angular>
  </div>
</div>
</div>
