<div class="d-flex flex-row align-items-center">
  <div>
    <button class="btn-new minus_qty"
      style="padding:4px !important;width:25px!important;height:25px !important; padding-right: 20px !important"
      (click)="DecreaseQty()"></button>
  </div>
  <div class="mb-2"><span readonly style="width: 30% !important;background:#fff !important" class="mx-3 value">{{ Qty_Value }}</span>
  </div>
  <div>
    <button class="btn-new plus_qty"
      style="padding:4px !important;width:25px!important;height:25px !important; padding-right: 20px !important;"
      (click)="IncreaseQty()"></button>
  </div>
</div>
