
<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row p-3 editable_header"
      style="background: #855EDB;border: 1px solid #855EDB;border-radius:8px;position: relative;z-index: 9;height: 50px;top: -6px;"
      *ngIf="showEditablefields == true">
      <div class="flex-shrink-1">
        <div class="d-flex flex-row align-items-center">
          <div class="me-2">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          </div>
          <div>
            <h1 style="color: #fff !important;">Deselect | {{selected_row_data_length }} Item selected</h1>
          </div>
        </div>
      </div>
      <div class="flex-grow-0 ms-auto">
        <div class="d-flex flex-row justify-centent-between align-items-center">
          <div class="me-4">
            <h1 style="color: #fff !important;" class="mb-0"><i class="mdi mdi-pencil-outline me-1"
                style="color:#fff;font-size:13px"></i>Edit</h1>
          </div>
          <div class="me-4">
            <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/update_qty.svg" class="me-1"
                style="width: 13px;height:13px;">Update Qty</h1>
          </div>
          <div class="me-4">
            <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/move_img.svg"
                style="width: 13px;height:13px;" class="me-1">Move</h1>
          </div>
          <div class="me-4">
            <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/clone_img.svg"
                style="width: 13px;height:13px;" class="me-1">Clone</h1>
          </div>
          <div class="me-4">
            <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/add_tag_white.svg"
                style="width: 13px;height:13px;" class="me-1">Add Tag</h1>
          </div>
          <div class="me-4">
            <h1 style="color: #fff !important;" class="mb-0"><i class="mdi mdi-trash-can-outline me-1"
                style="color:#fff;font-size:13px"></i>Delete</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div style="height: 600px;overflow-y: scroll;">
    <div class="item-grid">
      <div class="d-flex flex-column m-2 grid-outline" *ngFor="let x of Grid_data">
        <div style="height: 137px;">
          <div class="ms-1 mt-1">
            <input id="customCheck" type="checkbox" class="form-check-input" style="border: 1px solid #747474;" (click)="selectgrid()" />
          </div>
          <img [src]="x.img" class="pointer" (click)="viewitem?.show()">
          <div *ngIf="x.items" class="card-item-count pointer" (click)="navigateToDetailedView(false)">
            <h5 class="mb-0">Items:{{ x.items }}</h5>
          </div>
        </div>
        <div class="p-1">
        <div class="d-flex align-items-center flex-row" style="width: 100%;">
          <p class="mb-0">{{ x.item_name }}</p>
          <div class="dropdown mb-0 ms-auto" dropdown>
            <a class="btn btn-link text-muted dropdown-toggle"
                dropdownToggle role="button" data-toggle="dropdown"
                aria-haspopup="true" style="padding: 0px !important;">
                <i class="mdi mdi-dots-vertical font-size-12"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu style="min-width: 100px !important;">
                <a class="dropdown-item" href="javascript: void(0);"><i class="mdi mdi-pencil-outline me-1" style="color:#000;font-size:14px"></i>Edit</a>
                <a class="dropdown-item" href="javascript: void(0);"><img src="assets/images/set_alert.svg" style="width: 14px;height: 14px;" class="me-1">Set Alert</a>
                <a class="dropdown-item" href="javascript: void(0);"><img src="assets/images/clone_black.svg" width="13px"height="13px" class="me-1">Clone</a>
                <a class="dropdown-item" href="javascript: void(0);"><img src="assets/images/move_black.svg" width="13px"height="13px" class="me-1">Move</a>
                <a class="dropdown-item" href="javascript: void(0);"><img src="assets/images/add_tag_black.svg" width="13px"height="13px" class="me-1">Add Tag</a>
                <a class="dropdown-item" href="javascript: void(0);"><i class="mdi mdi-trash-can-outline me-1" style="color:#000;font-size:14px"></i>Delete</a>
            </div>
        </div>
        </div>
        <div class="d-flex flex-row align-items-center mt-1">
          <h5 style="color: #1B1B1B;">MRN:</h5><h5 class="mrn_value ms-1">{{ x.mrn_value }} | </h5>
          <h5 style="color: #D62424;" class="ms-2">Expiry</h5><h5 class="mrn_value ms-1">{{ x.expiry_date }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h5>Procedure :</h5><h5 style="font-weight: 400 !important;" class="ms-1">{{ x.procedure_value }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h5>Tags</h5>
          <div class="d-flex align-items-center">
            <div><h5  class="tags_value ms-1">{{ x.tags_value }}</h5></div>
            <!-- <div><h5  class="tags_value ms-1">Test</h5></div>
            <div><h5  class="tags_value ms-1">Test</h5></div> -->
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>


<div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewitem?.hide()"
          style="cursor: pointer">
      </div>
      <div style="overflow-y: scroll !important;height: 500px;">
      <div class="row mx-2 mt-3" style="flex-wrap: nowrap !important">
        <div class="col-3 px-2">
          <div class="d-flex flex-column justify-centent-between">
            <div class="mb-3">
              <label for="items_category" class="modal-label">Item:</label>
              <img src="assets/images/item_image_sample.svg" width="207px" height="104px">
            </div>
          </div>
        </div>
        <div class="col-9" style="padding: 0px 0px 0px 84px;">
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Item number</label>
                <h1 class="">Neurology</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1" >Item name</label>
               <h1 class="">ORS juice</h1>
              </div>
            </div>
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="" style="width: 100%;margin-bottom: 2.3rem;">
                <label for="items_category" class="modal-label mb-1">Item category</label>
                <h1 class="">ORS Juice</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Barcodes</label>
                <h1><img src="assets/images/barcode_view.svg" width="100px" height="45px" style="display: inline-flex;"></h1>
              </div>
            </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Procedure </label>
              <h1 class="">Cardiology</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Price</label>
              <h1 class="">100.00</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Store</label>
              <h1 class="">50</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Min level  </label>
              <h1 class="">52934</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Item Status</label>
              <h1 class="">In Stock</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Size</label>
              <h1 class="">300ml</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Cabinet</label>
              <h1 class="">0</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Cat No</label>
              <h1 class="">56954</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Vendor</label>
              <h1 class="">Flores Junita</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Unit</label>
              <h1 class="">60</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Expiry Date</label>
              <h1 class="">14-10-2023</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Lot No</label>
              <h1 class="">14454</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-8">
          <div class="d-flex">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Tags</label>
              <h1 >#energy #ORS #energy #ORS #energy #ORS #energy #ORS</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Unit No</label>
            <h1 class="">10</h1>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" class="modal-label mb-1">Item description</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" class="modal-label mb-1">Notes</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
    </div>
      <div class="d-flex flex-row justify-content-end p-3">
        <div>
          <button type="button" class="btn-new me-4"
            style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;"
            (click)="viewitem?.hide()">Close</button>
        </div>
        <div>
          <button type="button" class="btn-new me-2"
            style="width: auto !important;"
            (click)="viewitem?.hide()">Edit</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="previousitem">
        <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
      </div>
      <div class="nextitem">
        <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
      </div>
    </div>
  </div>
</div>
