<div class="cards">
  <div class="row">
    <div class="col-2" [ngClass]="{'hide0veralllist':hide_Overall_list == true}">
      <div style="border:1px solid #1B1B1B;border-radius: 4px;width: 100%;height: auto;" class="overAlllist p-2">
        <div class="mt-1">
          <h1 class="header_name">Overall List</h1>
        </div>
        <div class="mb-2">
        <input class="form-control-new mt-2" placeholder="Search by category,folder and item">
        </div>
        <div class="list_body" style="height: 600px;">
          <div class="d-flex" *ngFor="let x of folder_structure_value;let i = index" style="position: relative;">
            <div class="flex-grow-1 p-2 folders_name">
              <div (click)="select_folder(x.foldername)"><p class="folder_name mb-0" style="text-wrap: nowrap;"><img [src]="textcontent==x.foldername ? 'assets/images/selected_folder.svg' : 'assets/images/files.svg' " class="folder_img me-1" >{{x.foldername}}</p></div>
            </div>
            <div class="p-2" style="width: 110px;">
              <div class="float-end dropdown ms-2" dropdown>
                <a class="text-muted dropdown-toggle" href="javascript: void(0);" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu style="min-width: 7rem !important;">
                    <!-- <a class="dropdown-item" href="javascript: void(0);" style="padding: 5px 15px !important;"><i class="mdi mdi-eye-outline me-2"></i>View</a> -->
                    <a class="dropdown-item" href="javascript: void(0);" style="padding: 5px 15px !important;"><i class="mdi mdi-pencil-outline me-2"></i>Edit</a>
                    <a class="dropdown-item" href="javascript: void(0);" style="padding: 5px 15px !important;"><i class="mdi mdi-trash-can-outline me-2"></i>Delete</a>
                </div>
            </div>
            <div *ngIf="x.sub" style="position: relative;right:90%;top:20%" class="mb-3">
              <div class="d-flex" *ngFor="let sub of folder_structure_value[i].sub">
                <div class="flex-grow-1 p-2">
                  <div><p class="mb-0" style="text-wrap: nowrap;font-weight: 400 !important;"><img src="assets/images/files.svg" class="me-1">{{sub.subfoldername}}</p></div>
                </div>
                <div class="p-2" style="margin-left: 38px;">
                  <div class="float-end dropdown ms-2" dropdown>
                    <a class="text-muted dropdown-toggle" href="javascript: void(0);" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu style="min-width: 7rem !important;">
                        <!-- <a class="dropdown-item" href="javascript: void(0);" style="padding: 5px 15px !important;"><i class="mdi mdi-eye-outline me-2"></i>View</a> -->
                        <a class="dropdown-item" href="javascript: void(0);" style="padding: 5px 15px !important;"><i class="mdi mdi-pencil-outline me-2"></i>Edit</a>
                        <a class="dropdown-item" href="javascript: void(0);" style="padding: 5px 15px !important;"><i class="mdi mdi-trash-can-outline me-2"></i>Delete</a>
                    </div>
                </div>
                </div>
              </div>
            </div>
            </div>

          </div>
        </div>
        <div class="list-footer">
          <div class="d-flex justify-content-between align-items-center" style="flex-wrap: wrap;">
            <div>
              <button class="btn-diasble"><i class="mdi mdi-timer-outline"></i>Histroy</button>
            </div>
            <div>
              <button class="btn-diasble"><i class="mdi mdi-trash-can-outline"></i>Trash</button>
            </div>
          </div>
        </div>
        <img src="assets/images/ViewOnlyModeleft.svg" style="position: absolute;
        top: 48%;
        right:1%;
        bottom: 50%;cursor: pointer;width: 20px;height: 20px;z-index: 1;" (click)="HideOverAllList()">
      </div>
    </div>
    <div class="col-10" [ngClass]="{'showfullgrid':hide_Overall_list == true}">
      <img src="assets/images/ViewOnlyModeright.svg"
        style="position: absolute;top: 50%;margin-left: -20px;z-index: 1;display: none;cursor: pointer;"
        class="rightexpand" (click)="HideOverAllList()">
      <div class="d-flex flex-row justify-content-between align-items-center pb-4"
        style="border-bottom: 0.5px solid #1B1B1B;">
        <div>
          <ul class="nav line-tab nav-tabs  nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item tabs-links" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#allitems" role="tab" aria-selected="true" (click)="changeTab('allitems')"
                (click)="SelectedTab('allitems')">
                <h1 class="d-none d-sm-block name">All Items</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#vendor_list" role="tab" aria-selected="false" (click)="changeTab('vendor_list')"
                tabindex="-1" (click)="SelectedTab('vendor_list')">
                <h1 class="d-none d-sm-block name">Vendor list</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#daily_consumed" role="tab" aria-selected="false" tabindex="-1"  (click)="changeTab('daily_consumed')"
                (click)="SelectedTab('daily_consumed')">
                <h1 class="d-none d-sm-block name">Daily consumed</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#damaged" role="tab" aria-selected="false" tabindex="-1" (click)="changeTab('damaged')"
                (click)="SelectedTab('damaged')">
                <h1 class="d-none d-sm-block name">Damaged</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#backtocabinet" role="tab" aria-selected="false" tabindex="-1" (click)="changeTab('backtocabinet')"
                (click)="SelectedTab('backtocabinet')">
                <h1 class="d-none d-sm-block name">Back to cabinet</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#near_expired" role="tab" aria-selected="false" tabindex="-1" (click)="changeTab('near_expired')"
                (click)="SelectedTab('near_expired')">
                <h1 class="d-none d-sm-block name">Near expired</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#low_stock" role="tab" aria-selected="false" tabindex="-1" (click)="changeTab('low_stock')"
                (click)="SelectedTab('low_stock')">
                <h1 class="d-none d-sm-block name">Low Stock</h1>
              </a>
            </li>
            <li class="nav-item tabs-links-1" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#refilltocabinet" role="tab" aria-selected="false" tabindex="-1" (click)="changeTab('refilltocabinet')"
                (click)="SelectedTab('refilltocabinet')">
                <h1 class="d-none d-sm-block name">Refill to cabinet</h1>
              </a>
            </li>
            <li class="nav-item tabs-links" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#recall" role="tab" aria-selected="false" tabindex="-1" (click)="changeTab('recall')"
                (click)="SelectedTab('recall')">
                <h1 class="d-none d-sm-block name">Recall</h1>
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="all_items_dropbtn == true">
          <div class="d-flex justify-centent-between align-items-center float-end" style="flex-wrap: wrap;">
            <div class="dropdown d-inline-block me-3" dropdown>
              <button type="button" class="btn-new header-item noti-icon" id="page-header-notifications-dropdown"
                dropdownToggle
                style="height:auto !important;width: 100px !important;padding: 6px 12px 6px 12px !important;background: #855EDB !important;">
                <i class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i>
                Add new
              </button>
              <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                <div class="d-flex flex-column">
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="additem?.show();"><img
                      src="assets/images/add_item.svg" width="16px" height="16px" class="me-2">Add Item</a>
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="addcategory?.show()"><img
                      src="assets/images/add_category.svg" width="16px" height="16px" class="me-2">Add Category</a>
                      <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="subcategory?.show()"><img
                        src="assets/images/add_sub_category.svg" width="16px" height="16px" class="me-2">Add sub category</a>
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="addvendor?.show()"><img
                      src="assets/images/add_vendor.svg" width="16px" height="16px" class="me-2">Add vendor</a>
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="addtag?.show()"><img
                      src="assets/images/add_tag.svg" width="16px" height="16px" class="me-2">Add Tag</a>
                </div>
              </div>
            </div>
            <div class="tab_filter_img me-3">
              <img src="assets/images/reload.svg" width="20px" height="20px" tooltip="Reload" placement="bottom">
            </div>
            <div class="tab_filter_img me-3">
              <img src="assets/images/Download.svg" width="20px" height="20px" tooltip="Download" placement="bottom">
            </div>
            <div class="tab_filter_img me-3">
              <img src="assets/images/print.svg" width="20px" height="20px" tooltip="Print" placement="bottom">
            </div>
          </div>
        </div>
        <div *ngIf="low_stock_dropbtn == true">
          <button type="button" class="btn-new header-item noti-icon" id="page-header-notifications-dropdown" (click)="notify.show()"
            style="height:auto !important;width: 100px !important;padding: 6px 12px 6px 12px !important;background: #855EDB !important;">
            <i class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i>
            Notify
          </button>
        </div>
        <div *ngIf="vendor_list_dropbtn == true">
          <div class="d-flex justify-centent-between align-items-center float-end" style="flex-wrap: wrap;">
            <div class="dropdown d-inline-block me-3">
              <button type="button" class="btn-new header-item noti-icon" id="page-header-notifications-dropdown"
                (click)="addvendor?.show()"
                style="height:auto !important;width: auto !important;padding: 6px 12px 6px 12px !important;background: #855EDB !important;">
                <i class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i>
                Add vendor
              </button>
              <!-- <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                <div class="d-flex flex-column">
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="additem?.show();"><img
                      src="assets/images/add_item.svg" width="16px" height="16px" class="me-2">Add Item</a>
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="addcategory?.show()"><img
                      src="assets/images/add_category.svg" width="16px" height="16px" class="me-2">Add Category</a>
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="addvendor?.show()"><img
                      src="assets/images/add_vendor.svg" width="16px" height="16px" class="me-2">Add vendor</a>
                  <a class="dropdown-item pb-2" style="color: #000 !important;" (click)="addtag?.show()"><img
                      src="assets/images/add_tag.svg" width="16px" height="16px" class="me-2">Add Tag</a>
                </div>
              </div> -->
            </div>
            <div class="tab_filter_img me-3">
              <img src="assets/images/reload.svg" width="20px" height="20px" tooltip="Reload" placement="bottom">
            </div>
            <div class="tab_filter_img me-3">
              <img src="assets/images/Download.svg" width="20px" height="20px" tooltip="Download" placement="bottom">
            </div>
            <div class="tab_filter_img me-3">
              <img src="assets/images/print.svg" width="20px" height="20px" tooltip="Print" placement="bottom">
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content py-2 text-muted">
        <div class="tab-pane active show" id="allitems" role="tabpanel">
          <div class="d-flex flex-row align-items-center" style="background: #F3F4F8;border-radius: 8px;padding: 15px;">
            <div class="me-2">
              <button class="btn-new"
                style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;" (click)="hideAdvancedFilters()">Filter</button>
            </div>
            <div class="me-2" style="width: 20%;">
              <input class="form-control" type="text" placeholder="Search">
            </div>
            <div class="d-flex flex-row align-items-center me-2" style="width: 20%;">
              <input class="form-control" type="text" placeholder="scan or type"><img src="assets/images/barcode_input_type.svg" width="16px" height="16px" style="position: relative;right: 10%;">
            </div>

            <div class="me-2" >
              <button class="btn-2"
                style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;border: 0.5px solid #855EDB;">Reset</button>
            </div>
            <div class="me-2">
              <button class="btn-new"
                style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;">Search</button>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mt-2" style="border: 0.5px solid #8B8B8B;border-radius: 6px; display: none;" [ngClass]="{'showAdvancedFilters':resize ==true}">
              <div class="d-flex flex-row justify-centent-between align-items-center my-2">
                <div (click)="hideAdvancedFilters()" style="cursor:pointer">
                 <h1 style="font-weight: 500 !important;"><img src="assets/images/back_arrow.svg" width="24px" height="24px" class="me-2">Filter</h1>
                </div>
                <div class="ms-auto">
                  <p class="mb-0" style="color: #747474 !important;">Clear all</p>
                </div>
              </div>
              <div class="mt-4 pb-4" style="border-bottom: 1px solid #ECECEC;">
                <div class="d-flex flex-column">
                  <div><h1 style="font-weight: 500 !important;">Active filters:</h1></div>
                  <div class="mt-2">
                    <h1 style="font-weight: 400 !important;color:#8B8B8B !important;">No filters were selected</h1>
                  </div>
                </div>
              </div>
              <div style="height: 381px;overflow-y: scroll;border-bottom: 1px solid #ECECEC;" class="pb-3 mb-4">
              <div class="mt-3 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Folder</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <ng-select [items]="" placeholder="Select"></ng-select>
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Item search</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <input type="text" class="form-control-new" placeholder="Search by item name">
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Procedure search</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <input type="text" class="form-control-new" placeholder="Search by procedure name">
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Quantity</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <ngx-slider [(value)]="QuantityminValue" [(highValue)]="QuantitymaxValue" [options]="options"></ngx-slider>
                    <div class="d-flex flex-row mt-2">
                      <input type="text" class="form-control-new me-2" placeholder="Min" [(ngModel)]="QuantityminValue">
                      <input type="text" class="form-control-new" placeholder="Max" [(ngModel)]="QuantitymaxValue">
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Price</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <ngx-slider [(value)]="PriceminValue" [(highValue)]="PricemaxValue" [options]="options"></ngx-slider>
                    <div class="d-flex flex-row mt-2">
                      <input type="text" class="form-control-new me-2" placeholder="Min" [(ngModel)]="PriceminValue">
                      <input type="text" class="form-control-new" placeholder="Max" [(ngModel)]="PricemaxValue">
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Tags</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <input type="text" class="form-control-new" >
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Barcode</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <input class="form-control-new" type="text" placeholder="scan or type"><img src="assets/images/barcode_input_type.svg" width="16px" height="16px" style="position: absolute;right: 10%;">
                  </div>
                </div>
              </div>
              <div class="mt-4 me-1">
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row  align-items-center">
                    <p class="mb-1" style="font-weight: 400 !important;">Tags</p>
                    <h5 class="ms-auto mb-1" style="color: #855EDB !important;">Clear</h5>
                  </div>
                  <div>
                    <input type="text" class="form-control-new" >
                  </div>
                </div>
              </div>
            </div>
            <div class="float-end mt-2">
              <button class="btn-new"
                style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;">Apply</button>
            </div>
            </div>
            <div class="col-9" [ngClass]="{'resizeGrid':resize ==false}">
              <div class="mt-2">
                <div class="d-flex flex-row p-3" style="background: #855EDB;border: 1px solid #855EDB;border-radius: 17px 17px 0px 0px;position: absolute;z-index: 9;width: 98.5%;height: 50px;" *ngIf="showEditablefields == true">
                  <div class="flex-shrink-1">
                    <div class="d-flex flex-row align-items-center">
                      <div class="me-2">
                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      </div>
                      <div>
                        <h1 style="color: #fff !important;">Deselect | {{selected_row_data_length   }} Item selected</h1>
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-0 ms-auto">
                    <div class="d-flex flex-row justify-centent-between align-items-center">
                      <div class="me-4">
                        <h1 style="color: #fff !important;" class="mb-0"> <i class="mdi mdi-pencil-outline me-1" style="color:#fff;font-size:18px"></i>Edit</h1>
                      </div>
                      <div class="me-4">
                        <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/update_qty.svg" width="15px" height="15px" class="me-1">Update Qty</h1>
                      </div>
                      <div class="me-4">
                        <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/move_img.svg" width="15px" height="15px" class="me-1">Move</h1>
                      </div>
                      <div class="me-4">
                        <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/clone_img.svg" width="15px" height="15px" class="me-1">Clone</h1>
                      </div>
                      <div class="me-4">
                        <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/add_tag_white.svg" width="15px" height="15px" class="me-1">Add Tag</h1>
                      </div>
                      <div class="me-4">
                        <h1 style="color: #fff !important;" class="mb-0"> <i class="mdi mdi-trash-can-outline me-1" style="color:#fff;font-size:18px"></i>Delete</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #myGrid_1
                  style="width: 100%;height: 578px;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef" (selectionChanged)="onSelectionChanged($event)"
                  [sideBar]="sideBar"></ag-grid-angular>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="vendor_list" role="tabpanel">
          <app-vendor-list *ngIf="enableTab=='vendor_list'"></app-vendor-list>
        </div>
        <div class="tab-pane" id="daily_consumed" role="tabpanel">
          <app-daily-consumed  *ngIf="enableTab=='daily_consumed'"></app-daily-consumed>
        </div>
        <div class="tab-pane" id="damaged" role="tabpanel">
          <app-damaged *ngIf="enableTab=='damaged'"></app-damaged>
        </div>
        <div class="tab-pane" id="backtocabinet" role="tabpanel">
          <app-back-to-cabinet *ngIf="enableTab=='backtocabinet'"></app-back-to-cabinet>
        </div>
        <div class="tab-pane" id="near_expired" role="tabpanel">
          <app-near-expired *ngIf="enableTab=='near_expired'"></app-near-expired>
        </div>
        <div class="tab-pane" id="low_stock" role="tabpanel">
          <app-low-stock *ngIf="enableTab=='low_stock'"></app-low-stock>
        </div>
        <div class="tab-pane" id="refilltocabinet" role="tabpanel">
          <app-refill-to-cabinet *ngIf="enableTab=='refilltocabinet'"></app-refill-to-cabinet>
        </div>
        <div class="tab-pane" id="recall" role="tabpanel">
          <app-recall *ngIf="enableTab=='recall'"></app-recall>
        </div>
      </div>
    </div>
  </div>
</div>




<div bsModal #additem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 888px !important;">
    <div class="modal-content p-2">
      <div class="d-flex justify-content-between align-items-center p-2 m-2" style="background: #F3F4F8;border-radius: 6px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Add Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="additem?.hide()"
          style="cursor: pointer;">
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="images" style="font-size: 10px; color: #1B1B1B;">Images</label>
            <span class="m-1" style="font-size: 6px; color: #855EDB;">File format png and jpeg</span>
            <form>
              <ngx-dropzone class="dropzone" (change)="onSelect($event)" [accept]="'image/*'">
                <ngx-dropzone-label class="dz-message needsclick">
                  <div class="mb-3">
                    <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                  </div>

                  <h5>Drop files here or click to upload.</h5>
                </ngx-dropzone-label>
              </ngx-dropzone>
              <ngx-dropzone-preview *ngIf="imageURL" class="border rounded" [removable]="true" (removed)="onRemove()">
                <ngx-dropzone-label>
                  <div class="d-flex p-2">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar-sm bg-light rounded">
                        <img class="img-fluid rounded d-block" src="{{imageURL}}" alt="Dropzone-Image">
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="pt-1">
                        <strong class="error text-danger"></strong>
                      </div>
                    </div>
                  </div>
                </ngx-dropzone-label>
              </ngx-dropzone-preview>
              <!-- end dropzon-preview -->
            </form>
          </div>
          <div class="d-flex flex-row" style="width: 100%;">
          <div class="">
            <label for="items_status" style="font-size: 10px; color: #1B1B1B;">Procedure <span style="color: #D62424;font-size: 6px;text-align: center;">You can also link the item to multiple procedure</span></label>
            <ng-select [items]="" placeholder="Select Status"></ng-select>
          </div>
          <div class="mt-4 ms-2">
            <button class="btn-new"
              style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
          </div>
        </div>
        </div>
        <div class="col-8">
          <div class="d-flex flex-row justify-centent-between">
            <div class="mb-3 me-4" style="width: 50%;">
              <label for="items_category" style="font-size: 10px; color: #1B1B1B;">Items Category<span
                  style="color: red;">*</span></label>
              <ng-select [items]="" placeholder="Select Status"></ng-select>
            </div>
            <!-- <div class="mt-4 mx-3">
              <button class="btn-new"
                style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                  class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div> -->
            <div class="mb-3" style="width: 50%;">
              <label for="items_name" style="font-size: 10px; color: #1B1B1B;">Items Name<span
                  style="color: red;">*</span></label>
              <input class="form-control-new" type="text">
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="d-flex flex-row" style="width: 50%;">
              <div class="mb-5" style="width: 100%;">
                <label for="items_descrption" style="font-size: 10px; color: #1B1B1B;">Item Category<span
                  style="color: red;">*</span></label>
                <ng-select [items]="" placeholder="Select Category"></ng-select>
              </div>
              <div class="mt-4 ms-2">
                <button class="btn-new"
                  style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                    class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
              </div>
            </div>
            <div class="ms-4" style="width: 50%;">
              <label for="notes" style="font-size: 10px; color: #1B1B1B;">Barcodes<span
                style="color: red;">*</span></label>
                <!-- <div class="d-flex flex-row align-items-center" style="width: 100%;"> -->
                  <input class="form-control-new" type="text" placeholder="scan or type"><img src="assets/images/barcode_input_type.svg" width="16px" height="16px" style="position: relative;bottom: 25%;left: 90%;">
                <!-- </div> -->
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mt-2">
            <div class="me-4" style="width: 50%;">
              <label for="items_status" style="font-size: 10px; color: #1B1B1B;">Item Status</label>
              <ng-select [items]="" placeholder="Select Status"></ng-select>
            </div>
            <div class="" style="width: 40%;">
              <label for="items_status" style="font-size: 10px; color: #1B1B1B;">Vendor</label>
              <ng-select [items]="" placeholder="Select Status"></ng-select>
            </div>
            <div class="mt-4 ms-2">
              <button class="btn-new"
                style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                  class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>


        </div>
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="items_no" style="font-size: 10px; color: #1B1B1B;">Price<span
                style="color: red;">*</span></label>
            <span><i class="d-inline-flex mdi mdi-currency-usd"></i></span><input class="form-control-new price_field" type="number" style="text-align: right;">
          </div>
          <div class="mb-3">
            <label for="size" style="font-size: 10px; color: #1B1B1B;">Size<span style="color: red;">*</span></label>
            <div class="d-flex">
             <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
              <input name="demo_vertical"  type="text" class="form-control-new" min="0" max="100" readonly style="width: 30% !important;">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
          <div class="mb-3">
            <label for="unit" style="font-size: 10px; color: #1B1B1B;">Min Level<span style="color: red;">*</span></label>
            <input class="form-control-new" type="text">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="size" style="font-size: 10px; color: #1B1B1B;">Size</label>
            <div class="d-flex flex-row">
              <input class="form-control-new me-2" type="number">
              <ng-select [items]="format_value" placeholder="" style="width: 30%;" class="me-2"></ng-select>
              <button class="btn-new"
                style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                  class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
          <div class="mb-3">
            <label for="vendor" style="font-size: 10px; color: #1B1B1B;">Cabinet</label>
            <div class="d-flex">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
              <input name="demo_vertical"  type="text" class="form-control-new" min="0" max="100" readonly style="width: 30% !important;">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
          <div class="mb-3">
            <label for="expiry_date" style="font-size: 10px; color: #1B1B1B;">Cat No</label>
            <input class="form-control-new" type="number">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="lot_no" style="font-size: 10px; color: #1B1B1B;">Unit<span style="color: red;">*</span></label>
            <input class="form-control-new" type="number">
          </div>
          <div class="mb-3">
            <label for="price" style="font-size: 10px; color: #1B1B1B;">Expiry Date<span style="color: red;">*</span></label>
            <input type="text" placeholder="Select Date" class="form-control-new" bsDatepicker>
          </div>
          <div class="mb-3">
            <label for="on_hand_qty" style="font-size: 10px; color: #1B1B1B;">Lot No</label>
            <input class="form-control-new" type="number">
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="items_no" style="font-size: 10px; color: #1B1B1B;">Item description</label>
            <textarea type="text" class="form-control-new"></textarea>
           </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Add</button>
        <!-- <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Update</button> -->
      </div>
    </div>
  </div>
</div>

<div bsModal #addcategory="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 888px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 m-3" style="background: #F3F4F8;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Add Category
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="addcategory?.hide()"
          style="cursor: pointer;">
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="items_no" style="font-size: 10px; color: #1B1B1B;">Category Name<span
                style="color: red;">*</span></label>
            <input class="form-control-new">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="cat_no" style="font-size: 10px; color: #1B1B1B;">Category short Code<span
                style="color: red;">*</span></label>
            <input class="form-control-new">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="lot_no" style="font-size: 10px; color: #1B1B1B;">Status</label>
            <ng-select [items]="" placeholder="Choose Option" class="me-2"></ng-select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Add</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #addvendor="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 888px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 m-3" style="background: #F3F4F8;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Add vendor
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="addvendor?.hide()"
          style="cursor: pointer;">
      </div>
      <div class="row p-3">
        <div class="col-8">
          <div class="d-flex justify-content-between">
            <div class="mb-3" style="width: 270px">
              <label for="items_category" style="font-size: 10px; color: #1B1B1B;">Vendor Name<span
                  style="color: red;">*</span></label>
              <input class="form-control-new">
            </div>
            <div class="mb-3" style="width: 270px">
              <label for="items_name" style="font-size: 10px; color: #1B1B1B;">Vendor Email<span
                  style="color: red;">*</span></label>
              <input class="form-control-new">
            </div>
          </div>
          <div class="">
            <label for="notes" style="font-size: 10px; color: #1B1B1B;">Vendor contact no</label>
            <input class="form-control-new">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_no" style="font-size: 10px; color: #1B1B1B;">Vendor Address<span
                style="color: red;">*</span></label>

            <ng-select [items]="" placeholder="Choose Option" class="me-2"></ng-select>
          </div>
          <div class="mb-3">
            <label for="size" style="font-size: 10px; color: #1B1B1B;">Status</label>
            <ng-select [items]="" placeholder="Choose Option" class="me-2"></ng-select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Add</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #addtag="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 389px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 m-3" style="background: #F3F4F8;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Add Tag
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="addtag?.hide()"
          style="cursor: pointer">
      </div>
      <div class="row" style="width: 100%;">
        <div class="col-12 p-3 mx-2">
          <div class="mb-3 mx-2">
            <label for="items_category" style="font-size: 10px; color: #747474;">Tag Name<span
                style="color: red;">*</span></label>
            <input class="form-control-new">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- <div bsModal #notify="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 389px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 m-3" style="background: #F3F4F8;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Add Tag
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="addtag?.hide()"
          style="cursor: pointer">
      </div>
      <div class="row">
        <div class="col-12 p-3 mx-2">
          <div class="mb-3 mx-2">
            <label for="items_category" style="font-size: 10px; color: #747474;">Tag Name<span
                style="color: red;">*</span></label>
            <input class="form-control-new">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Add</button>
      </div>
    </div>
  </div>
</div> -->

<div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Material Details - Daily consumed
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewitem?.hide()"
          style="cursor: pointer">
      </div>
      <div style="overflow-y: scroll !important;height: 500px;">
      <div class="row mx-2 mt-3" style="flex-wrap: nowrap !important">
        <div class="col-3 px-2">
          <div class="d-flex flex-column justify-centent-between">
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;">Item:</label>
              <img src="assets/images/item_image_sample.svg" width="207px" height="104px"><span class="item_category_label" >Daily consumed</span>
            </div>
          </div>
        </div>
        <div class="col-9" style="padding: 0px 0px 0px 84px;">
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Item number</label>
                <h1 class="">Neurology</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Item name</label>
               <h1 class="">ORS juice</h1>
              </div>
            </div>
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="" style="width: 100%;margin-bottom: 2.3rem;">
                <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Item category</label>
                <h1 class="">ORS Juice</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Barcodes</label>
                <h1><img src="assets/images/barcode_view.svg" width="100px" height="45px" style="display: inline-flex;"></h1>
              </div>
            </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Procedure </label>
              <h1 class="">Cardiology</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Price</label>
              <h1 class="">100.00</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Store</label>
              <h1 class="">50</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Min level  </label>
              <h1 class="">52934</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Item Status</label>
              <h1 class="">In Stock</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Size</label>
              <h1 class="">300ml</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Cabinet</label>
              <h1 class="">0</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Cat No</label>
              <h1 class="">56954</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Vendor</label>
              <h1 class="">Flores Junita</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Unit</label>
              <h1 class="">60</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Expiry Date</label>
              <h1 class="">14-10-2023</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Lot No</label>
              <h1 class="">14454</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Item description</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Notes</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" style="font-size: 10px; color: #747474;font-weight: 400;" class="mb-1">Tags</label>
          <h1 >#energy#ORS</h1>
        </div>
      </div>
    </div>
      <div class="d-flex flex-row justify-content-end p-3">
        <div>
          <button type="button" class="btn-new me-4"
            style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;"
            (click)="viewitem?.hide()">Close</button>
        </div>
        <div>
          <button type="button" class="btn-new me-2"
            style="width: auto !important;"
            (click)="viewitem?.hide()">Edit</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="previousitem">
        <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
      </div>
      <div class="nextitem">
        <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
      </div>
    </div>
  </div>
</div>

<div bsModal #notify="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width:400px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Send Remainder
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="notify?.hide()"
          style="cursor: pointer">
      </div>
      <div class="d=flex flex-column p-3">
        <div class="mb-3 mt-1" style="width: 100%;">
          <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Vendor Name</label>
          <h1 class="">Ralph Edwards</h1>
        </div>
        <div class="mb-3 mt-1" style="width: 100%;">
          <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Contact Person</label>
          <h1 class="">Nguyen shane</h1>
        </div>
        <div class="mb-3 mt-1" style="width: 100%;">
          <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Comment</label>
          <textarea class="form-control-new" style="font-size: 10px !important;font-weight: 400 !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</textarea>
        </div>
      </div>


      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;">Send</button>
      </div>
    </div>
  </div>
</div>


<div bsModal #subcategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width:700px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Add sub category
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="subcategory?.hide()"
          style="cursor: pointer">
      </div>
      <div class="row mx-2">
        <div class="col-4" >
          <div class="mb-3 mt-1">
            <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Sub category Name<span style="color: red;">*</span></label>
            <input type="text" class="form-control-new" placeholder="">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3 mt-1" >
            <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Choose category</label>
            <ng-select [items]="" placeholder="Select category"></ng-select>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3 mt-1">
            <label for="items_category" style="font-size: 10px; color: #1B1B1B;font-weight: 400;" class="mb-1">Status<span style="color: red;">*</span></label>
            <ng-select [items]="" placeholder="Select status"></ng-select>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="subcategory?.hide()">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;text-align: center;"><i class="mdi mdi-plus-circle-outline me-2" style="font-size: 16px;"></i>Add</button>
      </div>
    </div>
  </div>
</div>
