:host ::ng-deep .nav{
  background: #594585 !important;
  height: auto !important;
  border-radius: 16px !important;
  text-align: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
.nav-item{
  height: 32px !important;
}
.nav-link{
  background: none;
  display: block;
  transition: none !important;
  transform: none !important;
  align-items: center !important;
  padding: 8px 9px !important;
  opacity: 1;
  width: max-content !important;
  font-weight: normal !important;
  white-space: wrap !important;
  .name{
    color: #fff !important ;
    font-weight: 400 !important;
  }
}
.tabs-links{
  margin: 0px 0px 20px 0px;
  margin-bottom: 0px !important
}
.tabs-links-1{
  margin: 0px 5px;
  margin-bottom: 0px !important
}

li::marker{
  color: #594585;
}

.nav-tabs-custom .nav-item .nav-link{
  border: none;
}

::ng-deep  .nav-link.active
{
  color: #fff !important;
  background-color: #855EDB !important;
  border: 1px solid #855EDB !important;
  border-radius: 16px !important;
  height: 32px !important;
  padding:7px 9px !important;
  opacity: 1;
  width: max-content !important;
  font-weight: bolder !important;

  li::marker{
    color: #855EDB;
  }

  .name{
    color: #fff !important;
  }
}

.nav-tabs-custom .nav-item .nav-link::after
{
  background: none !important;
}

.tab_filter_img
{
  background: #F3F4F8;
  padding: 8px;
  cursor: pointer;
}

.dropdown-item{
  padding: 0.35rem 0.9rem !important;
}

.dropdown-item:hover
{
  background: #F3F4F8 !important;
}

.ag-theme-alpine
{
  --ag-row-hover-color: transparent !important;
  --ag-header-background-color : #594585 !important;
  --ag-selected-row-background-color : transparent !important;
}
::ng-deep .ag-row{
  border-bottom : none !important
}

// ::ng-deep .ag-row :hover{
//   // background: none !important;
// }
::ng-deep .ag-row-selected::before
{
  background-color: transparent !important;
}
::ng-deep .ag-row-odd{
  margin: 10px 0px !important;
  background:#F3F4F8 !important;
  z-index: 2 ;
}

::ng-deep .ag-row-even{
  margin: 10px 0px !important;
  background: none !important;
}

::ng-deep .ag-header-viewport
{
  background: #594585 !important;
  border: none !important;
}

::ng-deep .ag-header-viewport:hover{
  background: #594585 !important;
}

::ng-deep .ag-header{
border-bottom: none !important;
}

::ng-deep .ag-header-cell-text
{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #fff !important;
}

::ng-deep .ag-cell-value
{
  font-size: 10px !important;
  font-weight: 400 !important;
}

::ng-deep .ag-root-wrapper
{
  border: 1px solid #747474 !important;
  border-radius: 15px;
  font-family: poppins !important;
}
::ng-deep .ag-row-group-expanded
{
  background: #8B8B8B !important;

.ag-cell-value{
  color: #fff !important;
}
.ag-icon-tree-open{
  color: #fff !important;
}
}

::ng-deep .ag-theme-alpine .ag-group-contracted .ag-icon:hover{
  color: #181d1f !important;
}

::ng-deep .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within
{
  border: none !important;
}

::ng-deep .ag-icon-menu{
  color: #fff !important;
}

::ng-deep .ag-details-grid .ag-theme-alpine{
//  .ag-root-wrapper .ag-layout-normal .ag-ltr .ag-theme-alpine{
  --ag-row-hover-color: transparent !important;
  // .ag-row :hover{
  //   background: transparent !important;
  // }
}

::ng-deep .ag-ltr .ag-cell-range-single-cell
{
  border: none !important;
  background: transparent !important;
  --ag-row-hover-color: transparent !important;
}


.hide0veralllist
{
  .overAlllist
  {
    width: 0% !important;
    display: none;
  }
}

.showfullgrid
{
  width: 100% !important;
  height: 723px !important;
  border-left: 1px solid #747474;
  .rightexpand
  {
    display: block !important;
    width: 20px;height: 20px;
  }
}

.dropzone
{
  min-height: 155px !important;
  height: 155px !important;
  border: 2px dotted #855EDB !important ;
  overflow-x: clip !important;
}

:host ::ng-deep .ng-select-container
{
  background: #fff !important;
  border:0.5px solid #BEBEBF !important;
}

::ng-deep .ng-dropdown-panel.ng-select-bottom
{
  background: #fff !important;
}

.folders_name
{
  cursor: pointer;
}

::ng-deep .ngx-slider .ngx-slider-selection
{
  // z-index: 2 !important;
  background: #855EDB !important;
  border-radius: 2px !important;
  border: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after
{
  background-color: #855EDB !important;
}

::ng-deep .ngx-slider-pointer{
  background: #855EDB !important;
}

::ng-deep .ngx-slider .ngx-slider-bubble
{
  font-size: 10px !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer
{
  cursor: pointer;
  width: 15px !important;
  height: 15px !important;
  top: -6px !important;
  background-color: #0db9f0;
  z-index: 3;
  border-radius: 16px;
}

::ng-deep .ngx-slider .ngx-slider-pointer:after
{
  display: none !important;
}

.showAdvancedFilters{
    display: block !important ;
}
.resizeGrid{
  width: 100% !important;
  height: 588px;
  overflow-y:hidden;
  overflow-x: hidden;
}

.item_category_label{
  position: absolute;left: 7%;top: 61%;border-radius:4px;padding: 0px 6px 0px 6px;color: #fff;font-size: 12px;
  background: #81D152;
}

.modal_value{
  font-weight: 400 !important;
}

.price_field {
  padding-left: 40px; // Adjust this value to match the width of your icon
  background-image: url('/assets/images/currency.svg') !important; // Replace with your icon's URL
  background-repeat: no-repeat !important;
  background-position: 10px center !important; // Adjust the position of the icon
  background-size: 20px !important; // Adjust the size of the icon
}

.changeView{
  background: #594585;
  border-radius: 6px;
}

.export-btn{
  background: #F3F4F8 !important;color: #000 !important;padding: 8px 6px 8px 6px !important;width: 121px !important;border-radius: 4px !important;
}
.export-btn-outline
{
  border: 1px solid #855EDB;
  border-radius: 4px;

}

.barcode_img{
  padding-right: 40px !important; // Adjust this value to leave space for the image
  background-image: url('/assets/images/barcode_input_type.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 314px !important; // Adjust the position as needed
  background-size: 16px 16px !important; // Adjust the size of the image
}

:host ::ng-deep .tooltip-inner
{
  max-width: 200px !important;
  padding: 6px 8px !important;
  color: #fff !important;
  background-color: #181d1f !important;
}

:host ::ng-deep .tooltip{
  --bs-tooltip-bg:#181d1f !important
}

:host ::ng-deep .bs-tooltip-bottom
{
  opacity: 1 !important;
}
 :host ::ng-deep .ng-select-container{
  background: #f3f4f8 !important;
 }

.barcode_img{
  padding-right: 30px !important;
 background-image: url(/assets/images/barcode_input_type.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 266px !important;
    background-size: 16px 16px !important;
}

.barcode_img1{
  padding-right: 30px !important;
 background-image: url(/assets/images/barcode_input_type.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 236px !important;
    background-size: 16px 16px !important;
}
::ng-deep .ag-horizontal-right-spacer{
  display: none !important;
}

:host ::ng-deep .ng-select .ng-clear-wrapper{
  top: 2px !important;
  left: 7px !important;
}

.ReduceOpacity
{
  opacity: 0;
}

.riyal{
  padding-right: 30px !important;
  background-image: url(/assets/images/riyal.svg) !important;
     background-repeat: no-repeat !important;
     background-position: 9px !important;
     background-size: 16px 16px !important;
}

::ng-deep .ng-dropdown-panel .scroll-host

{
  background: #fff !important;
}
