/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';


/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

ngx-dropzone {
  border: 2px dashed var(--bs-border-color) !important;
}

ngx-dropzone-preview {
  max-width: none !important;
  justify-content: normal !important;
  height: 80px !important;
  min-height: 80px !important;
  background-image: none !important;
  img {
    opacity: 1 !important;
  }

  ngx-dropzone-label {
    position: unset !important;
  }
}

.sidebarMenu_img {
  width: 24px;
  height: 24px;
}

.cards{
  border-radius: 12px;
  padding: 10px;
  gap: 10px;
  background: #fff;
}

h1{
  font-size: 12px  !important;
  font-weight: 600 !important;
  margin: 0 !important;
  color: #1B1B1B !important;
  white-space: nowrap !important;
  width: auto !important;
  height: auto !important;
  text-wrap: wrap !important;
}
p{
  font-size: 10px !important;
  font-weight: 600;
  color: #1B1B1B !important;
}
h4{
  font-size: 9px !important;
  font-weight:400 !important;
}
h5{
  font-size: 8px !important;
  font-weight:600 !important;
}


.header_name
{
  font-size: 14px !important;
  font-weight: 500 !important;
  text-wrap: wrap !important;
  word-break: break-all;
}
.header_name_bold
{
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  // white-space: wrap !important;
  text-align: left !important;
  text-wrap: wrap !important;
  word-break: break-all;
}

.form-control-new{
  display: block !important;
  width: 100% !important;
  padding: 0.47rem 0.75rem !important;
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #1B1B1B !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background: #F3F4F8 !important;
  background-clip: padding-box !important;
  border: 0.5px solid #BEBEBF !important;
  border-radius: 4px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.form-control-new:focus-visible
{
  outline: none;
  border: 0.2px solid #8B8B8B !important;
}
.form-control-new-sm{
  display: block !important;
  width: 100% !important;
  height: 26px !important;
  padding: 0.47rem 0.75rem !important;
  font-size: 0.6625rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #1B1B1B !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background: #F3F4F8 !important;
  background-clip: padding-box !important;
  border: 0.5px solid #BEBEBF !important;
  border-radius: 4px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.form-control-new-sm:focus-visible
{
  outline: none;
  border: 0.2px solid #8B8B8B !important;
}

.form-select{
  background: #594585 !important;
  border-radius: 6px !important;
  color: #fff !important;
  padding: 2px;
  background-image: url('assets/images/whitearrow.svg') !important;
  background-repeat: no-repeat !important;
  background-position: left 6.65rem center !important;
  background-size: 16px !important;
  // width: 165px !important;
  border: none !important;
  font-size: 9px !important;
  font-weight: 400px !important;
  width: 134px !important;height: 29px !important;
}

.form-selects
{
  background: #fff !important;
  border-radius: 4px !important;
  color: #000 !important;
  padding: 2px;
  width: 100% !important;
  height: 26px !important;
  background-image: url('assets/images/whitearrow.svg') !important;
  background-repeat: no-repeat !important;
  background-position: left 4.65rem center !important;
  background-size: 16px !important;
  width: 100px !important;
  border: 1px solid #8B8B8B !important;

}

option{
  background: #fff !important;
  color: #000 !important;
}

.btn-new{
background: #594585 !important;
border-radius: 6px !important;
padding: 6px 20px 6px 20px !important;
width: 150px !important;
color: #fff !important;
border: none !important;
}
.btn-new:hover{
  background: #855EDB  !important;
  border: none !important;
}

.btn-2{
  background:#F3F4F8 !important;color: #000 !important;width: auto !important;
  border-radius: 6px !important;
padding: 6px 20px 6px 20px !important;
border: 0.5px solid #F3F4F8;
}

.btn-2:hover{
  border: 0.5px solid #855EDB;
  width: auto !important;
  border-radius: 6px !important;
padding: 6px 20px 6px 20px !important;

}

.btn-diasble{
  color: #fff !important;width: auto !important;background: #747474 !important;
  border-radius: 6px !important;
padding: 6px 20px 6px 20px !important;
border: none;
}

.btn-diasble:hover{
  background: #855EDB  !important;
  border: none !important;
}

.btn-white{
  color: #000 !important;
  background: #fff !important;
  padding: 4px 16px 4px 16px !important;
  border-radius: 4px !important;
  border: none !important;
}

.btn-grey{
  background:#F3F4F8 !important;color: #1B1B1B !important;font-weight: 600;
  border-radius: 6px !important;
  padding: 6px 20px 6px 20px !important;
  width: 150px !important;
  font-size: 0.7125rem !important;
  font-weight: 600 !important;
}


::-webkit-scrollbar  {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #855EDB;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

input{
  outline: none !important;
}

input:focus-visible{
  outline:none !important;
}

.dropdown-item
{
  cursor: pointer !important;
}

.previousitem
{
  position: absolute;left: -5%;top:50%;cursor: pointer;
}
.nextitem{
  position: absolute;right:-5%;top:50%;cursor: pointer;
}

.modal-label{
  font-size: 10px; color: #747474;font-weight: 400;
}
.modal-label-edit{
  font-size: 9px;color: #1B1B1B;font-weight: 400;
}

.modal-label-white{
  font-size: 10px;color: #fff;font-weight: 400;
}

.pointer{
  cursor: pointer;
}

.textarea-font-size{
  font-size: 0.6125rem !important;
  line-height: 16px !important;
}

.invalid-feedback{
  display: block !important;
  width: 100% !important;
  margin-top: 0.25rem !important;
  font-size: 80% !important;
  color: #f46a6a !important;
}

button:disabled
{
  opacity: 0.2 !important;
}

::ng-deep .ag-horizontal-right-spacer{
  display: none !important;
}

