<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row align-items-center" style="background: #F3F4F8;border-radius: 8px;padding: 15px;">
      <div class="me-2" style="width: 20%;">
       <input type="type" class="form-control" placeholder="Search" (input)="SearchNearItems_OnChange()" [(ngModel)]="SearchbyNearItems">
      </div>
      <div class="me-3" style="width: 20%;">
        <input type="text" placeholder="Select Date" class="form-control-new" [(ngModel)]="NearItemsDate"
        style="height: 36px;background: #fff !important;"
        [bsConfig]="{withTimepicker: false, rangeInputFormat : 'YYYY/MM/DD', dateInputFormat: 'YYYY/MM/DD'}"
        bsDaterangepicker>
      </div>
      <div class="me-2">
        <button class="btn-new"
          style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;" (click)="SearchNearItemsByDate(NearItemsDate)">Search</button>
      </div>
      <div class="me-2">
        <button class="btn-2"
          style="height:36px !important;width: 100px !important;padding: 6px 16px 6px 16px !important;border: 0.5px solid #855EDB;" (click)="ResetAllFilters()">Reset</button>
      </div>
    </div>
    <div class="mt-2">
      <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #myGrid_nearexpired
      style="width: 100%;height: 545px;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef"
      [sideBar]="sideBar"></ag-grid-angular>
  </div>
</div>
</div>
<!-- <div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewitem?.hide()"
          style="cursor: pointer">
      </div>
      <div style="overflow-y: scroll !important;height: 500px;">
      <div class="row mx-2 mt-3" style="flex-wrap: nowrap !important">
        <div class="col-3 px-2">
          <div class="d-flex flex-column justify-centent-between">
            <div class="mb-3">
              <label class="modal-label mb-1">Item:</label>
              <img src="assets/images/item_image_sample.svg" width="207px" height="104px">
            </div>
          </div>
        </div>
        <div class="col-9" style="padding: 0px 0px 0px 84px;">
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="mb-3 mt-1" style="width: 100%;">
                <label class="modal-label mb-1">Item number</label>
                <h1 class="">Neurology</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label class="modal-label mb-1">Item name</label>
               <h1 class="">ORS juice</h1>
              </div>
            </div>
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="" style="width: 100%;margin-bottom: 2.3rem;">
                <label class="modal-label mb-1">Item category</label>
                <h1 class="">ORS Juice</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label class="modal-label mb-1">Barcodes</label>
                <h1><img src="assets/images/barcode_view.svg" width="100px" height="45px" style="display: inline-flex;"></h1>
              </div>
            </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label class="modal-label mb-1">Procedure </label>
              <h1 class="">Cardiology</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Price</label>
              <h1 class="">100.00</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Store</label>
              <h1 class="">50</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Min level  </label>
              <h1 class="">52934</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label class="modal-label mb-1">Item Status</label>
              <h1 class="">In Stock</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Size</label>
              <h1 class="">300ml</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Cabinet</label>
              <h1 class="">0</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Cat No</label>
              <h1 class="">56954</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label class="modal-label mb-1">Vendor</label>
              <h1 class="">Flores Junita</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Unit</label>
              <h1 class="">60</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Expiry Date</label>
              <h1 class="">14-10-2023</h1>
            </div>
            <div class="mb-3">
              <label class="modal-label mb-1">Lot No</label>
              <h1 class="">14454</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-8">
          <div class="d-flex">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Tags</label>
              <h1 >#energy #ORS #energy #ORS #energy #ORS #energy #ORS</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Unit No</label>
            <h1 class="">10</h1>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label class="modal-label mb-1">Item description</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label class="modal-label mb-1">Notes</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
    </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2" style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="viewitem?.hide()">Close</button>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="previousitem">
        <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
      </div>
      <div class="nextitem">
        <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
      </div>
    </div>
  </div>
</div> -->


<div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewitem?.hide()"
          style="cursor: pointer">
      </div>
      <div style="overflow-y: scroll !important;height: 500px;">
        <div class="p-3 mx-3" style="height: auto;background-color: #594585;border-radius: 6px;">
          <div class="d-flex flex-row">
            <div>
              <img [src]="apiUrl+ViewItemData.image_url  != apiUrl + 'null' ? apiUrl+ViewItemData.image_url : 'assets/images/default_image.svg'" style="width: 185px;height: 146px;">
            </div>
            <div class="d-flex flex-column mx-3" style="width: 100%;">
              <div class="d-flex flex-row justify-content-between align-items-center" style="width: 100%;height: 69px;">
                <div>
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Item name</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewItemData.item_name ? ViewItemData.item_name +'-'+ViewItemData.size : '-' }}</h1>
                </div>
                <div class="" style="height: auto;background: #fff;border-radius: 2px;">
                  <img src="assets/images/barcode_new.svg" style="width: 130px;height: 46px;">
                  <h1 class="" style="text-align: center;">{{ ViewItemData.item_barcode ? ViewItemData.item_barcode : '-' }}</h1>
                </div>
              </div>
              <div style="margin-top: 18px;">
                <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Procedure</label>
                <div  style="display: flex;flex-direction: row;flex-wrap: wrap;height: 40px;overflow-y: auto;">
                  <h1 class="dis_procedure"  *ngFor="let x of ViewItemData.item_procedures;let i = index">{{ ViewItemData.item_procedures[i].procedure_name ? ViewItemData.item_procedures[i].procedure_name+' ' : '-'}}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Item number</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_number ? ViewItemData.item_number : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Item category</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_category?.name ? ViewItemData.item_category?.name : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Sub Category</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_sub_category?.sub_category_name ? ViewItemData.item_sub_category?.sub_category_name : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Expiry Date</label>
              <h1 class="viewItem_data">{{ ViewItemData.expired_date ? ViewItemData.expired_date : '-' }}</h1>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Store Qty</label>
              <h1 class="viewItem_data">{{ ViewItemData.store_qty ? ViewItemData.store_qty : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Cabinet Qty</label>
              <h1 class="viewItem_data">{{ ViewItemData.cabinet_qty ? ViewItemData.cabinet_qty : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Min store Qty</label>
              <h1 class="viewItem_data">{{ ViewItemData.min_level ? ViewItemData.min_level : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Size</label>
              <h1 class="viewItem_data">{{ ViewItemData.size ? ViewItemData.size : '-' }}</h1>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">LOT No</label>
              <h1 class="viewItem_data">{{ ViewItemData.lot_no ? ViewItemData.lot_no : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >CAT No</label>
              <h1 class="viewItem_data">{{ ViewItemData.cat_no ? ViewItemData.cat_no : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Price</label>
              <h1 class="viewItem_data">{{ ViewItemData.price ? ViewItemData.price : '-' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Unit</label>
              <h1 class="viewItem_data">{{ ViewItemData.unit ?  ViewItemData.unit : '-' }}</h1>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Item Status</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_status == 1 ? 'Active': 'Inactive' }}</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Vendor</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_vendor?.VendorName ? ViewItemData.item_vendor?.VendorName : '-' }}</h1>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Tags</label>
              <h1 class="viewItem_data">{{ ViewItemData.tag ?  ViewItemData.tag : '-' }}</h1>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-12">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Item description</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_description ?  ViewItemData.item_description : '-' }}</h1>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-12">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Notes</label>
              <h1 class="viewItem_data">{{ ViewItemData.item_notes ?  ViewItemData.item_notes : '-' }}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-end p-3">
        <div>
          <button type="button" class="btn-new me-4"
            style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;"
            (click)="viewitem?.hide()">Close</button>
        </div>
        <!-- <div>
          <button type="button" class="btn-new me-2" style="width: auto !important;"
            (click)="OpenNestedModal()">Edit</button>
        </div> -->
      </div>
      <div class="d-flex flex-row">
        <div class="previousitem pointer" (click)="GoToPreviousItem(ViewItemData)"
          [ngClass]="{'disableItemButton': this.disablePrevoiusPatientButton == true}">
          <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
        </div>
        <div class="nextitem pointer" (click)="GoToNextItem(ViewItemData)"
          [ngClass]="{'disableItemButton': this.disableNextPatientButton == true}">
          <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
        </div>
      </div>
    </div>
  </div>
</div>
