.item_category_label{
  position: absolute;left: 7%;top: 61%;border-radius:4px;padding: 0px 6px 0px 6px;color: #fff;font-size: 12px;
  background: #FF9D4F;
}

.modal_value{
  font-weight: 400 !important;
}

.disableItemButton{
  opacity: 0.2;
  cursor:not-allowed;
  pointer-events:all !important;
}

:host ::ng-deep .ag-floating-filter-button{
  color: #fff !important;
}
