<div class="cards clinical-history">
    <div class="row mt-1">
        <div class="col-12 d-flex justify-content-between" >
                <h3 class="clicnical-texts">Clinical History</h3>
                <button class="clinical-history-button" (click)="OpenModal('addstaff')"><img src="assets/New_Images/mdi_plus-circle.svg" width="20px" alt="add-img">Add</button>
        </div>
    </div> 
            <div class="row mt-2 mx-0">
                <div class="col-12 clinical-table p-0">
                    <div class="d-flex justify-content-between header-designs">
                        <h3 class="clicnical-texts" style="color: #2B3B3E !important; font-size: 12px !important; margin: 0.5rem 1rem 0rem 1rem;">Pre Diagnosis</h3>
                        <img src="assets/New_Images/Vector.svg" width="16px" alt="add-img" style="margin: 0.5rem -0.5rem 0rem auto; color: #594585;">
                        <h4 class="edit-texts">Edit</h4>
                    </div>
                    <div>
                        <table class="table responsive">
                            <thead class="table-header">
                                <tr>
                                    <th scope="col">Diagnosis</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Updated By</th>
                                    <th scope="col">Updated On</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr *ngFor="let data of clinical_history">
                                    <th>{{data.diagnosis}}</th>
                                    <th>{{data.code}}</th>
                                    <th>05/22/2024 | 05.20 PM</th>
                                    <th>{{data.updated_by}}</th>
                                    <th>05/22/2024 | 05.20 PM</th>
                                </tr>
                                <tr class="text-end"><td colspan="3" *ngIf="false">No Data Found</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between header-designs">
                        <h3 class="clicnical-texts" style="color: #2B3B3E !important; font-size: 12px !important; margin: 0.5rem 1rem 0rem 1rem;">Indication</h3>
                        <img src="assets/New_Images/Vector.svg" width="16px" alt="add-img" style="margin: 0.5rem -0.5rem 0rem auto;">
                        <h4 class="edit-texts">Edit</h4>
                    </div>
                    <div>
                        <table class="table">
                            <thead class="table-header">
                                <tr>
                                    <th scope="col">Diagnosis</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Updated By</th>
                                    <th scope="col">Updated On</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr *ngFor="let data of indication">
                                    <th>{{data.diagnosis}}</th>
                                    <th>{{data.code}}</th>
                                    <th>05/22/2024 | 05.20 PM</th>
                                    <th>{{data.updated_by}}</th>
                                    <th>05/22/2024 | 05.20 PM</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between header-designs">
                        <h3 class="clicnical-texts" style="color: #2B3B3E !important; font-size: 12px !important; margin: 0.5rem 1rem 0rem 1rem;">Post Diagnosis</h3>
                        <img src="assets/New_Images/add.svg" width="16px" alt="add-img" style="margin: 0.3rem -0.5rem 0rem auto;">
                        <h4 class="edit-texts">Add</h4>
                    </div>
                    <div>
                        <table class="table">
                            <thead class="table-header">
                                <tr>
                                    <th scope="col">Diagnosis</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Updated By</th>
                                    <th scope="col">Updated On</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr>
                                    <!-- <th>Diagnosis 1</th>
                                    <th>3424434</th>
                                    <th>05/22/2024 | 05.20 PM</th>
                                    <th>Noor Lucas</th>
                                    <th>05/22/2024 | 05.20 PM</th> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>  
            <div class="row">
                <div class="col-12 mt-3 d-flex justify-content-center">
                    <button class="w-100 emr-button">Click Here to view More Records in EMR</button>
                </div>
            </div>
</div>

<div bsModal #addstaff="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2" [config]="{ignoreBackdropClick: true}" >
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 850px !important;">
      <div class="modal-content" style="width: 85%;">
        <div class="d-flex justify-content-around align-items-center p-3 m-0" style="background: #ECE5FB; height: 2.5rem;">
          <h1 class="flex-grow-1" style="font-size: 14px !important;color: #594585 !important;">Clinical History
          </h1>
          <img src="assets/New_Images/ep_close-bold.png" width="16px" height="16px" (click)="CloseModal('addstaff')"
            style="cursor: pointer;">
        </div>
        <div class="row mt-1">
            <div class="col-12 p-5">
                <div class="tab-pane" role="tabpanel" style="width: 100% !important;">
                <ul class="nav line-tab px-0 nav-tabs  nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active"  data-bs-toggle="tab" href="#pre_diagnosis" role="tab" aria-controls="pre_diagnosis" style="padding: 0.7rem;"
                            aria-selected="true" >
                            <h1 class="d-none d-sm-block name"> Pre Diagnosis</h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"  data-bs-toggle="tab" href="#indication" role="tab" aria-selected="false" aria-controls="indication"  tabindex="-1" style="padding: 0.7rem;" >
                            <h1 class="d-none d-sm-block name">Indication
                            </h1>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"  data-bs-toggle="tab" href="#post_diagnosis" role="tab" aria-controls="post_diagnosis" aria-selected="false"  tabindex="-1" style="padding: 0.7rem;">
                            <h1 class="d-none d-sm-block name">Post Diagnosis</h1>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active show"  id="pre_diagnosis" role="tabpanel" aria-labelledby="pre-diagnosis-tab">
                        <form [formGroup]="tableFormClinicalHistory">
                            <div formArrayName="rows">
                                <div *ngFor="let diagnosis of rows.controls; let i = index" [formGroupName]="i" class="pre_diagnosis_style d-flex flex-row p-3">
                                    <div class="d-flex flex-column mt-1" style="width: 37%;">
                                        <label for="diagnosis" class="nav-text-format">Diagnosis</label>
                                        <select name="diagnosis" id="diagnosis" class="option_style" formControlName="diagnosis">
                                            <option *ngFor="let options of pre_ind_post_diagnosis_options;">{{options}}</option>
                                            <option>Pre-Diagnosis</option>
                                        </select>
                                    </div>
                                    <div class="d-flex flex-column mt-1 ms-3" style="width: 20%;">
                                        <label for="code" class="nav-text-format">Code</label>
                                        <input type="text" class="option_style" formControlName="code">
                                    </div>
                                    <div class="d-flex flex-column mt-1 ms-3" style="width: 25%;">
                                        <label for="code" class="nav-text-format">Date</label>
                                        <input type="date" class="option_style" formControlName="date">
                                    </div>
                                    <div *ngIf="rows.length > 0" class="image ms-2 d-flex align-items-center" style="margin-top: 31px;">
                                        <img *ngIf="i === 0 && rows.length === 1" src="assets/New_Images/diagnosis.png" style="cursor: pointer;" (click)="addRow()" alt="add-diagnosis" height="24px" width="24px">
                                        <img *ngIf="i === 0 && rows.length > 1" src="assets/New_Images/mdi_minus-circle.png" style="cursor: pointer;" (click)="deleteRow(i)" alt="delete-diagnosis" height="24px" width="24px">
                                        <img *ngIf="i > 0" src="assets/New_Images/mdi_minus-circle.png" style="cursor: pointer;" (click)="deleteRow(i)" alt="delete-diagnosis" height="24px" width="24px">
                                        <img *ngIf="i > 0" src="assets/New_Images/diagnosis.png" style="cursor: pointer;" (click)="addRow()" alt="add-diagnosis" height="24px" width="24px">
                                    </div>
                                   </div>
                            </div>
                        </form>    
                    </div>
                    <div  class="tab-pane" id="indication" role="tabpanel" aria-labelledby="indication-tab">
                        <form [formGroup]="tableFormIndication">
                            <div formArrayName="rows">
                        <div *ngFor="let diagnosis of rows.controls; let i = index" [formGroupName]="i" class="indication_style d-flex flex-row p-3">
                            <div class="d-flex flex-column mt-1" style="width: 37%;">
                                <label for="diagnosis" class="nav-text-format">Diagnosis</label>
                                <select name="diagnosis" id="diagnosis" class="option_style" formControlName="diagnosis">
                                    <option *ngFor="let options of pre_ind_post_diagnosis_options;">{{options}}</option>
                                    <option>Indication</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column mt-1 ms-3" style="width: 20%;">
                                <label for="code" class="nav-text-format">Code</label>
                                <input type="text" class="option_style" formControlName="code">
                            </div>
                            <div class="d-flex flex-column mt-1 ms-3" style="width: 25%;">
                                <label for="code" class="nav-text-format">Date</label>
                                <input type="date" class="option_style" formControlName="date">
                            </div>
                            <div *ngIf="rows.length > 0" class="image ms-2 d-flex align-items-center" style="margin-top: 31px;">
                                <img *ngIf="i === 0 && rows.length === 1" src="assets/New_Images/diagnosis.png" style="cursor: pointer;" (click)="addRowIndication()" alt="add-diagnosis" height="24px" width="24px">
                                <img *ngIf="i === 0 && rows.length > 1" src="assets/New_Images/mdi_minus-circle.png" style="cursor: pointer;" (click)="deleteRowIndication(i)" alt="delete-diagnosis" height="24px" width="24px">
                                <img *ngIf="i > 0" src="assets/New_Images/mdi_minus-circle.png" style="cursor: pointer;" (click)="deleteRowIndication(i)" alt="delete-diagnosis" height="24px" width="24px">
                                <img *ngIf="i > 0" src="assets/New_Images/diagnosis.png" style="cursor: pointer;" (click)="addRowIndication()" alt="add-diagnosis" height="24px" width="24px">
                            </div>
                           </div>
                            </div>
                        </form>
                    </div>
                    <div  class="tab-pane" id="post_diagnosis" role="tabpanel" aria-labelledby="post-diagnosis-tab">
                        <div class="post_diagnosis_style d-flex flex-row p-3">
                            <div class="d-flex flex-column mt-1" style="width: 37%;">
                                <label for="diagnosis" class="nav-text-format">Diagnosis</label>
                                <select name="diagnosis" id="diagnosis" class="option_style">
                                    <option *ngFor="let options of pre_ind_post_diagnosis_options;">{{options}}</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column mt-1 ms-3" style="width: 20%;">
                                <label for="code" class="nav-text-format">Code</label>
                                <input type="text" class="option_style">
                            </div>
                            <div class="d-flex flex-column mt-1 ms-3" style="width: 25%;">
                                <label for="code" class="nav-text-format">Date</label>
                                <input type="date" class="option_style">
                            </div>
                            <div *ngIf="rows.length > 0" class="image ms-2 d-flex align-items-center" style="margin-top: 31px;">
                                <img *ngIf="i === 0 && rows.length === 1" src="assets/New_Images/diagnosis.png" style="cursor: pointer;" (click)="addRow()" alt="add-diagnosis" height="24px" width="24px">
                                <img *ngIf="i === 0 && rows.length > 1" src="assets/New_Images/mdi_minus-circle.png" style="cursor: pointer;" (click)="deleteRow(i)" alt="delete-diagnosis" height="24px" width="24px">
                                <img *ngIf="i > 0" src="assets/New_Images/mdi_minus-circle.png" style="cursor: pointer;" (click)="deleteRow(i)" alt="delete-diagnosis" height="24px" width="24px">
                                <img *ngIf="i > 0" src="assets/New_Images/diagnosis.png" style="cursor: pointer;" (click)="addRow()" alt="add-diagnosis" height="24px" width="24px">
                            </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
          <div class="d-flex justify-content-center p-3 mt-1">
            <button type="button" class="btn-new me-2"
              style="background:#ffffff !important;color: #594585 !important;width: auto !important; border: 1px solid #594585 !important; font-weight: 500;
              font-size: 12px !important;
          " (click)="CloseModal('addstaff')"
              >Cancel</button>
            <button type="button" class="btn-new" style="width: auto !important;" (click)="save_Indication_Data()" >Submit</button>
          </div>
      </div>
    </div>
  </div>