.clinical-history{
    width: 100%;
    height: 40em;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #E2DAF1;
    // margin-left: -1rem;
}

.clicnical-texts{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #594585;
}

.clinical-table{
    height: auto;
    border: 1px solid rgba(232, 226, 246, 1); 
    border-radius: 6px;
}

.edit-texts{
    font-family: 'Poppins';
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #594585;
    margin: 0.5rem 1rem 0rem 1rem;
}


.header-designs{
    background-color: #F2EEFC;
    padding: 4px;
}

.table-header{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4C5557;
}

.table-body{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #526A84;
}