<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center">
      <h1 class="header_name_bold" style="color:
      #526A84 !important;">Patient Lists</h1>
      <div class="d-flex ms-auto">
        <div class="d-flex justify-content-between align-items-center float-end ms-2 pointer" style="flex-wrap: wrap;">
          <div class="tab_filter_img me-2" (click)="ReloadPatientList()">
            <div class="me-0"><button class="btn-secondary"><img src="assets/New_Images/refresh.svg" style="margin-right: 8px;" >Refresh</button></div>
          </div>
          <!-- <div class="tab_filter_img" style="margin-right: 85px;">
            <div style="border: 1px dotted #855EDB;width: 20px;height: 20px;">
              <div class="position-relative d-inline-block">
                <div class="position-absolute bottom-0 end-0" style="left: -6px;top: -20px;">
                  <label for="project-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Select Image">
                    <div class="refresh-button1"><img src="assets/New Images/export.svg" style="margin-right: 8px;"
                        alt="export">Export</div>
                  </label>
                  <input class="form-control d-none" value="" id="project-image-input" type="file" accept=".xlsx , .csv"
                    (change)="SelectedFilePatientList($event)">
                </div>
              </div>
            </div>
          </div> -->
          <div class="tab_filter_img me-2" (click)="GridCSVExport()">
            <div class="refresh-button1"><img src="assets/New_Images/export.svg" style="margin-right: 8px;" alt="export">Export</div>
          </div>

          <div class="me-0"><button class="btn-primary" style="padding: 5px 11px 5px 3px !important;" (click)="GoToRegisterPage()"><img src="assets/New_Images/mdi_plus-circle.svg" style="margin-right: 16px;" alt="New Patient">New patient</button></div>
        </div>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid rgba(0, 0, 0, 0.1);top: 6px;">
</div>







<div class="cards mt-3">
  <!--Accordian status-->
  <div class="accordion mt-2" id="filterAccordion" style="background-color: #FAF8FF !important; border-radius: 4px;">
    <div class="accordion-item" style="border: 1px solid
     #E7E1F3 !important;">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="font-weight: 500;color: #000000; background-color: #FAF8FF
        !important;border-bottom: none !important;">Filters</button>
      <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#filterAccordion">
        <div class="accordion-body" style="background: #FAF8FF !important;">
          <div class="mb-0 d-flex" style="margin-top: -1rem;">
            <div style="width: 12%;" class="me-3">
              <div><label for="" style="font-weight: 600;color: rgba(0, 0, 0, 0.5)">Patient Type</label></div>
              <div> <ng-select [items]="this.Patient_type" placeholder="Select the Patient type" *ngIf="this.Patient_type"  [(ngModel)]="SelectedPatientType"></ng-select> </div>
            </div>
            <div style="width: 12%;" class="me-3">
              <div><label for="" style="font-weight: 600;color: rgba(0, 0, 0, 0.5)">Blood Group</label></div>
              <div> <ng-select [items]="this.Blood_Group" placeholder="Select the Blood Group" *ngIf="this.Blood_Group" [(ngModel)]="SelectedBloodGroup"></ng-select> </div>
            </div>
            <div style="width: 12%;" class="me-3">
              <div><label for="" style="font-weight: 600;color: rgba(0, 0, 0, 0.5)">Speciality</label></div>
              <div> <ng-select [items]="this.Speciality" placeholder="Select the Speciality" *ngIf="this.Speciality" [(ngModel)]="SelectedSpeciality"></ng-select> </div>
            </div>
            <div style="width: 12%;" class="me-3">
              <div><label for="" style="font-weight: 600;color: rgba(0, 0, 0, 0.5)">Priority</label></div>
              <div> <ng-select [items]="this.Priority" placeholder="Select the Priority" *ngIf="this.Priority"  [(ngModel)]="SelectedPriority"></ng-select> </div>
            </div>
            <div style="width: 20%;">
              <div style="margin-top: 1.7rem;">
                <button class="btn-outline" (click)="ResetFilter()" style="padding: 6px 14px 6px 14px !important;">Reset</button>
                <button class="btn-primary ms-2" style="margin-left: 10px;" (click)="SearchBy(SelectedPatientType,SelectedBloodGroup,SelectedSpeciality,SelectedPriority)" style="padding: 6px 14px 6px 14px !important;">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Search bar-->

  <!--grid data table-->
    <div class="row mt-3 m-0" style="border: 1px solid #E7E1F3; border-radius: 6px;">
      <div class="col-4">
        <div class="mt-3 ms-1" style="color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-family: 'Poppins';">
          <span style="margin-right: 6px;">Shows</span>
          <select class="form-selects" style="width: 11% !important;
            border: 1px solid
          #B1CBD4 !important;color: #A8ACAD !important; padding: 1px !important;
            height: 30px !important;"  (change)="setpaginationSize()" [(ngModel)]="pageSize">
            <option >10</option>
            <option >20</option>
            <option >50</option>
            <option >100</option>
            <option >200</option>
            <option >500</option>
          </select>
          <span style="margin-left: 6px;">entries</span>
        </div>
      </div>
      <div class="col-8 mt-3 d-flex justify-content-end">
          <input type="text" placeholder="Search here" class="search-designs" (input)="PatientListGridSearch()" [(ngModel)]="patient_Info">
      </div>
    <div class="mt-3 p-0">
      <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnMainDefs" [gridOptions]="gridOptions1" #patientListGrid
      style="width: 100%;height: 70vh;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef"
      (selectionChanged)="onSelectionChanged($event)" (rowClicked)="onRowClicked($event)" [tooltipShowDelay]="tooltipShowDelay"
      [tooltipMouseTrack]="true"
      ></ag-grid-angular>
    </div>
    </div>
</div>


<div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="CloseModal('viewitem')"
          style="cursor: pointer">
      </div>

        <div class="p-3 mx-3" style="height: auto;background-color: #594585;border-radius: 6px;">
          <div class="d-flex flex-row">
            <div>
              <img [src]="apiUrl+ViewPatientData.image  != apiUrl + 'null' ? apiUrl+ViewPatientData.image : 'assets/images/Item_default_img.svg'" style="width: 185px;height: 146px;">
            </div>
            <div class="d-flex flex-column mx-3" style="width: 100%;">
              <div class="d-flex flex-row justify-content-between align-items-center" style="width: 100%;height: 69px;">
                <div style="width: 30%;">
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">First name</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewPatientData.first_name ? ViewPatientData.first_name : '-' }}</h1>
                </div>
                <div style="width: 30%;">
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Middle name</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewPatientData.middle_name ? ViewPatientData.middle_name : '-' }}</h1>
                </div>
                <div style="width: 30%;">
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Surname</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewPatientData.surname ? ViewPatientData.surname : '-' }}</h1>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-center" style="width: 100%;height: 69px;">
                <div style="width: 30%;">
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Priority</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewPatientData.priority ? ViewPatientData.priority : '-' }}</h1>
                </div>
                <div style="width: 30%;">
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Age</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewPatientData.age ? ViewPatientData.age : '-' }}</h1>
                </div>
                <div style="width: 30%;">
                  <label for="items_category" class="modal-label-white mb-1" style="color: #E8E5F5 !important;">Gender</label>
                  <h1 class="" style="color: #fff !important;font-weight: 500 !important;">{{ ViewPatientData.gender ? ViewPatientData.gender : '-' }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="overflow-y: scroll !important;height: 500px;padding: 15px;">
        <h1 class="header_name ms-3" style="font-weight: 550 !important;">Health Details</h1>
          <div class="row m-3">
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Blood group</label>
                <h1 class="viewItem_data">{{ ViewPatientData.blood_group ? ViewPatientData.blood_group : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1" >Height</label>
                <h1 class="viewItem_data">{{ ViewPatientData.height ? ViewPatientData.height : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Weight</label>
                <h1 class="viewItem_data">{{ ViewPatientData.weight ? ViewPatientData.weight : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Blood pressure</label>
                <h1 class="viewItem_data">{{ ViewPatientData.blood_pressure ? ViewPatientData.blood_pressure : '-' }}</h1>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Heart beat</label>
                <h1 class="viewItem_data">{{ ViewPatientData.heart_beat ? ViewPatientData.heart_beat : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1" >Temperature</label>
                <h1 class="viewItem_data">{{ ViewPatientData.temperature ? ViewPatientData.temperature : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">SpO2</label>
                <h1 class="viewItem_data">{{ ViewPatientData.spo2 ? ViewPatientData.spo2 : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Respiratory rate</label>
                <h1 class="viewItem_data">{{ ViewPatientData.respiratory_rate ? ViewPatientData.respiratory_rate : '-' }}</h1>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-12 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Speciality</label>
                <h1 class="viewItem_data">{{ ViewPatientData.specialty ? ViewPatientData.specialty : '-' }}</h1>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-12 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Critical information</label>
                <h1 class="viewItem_data">{{ ViewPatientData.critical_information ?  ViewPatientData.critical_information : '-' }}</h1>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-12 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Notes</label>
                <h1 class="viewItem_data">{{ ViewPatientData.notes ?  ViewPatientData.notes : '-' }}</h1>
              </div>
            </div>
          </div>

          <!-- Personal Details -->
          <h1 class="header_name ms-3" style="font-weight: 550 !important;">Personal details</h1>
          <div class="row m-3">
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">DOB</label>
                <h1 class="viewItem_data">{{ ViewPatientData.dob ? ViewPatientData.dob : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1" >Name of children</label>
                <h1 class="viewItem_data">{{ ViewPatientData.name_of_children ? ViewPatientData.name_of_children : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Name of partner</label>
                <h1 class="viewItem_data">{{ ViewPatientData.name_of_partner ? ViewPatientData.name_of_partner : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Occupation</label>
                <h1 class="viewItem_data">{{ ViewPatientData.occupation ? ViewPatientData.occupation : '-' }}</h1>
              </div>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Marital status</label>
                <h1 class="viewItem_data">{{ ViewPatientData.marital_status ? ViewPatientData.marital_status : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1" >Referred by</label>
                <h1 class="viewItem_data">{{ ViewPatientData.referred_by ? ViewPatientData.referred_by : '-' }}</h1>
              </div>
            </div>
            <div class="col-3 ps-0">
              <div class="mb-2">
                <label for="items_category" class="modal-label mb-1">Language</label>
                <h1 class="viewItem_data">{{ ViewPatientData.language ? ViewPatientData.language : '-' }}</h1>
              </div>
            </div>
          </div>


          <!-- Contact Details -->
          <h1 class="header_name ms-3" style="font-weight: 550 !important;">Contact details</h1>
            <div class="row m-3">
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Primary telephone</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.telephone ? ViewPatientData.telephone : '-' }}</h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Primary email</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.primary_email ? ViewPatientData.primary_email : '-' }}
                  </h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Type</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.address_type ? ViewPatientData.address_type : '-' }}</h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Flat unit no</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.flat_unit_no ? ViewPatientData.flat_unit_no : '-' }}</h1>
                </div>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Street no</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.street_no ? ViewPatientData.street_no : '-' }}</h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Street name</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.street_name ? ViewPatientData.street_name : '-' }}
                  </h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Suburb</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.suburb ? ViewPatientData.suburb : '-' }}</h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Town city</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.town_city ? ViewPatientData.town_city : '-' }}</h1>
                </div>
              </div>
            </div>
            <div class="row m-3">
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">State</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.state ? ViewPatientData.state : '-' }}</h1>
                </div>
              </div>
              <div class="col-3 ps-0">
                <div class="mb-2">
                  <label for="items_category" class="modal-label mb-1">Post code</label>
                  <h1 class="viewItem_data">{{ ViewPatientData.post_code ? ViewPatientData.post_code : '-' }}
                  </h1>
                </div>
              </div>
            </div>
        </div>

      <div class="d-flex flex-row justify-content-end p-3">
        <div>
          <button type="button" class="btn-new me-4"
            style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;"
            (click)="CloseModal('viewitem')">Go Back</button>
        </div>
        <div>
          <button type="button" class="btn-new me-2" style="width: auto !important;"
            (click)="GoToProcedureWorkArea()">View Procedure</button>
        </div>
      </div>
      <!-- <div class="d-flex flex-row">
        <div class="previousitem pointer" (click)="GoToPreviousItem(ViewPatientData)"
          [ngClass]="{'disableItemButton': this.disablePrevoiusPatientButton == true}">
          <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
        </div>
        <div class="nextitem pointer" (click)="GoToNextItem(ViewPatientData)"
          [ngClass]="{'disableItemButton': this.disableNextPatientButton == true}">
          <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
        </div>
      </div> -->
    </div>
  </div>
</div>

