<div class="row">
  <div class="col-12">
    <div class="mt-2">
      <div class="d-flex flex-row p-3 editable_header"
        style="background: #855EDB;border: 1px solid #855EDB;border-radius: 17px 0px 0px 0px;position: relative;z-index: 9;height: 50px;top: -6px;"
        *ngIf="showEditablefields == true">
        <div class="flex-shrink-1">
          <div class="d-flex flex-row align-items-center">
            <div class="me-2">
              <input class="form-check-input SelectedCheckbox" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="AllItemsChecked"
                value="option1" (click)="UnSelectAllItems(AllItemsChecked)">
            </div>
            <div>
              <h1 style="color: #fff !important;">Deselect | {{selected_row_data_length }} Item selected</h1>
            </div>
          </div>
        </div>
        <div class="flex-grow-0 ms-auto">
          <div class="d-flex flex-row justify-centent-between align-items-center">
            <div class="me-4 pointer">
              <h1 style="color: #fff !important;" class="mb-0" (click)="edit_modal?.show()"><i class="mdi mdi-pencil-outline me-1"
                  style="color:#fff;font-size:13px"></i>Edit</h1>
            </div>
            <div class="me-4 pointer" (click)="setalert?.show()">
              <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/update_qty.svg"  class="me-1" style="width: 13px;height:20px;">Set Alert</h1>
            </div>
            <div class="me-4 pointer" (click)="OpenModal('bulkupdate')">
              <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/update_qty.svg"  class="me-1" style="width: 13px;height:20px;">Update Qty</h1>
            </div>
            <div class="me-4 pointer" (click)="move?.show()">
              <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/move_img.svg" width="15px"
                  height="15px" class="me-1">Move</h1>
            </div>
            <div class="me-4 pointer" (click)="clone_modal.show()">
              <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/clone_img.svg" width="15px"
                  height="15px" class="me-1">Clone</h1>
            </div>
            <div class="me-4 pointer" (click)="OpenModal('add_tag')">
              <h1 style="color: #fff !important;" class="mb-0"> <img src="assets/images/add_tag_white.svg" width="15px"
                  height="15px" class="me-1">Add Tag</h1>
            </div>
            <div class="me-4 pointer" (click)="OpenModal('delete_modal')">
              <h1 style="color: #fff !important;" class="mb-0"><i class="mdi mdi-trash-can-outline me-1"
                  style="color:#fff;font-size:13px"></i>Delete</h1>
            </div>
          </div>
        </div>
      </div>
      <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #myGrid_1
        style="width: 100%;height: 576px;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef"
        (selectionChanged)="onSelectionChanged($event)" [sideBar]="sideBar"></ag-grid-angular>
    </div>
  </div>
</div>
<div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewitem?.hide()"
          style="cursor: pointer">
      </div>
      <div style="overflow-y: scroll !important;height: 500px;">
      <div class="row m-3" style="flex-wrap: nowrap !important">
        <div class="col-3 px-2">
          <div class="d-flex flex-column justify-centent-between">
            <div class="mb-3">
              <label for="items_category" class="modal-label">Item:</label>
              <img src="assets/images/item_image_sample.svg" width="207px" height="104px">
            </div>
          </div>
        </div>
        <div class="col-9" style="padding: 0px 0px 0px 84px;">
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Item number</label>
                <h1 class="">{{ ViewItemData.item_number }}</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1" >Item name</label>
               <h1 class="">{{ ViewItemData.item_name }}</h1>
              </div>
            </div>
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class=" mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Item category</label>
                <h1 class="">{{ ViewItemData.item_category?.name }}</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Barcodes</label>
                <h1 class="">{{ ViewItemData.item_barcode }}</h1>
              </div>
            </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Procedure </label>
            <h1 class="">{{ ViewItemData.item_procedure_id }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Item Status</label>
            <h1 class="">{{ ViewItemData.item_status }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1" >Vendor</label>
            <h1 class="">{{ ViewItemData.item_vendor?.VendorName }}</h1>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Price</label>
            <h1 class="">{{ ViewItemData.price }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Size</label>
            <h1 class="">{{ ViewItemData.size }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Sub Category</label>
            <h1 class="">{{ ViewItemData.item_sub_category?.sub_category_name }}</h1>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1" >Store</label>
            <h1 class="">{{ ViewItemData.store_qty }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Cabinet</label>
            <h1 class="">{{ ViewItemData.cabinet_qty }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Expiry Date</label>
            <h1 class="">{{ ViewItemData.expired_date }}</h1>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Min level  </label>
            <h1 class="">{{ ViewItemData.min_level }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1" >Cat No</label>
            <h1 class="">{{ ViewItemData.cat_no }}</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Lot No</label>
            <h1 class="">{{ ViewItemData.lot_no }}</h1>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-8">
          <div class="d-flex">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Tags</label>
              <h1 >{{ ViewItemData.tag }}</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Unit</label>
            <h1 class="">{{ ViewItemData.unit }}</h1>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-12">
          <label for="items_category" class="modal-label mb-1">Item description</label>
          <h1 class="">{{ ViewItemData.item_description }}</h1>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-12">
          <label for="items_category" class="modal-label mb-1">Notes</label>
          <h1 class="">{{ ViewItemData.item_notes }}</h1>
        </div>
      </div>
    </div>
      <div class="d-flex flex-row justify-content-end p-3">
        <div>
          <button type="button" class="btn-new me-4"
            style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;"
            (click)="CloseModal('item_name')">Close</button>
        </div>
        <div>
          <button type="button" class="btn-new me-2"
            style="width: auto !important;"
            (click)="OpenNestedModal()">Edit</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="previousitem">
        <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
      </div>
      <div class="nextitem">
        <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
      </div>
    </div>
  </div>
</div>

<div bsModal #editItem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 888px !important;">
    <div class="modal-content p-2">
      <div class="d-flex justify-content-between align-items-center p-2 m-2" style="background: #F3F4F8;border-radius: 6px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">Edit Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="CloseModal('editItem')"
          style="cursor: pointer;">
      </div>
      <form [formGroup]="AddItemForm">
        <div style="height: 650px;overflow-y: scroll;overflow-x: hidden;">
      <div class="row p-3" style="height: 209px ;">
        <div class="col-4" style="height: 180px;">
          <div class="">
            <label class="modal-label-edit">Images</label>
            <span class="m-1" style="font-size: 6px; color: #855EDB;">File format png and jpeg</span>
              <ngx-dropzone class="dropzone" (change)="onSelect($event)" [accept]="'image/*'" >
                <ngx-dropzone-label class="dz-message needsclick">
                  <div class="mt-4">
                    <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                  </div>

                  <h5>Drop files here or click to upload.</h5>
                </ngx-dropzone-label>
              </ngx-dropzone>
              <ngx-dropzone-preview *ngIf="imageURL" class="border rounded" [removable]="true" (removed)="onRemove()">
                <ngx-dropzone-label>
                  <div class="d-flex p-2">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar-sm bg-light rounded">
                        <img class="img-fluid rounded d-block" src="{{imageURL}}" alt="Dropzone-Image" formControlName="">
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <div class="pt-1">
                        <strong class="error text-danger"></strong>
                      </div>
                    </div>
                  </div>
                </ngx-dropzone-label>
              </ngx-dropzone-preview>
              <!-- end dropzon-preview -->

              <!-- <div style="border: 1px dotted #855EDB;width: 264px;height: 148px;">
                <div class="position-relative d-inline-block">
                  <div class="position-absolute bottom-0 end-0">
                      <label for="project-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                          <div class="avatar-xs">
                              <div class="avatar-title bg-light border rounded-circle text-muted cursor-pointer shadow font-size-16">
                                  <i class='bx bxs-image-alt'></i>
                              </div>
                          </div>
                      </label>
                      <input  #imageInput class="form-control d-none" value="" id="project-image-input" type="file" accept="image/png, image/gif, image/jpeg" (change)="handleImageInput(imageInput)">
                  </div>
                  <div class="avatar-lg">
                      <div class="avatar-title bg-light rounded-circle">
                          <img [src]="imageUrl" id="projectlogo-img" class="avatar-md h-auto rounded-circle" />
                      </div>
                  </div>
              </div>
              </div> -->
          </div>

        </div>
        <div class="col-8" style="height: 180px;">
          <div class="d-flex flex-row justify-centent-between" style="height: 100px;">
            <div class="mb-5 me-4" style="width: 50%;">
              <label for="items_category" class="modal-label-edit">Items number<span
                  style="color: red;">*</span></label>
              <input class="form-control-new" placeholder="" type="text" formControlName="ItemNumber" minlength="2">
              <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
                <div
                  *ngIf="(this.AddItemForm.controls.ItemNumber.dirty || this.AddItemForm.controls.ItemNumber.touched) && this.AddItemForm.controls.ItemNumber.errors?.required">
                  Please fill the field</div>
                <div
                  *ngIf="(this.AddItemForm.controls.ItemNumber.dirty || this.AddItemForm.controls.ItemNumber.touched) && this.AddItemForm.controls.ItemNumber.errors?.minlength">
                  Item Number should be more than one character</div>
              </div>
            </div>
            <div class="mb-5" style="width: 50%;">
              <label for="items_name" class="modal-label-edit">Items Name<span
                  style="color: red;">*</span></label>
              <input class="form-control-new" type="text" formControlName="ItemName" minlength="2">
              <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
                <div
                  *ngIf="(this.AddItemForm.controls.ItemName.dirty || this.AddItemForm.controls.ItemName.touched) && this.AddItemForm.controls.ItemName.errors?.required">
                  Please fill the field</div>
                <div
                  *ngIf="(this.AddItemForm.controls.ItemName.dirty || this.AddItemForm.controls.ItemName.touched) && this.AddItemForm.controls.ItemName.errors?.minlength">
                  Item name should be more than one character</div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="d-flex flex-row" style="width: 50%;">
              <div class="mb-5" style="width: 100%;">
                <label for="items_descrption" class="modal-label-edit">Item Category<span
                  style="color: red;">*</span></label>
                <ng-select [items]="this.Category" placeholder="Select Category" formControlName="ItemCategory" (change)="OnChangeItemCategory(this.AddItemForm.controls.ItemCategory.value)"></ng-select>
                <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
                  <div
                    *ngIf="(this.AddItemForm.controls.ItemCategory.dirty || this.AddItemForm.controls.ItemCategory.touched) && this.AddItemForm.controls.ItemCategory.errors?.required">
                    Please select atleast one of the option</div>
                </div>
              </div>
              <div class="mt-4 ms-2">
                <button class="btn-new"
                  style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                    class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
              </div>
            </div>
            <div class="ms-3" style="width: 50%;">
              <div class="d-flex flex-row" style="width: 100%;">
                <div class="mb-5" style="width: 100%;">
                  <label for="lot_no" class="modal-label-edit">Sub Category</label>
                  <ng-select [items]="this.SubCategories" placeholder="Choose option" formControlName="subcategory"></ng-select>
                </div>
                <div class="mt-4 ms-2">
                  <button class="btn-new"
                    style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                      class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="d-flex flex-row">
            <div class="">
              <label for="items_status" class="modal-label-edit">Procedure <span style="color: #D62424;font-size: 6px;text-align: center;">You can also link the item to multiple procedure</span></label>
              <ng-select [items]="Procedure" placeholder="Select Status" formControlName="procedure"></ng-select>
            </div>
            <div class="mt-4 ms-2">
              <button class="btn-new"
                style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                  class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="me-4">
            <label for="items_status" class="modal-label-edit">Item Status</label>
            <ng-select [items]="ItemStatus" placeholder="Select Status" formControlName="ItemStatus"></ng-select>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-row">
            <div class="" style="width: 100%;">
              <label for="items_status" class="modal-label-edit">Vendor</label>
              <ng-select [items]="this.vendors" placeholder="Select Status" formControlName="Vendor" ></ng-select>
            </div>
            <div class="mt-4 ms-2">
              <button class="btn-new"
                style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
                  class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="">
            <label for="items_no" class="modal-label-edit">Price<span
                style="color: red;">*</span></label>
            <input class="form-control-new price_field" type="text" style="text-align: right;" formControlName="price" step="0.01">
            <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
              <div
                *ngIf="(this.AddItemForm.controls.price.dirty || this.AddItemForm.controls.price.touched) && this.AddItemForm.controls.price.errors?.required">
                Please fill the field</div>
            </div>
            <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
              <div
                *ngIf="(this.AddItemForm.controls.price.dirty || this.AddItemForm.controls.price.touched) && this.AddItemForm.controls.price.errors?.pattern">
                Price value should be in numbers</div>
            </div>
            <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
              <div
                *ngIf="(this.AddItemForm.controls.price.dirty || this.AddItemForm.controls.price.touched) && this.AddItemForm.controls.price.errors?.min">
                Price value should be greater than or equal to zero</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="size" class="modal-label-edit">Size<span style="color: red;">*</span></label>
            <div class="d-flex">
              <input class="form-control-new me-2" type="text" formControlName="size">
              <ng-select [items]="format_value" placeholder="" style="width: 30%;" class="me-3" formControlName="sizetype"></ng-select>
            </div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.size.dirty || this.AddItemForm.controls.size.touched) && this.AddItemForm.controls.size.errors?.required">
              Please fill the field</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.size.dirty || this.AddItemForm.controls.size.touched) && this.AddItemForm.controls.sizetype.errors?.required">
              Please select atleast one size type</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div
              *ngIf="(this.AddItemForm.controls.size.dirty || this.AddItemForm.controls.size.touched) && this.AddItemForm.controls.size.errors?.min">
              Size value should be greater than or equal to zero</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div
              *ngIf="(this.AddItemForm.controls.size.dirty || this.AddItemForm.controls.size.touched) && this.AddItemForm.controls.size.errors?.pattern">
              Size value should not be in alphabets</div>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="notes" class="modal-label-edit">Barcodes<span style="color: red;">*</span></label>
            <input class="form-control-new barcode_img" type="text" placeholder="scan or type" formControlName="Barcodes" minlength="2">
              <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
                <div
                  *ngIf="(this.AddItemForm.controls.Barcodes.dirty || this.AddItemForm.controls.Barcodes.touched) && this.AddItemForm.controls.Barcodes.errors?.required">
                  Please fill the field</div>
              </div>
              <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
                <div
                  *ngIf="(this.AddItemForm.controls.Barcodes.dirty || this.AddItemForm.controls.Barcodes.touched) && this.AddItemForm.controls.Barcodes.errors?.minlength">
                  Barcode should be more than one character</div>
              </div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="">
            <label for="size" class="modal-label-edit">Store Qty<span style="color: red;">*</span></label>
            <div class="d-flex">
             <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="DecreaseStoreQty(this.StoreQty)"><i
                class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
              <input name="demo_vertical"  type="text" class="form-control-new" min="0" max="100" style="width: 30% !important;padding-left: 0px 15px !important;text-align: center;" formControlName="storeqty" [(ngModel)]="StoreQty">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="IncreaseStoreQty(this.StoreQty)"><i
                class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.storeqty.dirty || this.AddItemForm.controls.storeqty.touched) && this.AddItemForm.controls.storeqty.errors?.required">
              Please fill the field</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.storeqty.dirty || this.AddItemForm.controls.storeqty.touched) && this.AddItemForm.controls.storeqty.errors?.pattern">
              Store Qty should not be in alphabets</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.storeqty.dirty || this.AddItemForm.controls.storeqty.touched) && this.AddItemForm.controls.storeqty.errors?.min">
             Store Qty should be greater than or equal to zero</div>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="vendor" class="modal-label-edit">Cabinet Qty</label>
            <div class="d-flex">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="DecreaseCabinetQty(this.CabinetQty)"><i
                class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
              <input name="demo_vertical"  type="text" class="form-control-new" min="0" max="100"  style="width: 30% !important;padding: 0px 15px !important;text-align: center;" formControlName="CabinetQty" [(ngModel)]="CabinetQty">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="IncreaseCabinetQty(this.CabinetQty)"><i
                class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.CabinetQty.dirty || this.AddItemForm.controls.CabinetQty.touched) && this.AddItemForm.controls.CabinetQty.errors?.pattern">
              Cabinet Qty should not be in alphabets</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.CabinetQty.dirty || this.AddItemForm.controls.CabinetQty.touched) && this.AddItemForm.controls.CabinetQty.errors?.min">
             Cabinet Qty should be greater than or equal to zero</div>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="price" class="modal-label-edit">Expiry Date<span style="color: red;">*</span></label>
            <input type="text" placeholder="Select Date" class="form-control-new" bsDatepicker [bsConfig]="{ adaptivePosition: true , dateInputFormat: 'YYYY-MM-DD' , dateOutputFormat:'YYYY-MM-DD' }" formControlName="ExpiryDate">
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.ExpiryDate.dirty || this.AddItemForm.controls.ExpiryDate.touched) && this.AddItemForm.controls.ExpiryDate.errors?.required">
              Please fill the field</div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-4">
          <div class="">
            <label for="unit" class="modal-label-edit">Min store Qty<span style="color: red;">*</span></label>
            <input class="form-control-new" type="text" formControlName="MinStoreQty">
            <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
              <div *ngIf="(this.AddItemForm.controls.MinStoreQty.dirty || this.AddItemForm.controls.MinStoreQty.touched) && this.AddItemForm.controls.MinStoreQty.errors?.required">
                Please fill the field</div>
            </div>
            <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
              <div *ngIf="(this.AddItemForm.controls.MinStoreQty.dirty || this.AddItemForm.controls.MinStoreQty.touched) && this.AddItemForm.controls.MinStoreQty.errors?.pattern">
               Min Store Qtymust not be in alphabets</div>
            </div>
            <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
              <div *ngIf="(this.AddItemForm.controls.MinStoreQty.dirty || this.AddItemForm.controls.MinStoreQty.touched) && this.AddItemForm.controls.MinStoreQty.errors?.min">
                Please fill the Min Store quantity greater than or equal to zero </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="expiry_date" class="modal-label-edit">Cat No</label>
            <input class="form-control-new" type="text" formControlName="CatNo">
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="on_hand_qty" class="modal-label-edit">Lot No</label>
            <input class="form-control-new" type="text" formControlName="LotNo">
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-8">
          <div class="">
            <label for="items_no" class="modal-label-edit">Tags</label>
            <ng-select [items]="Tags" formControlName="Tag"  placeholder="" [multiple]="true"></ng-select>
           </div>
        </div>
        <div class="col-4">
          <div class="">
            <label for="items_no" class="modal-label-edit">Unit<span style="color: red;">*</span></label>
            <input type="text" class="form-control-new" placeholder="" formControlName="Unit">
           </div>
           <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.Unit.dirty || this.AddItemForm.controls.Unit.touched) && this.AddItemForm.controls.Unit.errors?.required">
              Please fill the field</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.Unit.dirty || this.AddItemForm.controls.Unit.touched) && this.AddItemForm.controls.Unit.errors?.min">
              Unit Value must be greater than or equal to zero and must not be alphabets</div>
          </div>
          <div *ngIf="this.AddItemForm.invalid" class="invalid-feedback">
            <div *ngIf="(this.AddItemForm.controls.Unit.dirty || this.AddItemForm.controls.Unit.touched) && this.AddItemForm.controls.Unit.errors?.pattern">
              Unit Value must not be alphabets</div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-12">
          <div class="">
            <label for="items_no" class="modal-label-edit">Item description</label>
            <textarea type="text" class="form-control-new" placeholder="" formControlName="Itemdescription" style="font-size: 0.6123rem !important;"></textarea>
           </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col-12">
          <div class="mb-3">
            <label for="items_no" class="modal-label-edit">Notes</label>
            <textarea type="text" class="form-control-new" placeholder="" formControlName="Itemnotes" style="font-size: 0.6123rem !important;"></textarea>
           </div>
        </div>
      </div>
    </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="CloseModal('editItem')">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;" (click)="UpdateItemfn(this.AddItemForm)" [disabled]="this.AddItemForm.invalid"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Update</button>
        <!-- <button type="button" class="btn-new" style="width: auto !important;"><img src="assets/images/add_img_modal.svg"
            width="24px" height="24px" class="me-2">Update</button> -->
      </div>
    </form>
    </div>
  </div>
</div>

<div bsModal #edit_modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name5" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:600px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Edit Modal
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="edit_modal?.hide()"
          style="cursor: pointer">
      </div>

      <div class="row mx-2 my-2">
        <div class="col-6">
          <label for="items_category" class="modal-label-edit mb-1">More procedure</label>
         <ng-select items="" placeholder="Select Procedure"></ng-select>
        </div>
        <div class="col-6">
          <label for="items_category" class="modal-label-edit mb-1">Price</label>
          <input type="text" class="form-control-new" placeholder="Enter the price">
        </div>
      </div>


      <div class="row mx-2 my-2">
        <div class="col-6">
          <label for="items_category" class="modal-label-edit mb-1">Tags</label>
          <input type="text" class="form-control-new" placeholder="">
        </div>
        <div class="col-6">
          <label for="items_category" class="modal-label-edit mb-1">Quantity</label>
          <div class="d-flex justify-content-start">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
              class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
            <input name="demo_vertical"  type="text" class="form-control-new" min="0" max="100" readonly style="width: 30% !important;">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
              class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
          </div>
        </div>
      </div>

      <div class="row mx-2 my-2">
        <div class="col-12">
          <label for="items_category" class="modal-label-edit mb-1">Add Note</label>
          <textarea class="form-control-new textarea-font-size">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
        </div>

      </div>

      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Close</button>
        <button type="button" class="btn-new" style="width: auto !important;">Update</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #setalert="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:450px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Send Qty Alert
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="setalert?.hide()"
          style="cursor: pointer">
      </div>
      <div class="d-flex justify-centent-between align-items-center flex-row px-3 pt-3">
        <div class="mt-1 me-2" style="width: 70%;">
          <label for="items_category" class="modal-label-edit mb-1">Alert me when quantity is</label>
          <ng-select items="" placeholder="Select the value"></ng-select>
        </div>
        <div class=" mt-1" style="width: 30%;">
          <label for="items_category" class="modal-label-edit mb-1">Contact Person</label>
          <input class="form-control-new" type="text">
        </div>
      </div>
      <div class="d-flex justify-centent-between align-items-center flex-row p-3">
        <div class="mt-1 me-2" style="width: 70%;">
          <label for="items_category" class="modal-label-edit mb-1">This alert will be sent to</label>
          <ng-select items="" placeholder="Search by Vendor"></ng-select>
        </div>
      </div>


      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
        <button type="button" class="btn-new" style="width: auto !important;">Set</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #bulkupdate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name3" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:600px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Bulk update Quantity
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="CloseModal('bulkupdate')"
          style="cursor: pointer">
      </div>

      <div class="row mx-3">
        <div class="col-12 p-0" style="border: 0.5px solid #747474;border-radius: 4px;">
          <div class="d-flex justify-content-between align-items-center p-2" style="background: #855EDB;">
            <div>
              <h4 style="color: #fff !important;" class="mb-0">Items(3)</h4>
            </div>
            <div>
              <h4 style="color: #fff !important;" class="mb-0">Quantity</h4>
            </div>
            <div>
              <h4 style="color: #fff !important;" class="mb-0">New quantity</h4>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center py-4 px-2" style="background: #F3F4F8;border-radius: 0px 0px 6px 6px;">
            <div>
              <h4 class="mb-0" style="color: #1B1B1B;font-weight: 600 !important;">Bulk update</h4>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="DecreaseQuantity()"><i
                class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
              <input name="demo_vertical"  type="text" class="form-control" min="0" max="100" style="width: 30% !important;text-align: center !important;" [(ngModel)]="MainQuantity">
              <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="IncreaseQuantity()"><i
                class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
            </div>
            <div>
            <input type="text" class="form-control" placeholder="eg:50" [(ngModel)]="MainQuantityInput">
            </div>
          </div>
        </div>
        <form [formGroup]="dynamicForm" style="padding: 0px !important;">
        <div class="d-flex justify-content-between align-items-center py-4 px-2" *ngFor="let x of selected_row_data">
          <div style="width: 20%;" class="ms-0">
            <h4 class="mb-0" style="color: #1B1B1B;font-weight: 600 !important;">{{ x.item_name }}</h4>
          </div>
          <div class="d-flex justify-content-center" style="margin-left: 2rem !important;">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="individualIncreasequantity(this.dynamicForm.value)"><i
              class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
            <input name="demo_vertical"  type="text" class="form-control" min="0" max="100" style="width: 30% !important;" [formControlName]="x.item_name">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;" (click)="individualDecreasequantity(this.dynamicForm.value)"><i
              class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
          </div>
          <div>
          <input type="text" class="form-control" placeholder="eg:50">
          </div>
        </div>
      </form>
        <!-- <div class="d-flex justify-content-between align-items-center py-4 px-2" >
          <div style="width: 20%;"  class="ms-3">
            <h4 class="mb-0" style="color: #1B1B1B;font-weight: 600 !important;">Congue</h4>
          </div>
          <div class="d-flex justify-content-center" style="margin-left: 1rem !important;">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
              class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
            <input name="demo_vertical"  type="text" class="form-control" min="0" max="100" style="width: 30% !important;">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
              class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
          </div>
          <div>
          <input type="text" class="form-control" placeholder="eg:50">
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center py-4 px-2">
          <div style="width: 20%;"  class="ms-3">
            <h4 class="mb-0" style="color: #1B1B1B;font-weight: 600 !important;">Curabitur</h4>
          </div>
          <div class="d-flex justify-content-center" style="margin-left: 1rem !important;">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
              class="mdi mdi-minus" style="color: #fff !important;font-size: 15px;"></i></button>
            <input name="demo_vertical"  type="text" class="form-control" min="0" max="100" style="width: 30% !important;">
            <button class="btn-new" style="padding: 2px 12px 2px 12px !important;width: auto !important;height: 36px !important;"><i
              class="mdi mdi-plus" style="color: #fff !important;font-size: 15px;"></i></button>
          </div>
          <div>
          <input type="text" class="form-control" placeholder="eg:50">
          </div>
        </div> -->
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="CloseModal('bulkupdate')">Close</button>
        <button type="button" class="btn-new" style="width: auto !important;">Update</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #move="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name4" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:315px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Move
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="move?.hide()"
          style="cursor: pointer">
      </div>

      <div class="row mx-3">
        <div class="col-12 p-0">
          <div class="mt-3 pb-4" style=" border-bottom: 0.5px solid #8B8B8B;">
            <label class="modal-label-edit mb-1">Select Destination</label>
            <ng-select items="" placeholder="Select Destination"></ng-select>
          </div>

          <div class="row my-3 align-items-center mx-1" *ngFor="let x of folder_structure_value">
            <div class="col-1 p-0"><img src="assets/images/files.svg" class="folder_img me-1"></div>
            <div class="col-11 p-0">
              <h1 class="folder_name mb-0" style="text-wrap: nowrap;font-weight: 500 !important;">{{ x.foldername }}</h1>
            </div>
            <div class="ms-3 mt-1" *ngIf="x.sub">
              <div class="row my-2" *ngFor="let y of x.sub">
                <div class="col-1 p-0"><img src="assets/images/files.svg" class="folder_img me-1"></div>
                <div class="col-11 p-0">
                  <h1 class="folder_name mb-0"  style="text-wrap: nowrap;font-weight: 400 !important;">{{ y.subfoldername }}</h1>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Close</button>
        <button type="button" class="btn-new" style="width: auto !important;">Move</button>
      </div>
    </div>
  </div>
</div>
</div>

<div bsModal #clone_modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name5" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:310px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Clone
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="clone_modal?.hide()"
          style="cursor: pointer">
      </div>

      <div class="row mx-2">
        <div class="col-12">
          <div class="d-flex flex-column my-2"></div>
          <div><h1 class="mb-2">Are you sure want to clone 2 items</h1></div>
          <div>
            <h4 style="color: #855EDB;">Juice , Curabitur</h4>
          </div>

        </div>
      </div>

      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Close</button>
        <button type="button" class="btn-new" style="width: auto !important;">Update</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #add_tag="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name5" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:390px !important;">
    <div class="modal-content">
      <form [formGroup]="AddtagForm">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Add Tag
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="CloseModal('add_tag')"
          style="cursor: pointer">
      </div>

      <div class="row mx-2 my-2">
        <div class="col-12">
          <div class="mt-1" >
            <label for="items_category" class="modal-label-edit mb-1">Tag Name<span
              style="color: red;">*</span></label>
              <ng-select [items]="Tags" formControlName="Tags"  placeholder="" [multiple]="true"></ng-select>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="CloseModal('add_tag')">Close</button>
        <button type="button" class="btn-new" style="width: auto !important;" (click)="UpdateTagsfn(AddtagForm)"><img src="assets/images/add_img_modal.svg"
          width="24px" height="24px" class="me-2">Add</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div bsModal #delete_modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name5" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-centered" style="max-width:300px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1 ms-2" style="font-size: 14px !important;color: #1B1B1B !important;">Delete
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="CloseModal('delete_modal')"
          style="cursor: pointer">
      </div>

      <div class="d-flex flex-column align-items-center justify-content-between my-4">
        <div class="mb-2">
          <img src="assets/images/delete_modal_img.svg" style="width: 40px;height: 40px;">
        </div>
        <div class="mb-2">
          <h1>Do you want to delete {{ selected_row_data_length > 0 ? selected_row_data_length+' items ?' :'this item ?' }}</h1>
        </div>
        <div class="mb-2">
          <h4>You can always restore deleted items from Trash.</h4>
        </div>
      </div>

      <div class="d-flex justify-content-evenly p-3">
        <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="CloseModal('delete_modal')">Go back</button>
        <button type="button" class="btn-new" style="width: auto !important;" (click)="DeleteItemfn()">Yes,continue</button>
      </div>
    </div>
  </div>
</div>
