<div class="row">
  <div class="col-lg-2 mb-2" style="padding: 0px 4px !important;height: 765px !important">
    <div class="cards" style="height: 765px;overflow-y: scroll;overflow-x: hidden;">
      <!-- Back button -->
      <div class="d-flex justify-content-start align-items-center mb-3">
        <img src="assets/images/back_arrow.svg" class="me-2">
        <h1>Back</h1>
      </div>
      <!-- Filters -->
      <div class="d-flex align-items-center mb-3">
        <div class="position-relative">
          <select class="form-select" id="idType" aria-label="Default select example" style="width: 134px !important;height: 29px !important;">
              <option value="all" >Select Status</option>
              <option value="Freelance" >Vetting</option>
              <option value="Full Time" >Booking</option>
              <option value="Part Time" >Pre Procedure</option>
              <option value="Internship" >Intra Procedure</option>
              <option value="Internship" >Post Procedure</option>
          </select>
      </div>
        <div class="">
        <input type="text" placeholder="Select Date" class="form-control ms-2" style="width: 128px !important;height: 31px;"
          [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
          bsDaterangepicker>
        </div>
      </div>
      <!-- Search Box -->
      <div class="search-box mb-3">
        <div class="position-relative">
          <img src="assets/images/magnifying_glass.svg" class="searchs-icon">
          <input type="text" class="form-control rounded bg-light border-light" placeholder="Search...">
        </div>
      </div>
      <!-- MiniList -->
      <div class="d-flex mb-2" *ngFor="let x of miniList_details">
        <div class="flex-shrink-0 align-self-center">
          <div class="form-check font-size-16">
            <input id="customCheck" type="checkbox" class="form-check-input" />
            <label class="form-check-label" for="customCheck">&nbsp;</label>
          </div>
        </div>
        <div class="flex-grow-1 align-self-center">
          <div class="text-muted">
            <p class="mb-2">{{x.procedue_name}}</p>
          </div>
          <div class="d-flex flex-row">
            <h4 class="me-2">MRN:{{x.id}} |</h4>
            <h4 class="me-2">{{x.gender}} |</h4>
            <h4 class="me-2">{{x.patient_type}} |</h4>
            <h4 class="me-2" style="color: #855EDB;">{{x.procedue_status}}</h4>
          </div>
        </div>
      </div>
      <!-- Footer Buttons -->
      <div class="card-footer">
        <h4 class="mt-2">Patient Seleced: 0</h4>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn-new me-2" style="background:#F3F4F8 !important;color: #000 !important;width: 130px !important;">Cancel</button>
          <button type="button" class="btn-new" style="width: 130px !important;">Group</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 mb-2" style="padding:0px 8px 0px 8px !important;height: 765px !important;">
    <div class="cards"  style="height: 765px;overflow-y: scroll;overflow-x: hidden;padding: 10px 10px 0px 10px !important;">
      <!-- <app-procedure-status></app-procedure-status> -->
      <app-all-procedures></app-all-procedures>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="cards">Hi</div>
  </div>
</div>
