<div class="row">
  <div class="col-lg-2 mb-2" style="padding: 0px 4px !important;height: 765px !important">
    <div class="cards" style="height: 765px;overflow-y: hidden;overflow-x: hidden;">
      <!-- Back button -->
      <div class="d-flex justify-content-start align-items-center mb-3" style="cursor: pointer;" (click)="GoBackToProcedureList()">
        <img src="assets/images/back_arrow.svg" class="me-2">
        <h1>Back</h1>
      </div>
      <!-- Filters -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div style="width: 50%;" class="me-2">
          <select class="form-select" id="idType" aria-label="Default select example" style="height: 29px !important;width: -webkit-fill-available !important;background-position: 95px !important;">
            <option value="all">Select Status</option>
            <option value="Freelance">Vetting</option>
            <option value="Full Time">Booking</option>
            <option value="Part Time">Pre Procedure</option>
            <option value="Internship">Intra Procedure</option>
            <option value="Internship">Post Procedure</option>
          </select>
        </div>
        <div class="" style="width: 50%;">
          <input type="text" placeholder="Select Date" class="form-control-new"
            style="height: 31px;font-size: 0.66rem !important;"
            [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a',showWeekNumbers:false}"
            bsDaterangepicker>
        </div>
      </div>
      <!-- Search Box -->
      <div class="search-box mb-3">
        <div >
          <!-- <img src="assets/images/magnifying_glass.svg" class="searchs-icon"> -->
          <input type="text" class="form-control-new rounded bg-light border-light" placeholder="Search...">
        </div>
      </div>
      <!-- MiniList -->
      <div style="height: 555px;overflow-y: scroll;overflow-x: hidden;">
      <div class="d-flex mb-2" style="position: relative;top: 250px;justify-content: center;">
        <!-- <div class="flex-shrink-0 align-self-center"> *ngFor="let x of miniList_details"
          <div class="form-check font-size-16">
            <input id="customCheck" type="checkbox" class="form-check-input" />
            <label class="form-check-label" for="customCheck">&nbsp;</label>
          </div>
        </div>
        <div class="flex-grow-1 align-self-center">
          <div class="text-muted">
            <p class="mb-2">{{x.procedue_name}}</p>
          </div>
          <div class="d-flex flex-row">
            <h4 class="me-2">MRN:{{x.id}} |</h4>
            <h4 class="me-2">{{x.gender}} |</h4>
            <h4 class="me-2">{{x.patient_type}} |</h4>
            <h4 class="me-2" style="color: #855EDB;">{{x.procedue_status}}</h4>
          </div>
        </div> -->
        <h1>No Patients to show</h1>
      </div>
    </div>
      <!-- Footer Buttons -->
      <div class="">
        <h4 class="mt-2">Patient Seleced: 0</h4>
        <div class="d-flex justify-content-between align-items-center">
          <div class="me-2" style="width: 50% !important;">
            <button type="button" class="btn-new me-2"
              style="background:#F3F4F8 !important;color: #1B1B1B !important;width: 100% !important;font-weight: 600;">Cancel</button>
          </div>
          <div class="" style="width: 50% !important;">
            <button type="button" class="btn-diasble" style="width: 100% !important;">Group</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 mb-2" style="padding:0px 8px 0px 8px !important;height: 765px !important;">
    <div class="cards"
      style="height: 765px;overflow-y: scroll;overflow-x: hidden;padding: 10px 10px 0px 10px !important;">
      <app-all-procedures></app-all-procedures>
    </div>
  </div>
  <div class="col-lg-3" style="padding: 0px 8px 0px 8px !important;" *ngIf="!show_patient_details">
    <div class="cards" style="height: 765px;overflow-y: scroll;overflow-x: hidden;padding: 0px !important;">
      <div class="d-flex flex-row justify-content-between align-items-center"
        style="background:#594585;height: 55px;border-radius: 12px 12px 0px 0px;">
        <h1 style="font-size: 16px !important;color: #fff !important;" class="ms-4">KIZIN</h1>
        <!-- <div class="me-3">
          <div class="dropdown float-end" dropdown>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" dropdownToggle style="background: none !important;
                padding: 0px !important;
                border: none !important;">
              <img src="assets/images/procedure_alert.gif">
            </button>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu
              style="padding: 0px 0px 10px 0px; border-radius: 8px 8px 0px 0px;">
              <a class="dropdown-item" href="javascript: void(0);"
                style="background: #D62424;color: #fff;border-radius: 6px 6px 0px 0px !important;margin-bottom: 10px;">Procedure
                Alert
                <img src="assets/images/Procedure_notification_alert.svg">
              </a>
              <a class="dropdown-item" href="javascript: void(0);" *ngFor="let x of procedureAlertsData">
                {{x.value}}
              </a>
            </div>
          </div>
        </div> -->
      </div>
      <div class="tab-pane" role="tabpanel">
        <ul class="nav line-tab nav-pills nav-tabs  nav-tabs-custom nav-justified" role="tablist">
          <li class="nav-items" role="presentation" *ngFor="let x of kizintabValues;let i = index">
            <a [class]="x.active == true ?'nav-link active':'nav-link'" data-bs-toggle="tab" [href]="x.template"
              role="tab" aria-selected="true" (click)="toggleTabIcon(i)">
              <div class="d-flex align-items-center">
                <img [src]="x.active == true ? x.activeimg : x.imgPath" width="16px" height="16px" class="me-2">
                <span style="color: #fff">{{x.tabs}}</span>
              </div>
            </a>
          </li>
        </ul>

        <div class="tab-content mt-1 text-muted">
          <!-- Tab Content 1 -->
          <div class="tab-pane active show" id="tabContent1" role="tabpanel">
            <div class="accords"
              style="overflow-x: scroll !important;height: 670px;display: block !important;overflow-y: auto !important;">
              <accordion [closeOthers]="false" class="accordion" [isAnimated]="true"
                *ngFor="let x of procedureStagelist;let i = index">
                <accordion-group [isOpen]="x.accord_open" class="accordion-item" #group>
                  <span accordion-heading class="d-flex">
                    <i class="mdi"
                      [ngClass]="!group?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"
                      style="font-size: 17px;"></i>
                    <h4 class="p-2 flex-grow-1 mb-0" style="font-weight: bold !important; color: #000 !important;">
                      {{x.stage}}</h4>
                    <div class="float-end">

                      <h4 class="mb-0 my-2" style="color: #D62424;">{{x.status}}</h4>
                    </div>
                  </span>
                  <div class="text-muted">
                    <ul class="verti-timeline list-unstyled" *ngFor="let y of taskList[i]">
                      <li class="event-list">
                        <div class="event-timeline-dot">
                          <div class="form-check font-size-16">
                            <input class="form-check-input" type="checkbox">
                          </div>
                        </div>
                        <div class="d-flex flex-column  w-100">
                          <div class="d-flex flex-row align-items-center">
                            <p style="font-weight: 500 !important;" class="mb-0">{{y.task}}</p>
                            <h4 class=" ms-2 mb-0">{{y.completed_date_time}}</h4>
                            <h4 style="color: #D62424;" class="ms-2 mb-0">{{y.status}}</h4>
                            <div class="ms-auto" (click)="AddNotes(x.stage)">
                              <img src="assets/images/edit_task_list.svg" width="12px" height="12px"
                                style="cursor: pointer !important;">
                            </div>
                          </div>
                          <div>
                            <h4 class="mt-1">{{y.role}},{{y.owner}}</h4>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </accordion-group>
              </accordion>
            </div>
          </div>
          <!-- Tab Content 2 -->
          <div class="tab-pane" id="tabContent2" role="tabpanel">
            <div class="tab-pane" role="tabpanel">
              2
            </div>
          </div>
          <!-- Tab Content 3 -->
          <div class="tab-pane" id="tabContent3" role="tabpanel">
            <div class="tab-pane" role="tabpanel">
              <div class="d-flex flex-column"
                style="margin: 15px 0px; overflow-x: scroll !important;height: 645px;display: block !important;overflow-y: auto !important;">
                <div class="d-flex" *ngFor="let x of timeline_data">
                  <h4 style="border-right: 1px solid #000;padding:20px 20px 20px 80px" class="mb-0">
                    {{x.date}}<br>{{x.time}}</h4><img src="assets/images/timeline_dot.svg" width="12px" height="12px"
                    style="position: relative;
                right: 1.5%;
                margin-top: 20px;">
                  <div class="d-flex flex-column" style="padding:9px 5px 20px 10px">
                    <h4 style="color: #1B1B1B;" class="mb-1">
                      {{x.procedure_status}}
                    </h4>
                    <h4 style="color: #1B1B1B;line-height: 14.5px;" class="mb-1"> {{x.description}}</h4>
                    <h4 style="color: #747474;">{{x.owner}}{{x.role}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3" style="padding: 0px 8px 0px 8px !important;" *ngIf="show_patient_details">
    <div class="cards" style="height: 765px;overflow-y: scroll;overflow-x: hidden;padding: 0px !important;">
      <div class="d-flex flex-row mx-2 my-2">
        <div class="flex-grow-1">
          <img src="assets/images/go_back_kizin.svg" width="9px" height="9px" class="me-2" (click)="go_back_to_Kizin()"
            style="cursor: pointer;">
          <span
            style="width: auto !important;font-size: 10px !important;font-weight: 600 !important; color: #1B1B1B !important;"
            class="mb-0">Patient Details</span>
        </div>
        <div class="flex-shrink-0">
          <img src="assets/images/go_previous_patient.svg" width="16px" height="16px" class="mx-3">
          <img src="assets/images/go_next_patient.svg" width="16px" height="16px" class="mx-3">
        </div>
      </div>
      <div class="d-flex flex-row mt-4 mx-3 align-items-center">
        <div class="flex-shrink-0 align-items-center">
          <img src="assets/images/patient_details_img.svg" class="rounded-circle avatar-xl" alt="100x100"
            style="width: 60px !important;height: 60px !important;">
          <h4 style="border:1px solid #F0EAFF;background: #F0EAFF;padding: 1px 6px 1px 6px !important;border-radius: 38px;position: absolute;
        top: 6.2rem;">{{ CurrentPatientDetails.patient_type }}</h4>
        </div>
        <div class="flex-grow-1 ms-3 mt-2 align-items-center">
          <h1 style="font-size: 14px !important;font-weight: 500 !important;color: #1B1B1B !important;" class="mb-1">
            {{ CurrentPatientDetails.patient_name }}</h1>
          <p style="color: #747474 !important;">MRN : {{ CurrentPatientDetails.mrn_no }}</p>
        </div>
      </div>
      <div class="row mx-2 mt-4">
        <div class="col-3">
          <h4 style="color: #747474;">Gender</h4>
          <p style="color: #1B1B1B;">{{ CurrentPatientDetails.gender }}</p>
        </div>
        <div class="col-3">
          <h4 style="color: #747474;">DOB</h4>
          <p style="color: #1B1B1B;">{{ CurrentPatientDetails.dob }}</p>
        </div>
        <div class="col-3">
          <h4 style="color: #747474;">Patient Type</h4>
          <p style="color: #1B1B1B;">Adult</p>
        </div>
        <div class="col-3">
          <h4 style="color: #747474;">Language</h4>
          <p style="color: #1B1B1B;">Arabia</p>
        </div>
      </div>
      <div class="row mx-2 mt-1">
        <div class="col-3">
          <h4 style="color: #747474;">Age</h4>
          <p style="color: #1B1B1B;">{{ CurrentPatientDetails.age }}</p>
        </div>
        <div class="col-3">
          <h4 style="color: #747474;">Blood</h4>
          <p style="color: #1B1B1B;">AB-</p>
        </div>
        <div class="col-3">
          <h4 style="color: #747474;">Height</h4>
          <p style="color: #1B1B1B;">36 cm</p>
        </div>
        <div class="col-3">
          <h4 style="color: #747474;">Weight</h4>
          <p style="color: #1B1B1B;">45 kg</p>
        </div>
      </div>
      <div class="row mx-3 mt-2"
        style="border:1px solid #594585;background: #594585;height: 41px;width: auto;border-radius: 5px;">
        <div class="col-8">
          <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [startFromIndex]="0"
            [interval]="0" [showIndicators]="false" [noWrap]="true">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style=" width: 32px ;height:32px"
                [ngClass]="Alert_name==slide.name ? 'alert_images_dull':'alert_images'" [tooltip]="slide.tooltip"
                triggers="click" placement="bottom" containerClass="tooltipClass">
              <!-- <div class="carousel-caption">
                  <h4>Slide {{index}}</h4>
                </div> -->
            </slide>
          </carousel>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-between mx-1 mt-1" style="border-left: 1px solid #fff;">
            <div dropdown>
              <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown"
                dropdownToggle style="height: 40px !important;position: relative;">
                <i class="bx bxs-bell" style="color: #fff !important;font-size: 23px !important;"></i>
                <span class="badge bg-danger rounded-pill"
                  style="position: absolute !important;top: 3px !important;right: 6px !important;">3</span>
              </button>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                aria-labelledby="page-header-notifications-dropdown" *dropdownMenu>
                <div class="d-flex flex-column m-2">
                  <div class="d-flex justify-content-between mb-3 p-3"
                    style="border-bottom: 1px solid #747474 !important;">
                    <a style="font-size: 12px !important;">Select all</a>
                    <a style="font-size: 12px !important;">Reset</a>
                  </div>
                  <div class="my-1 mx-2" style="height: 200px;overflow: hidden;overflow-y: scroll;">
                    <div class="form-check m-3" *ngFor="let x of Alert_dropdown_values">
                      <input class="form-check-input" type="checkbox" id="formCheck1">
                      <label class="form-check-label" for="formCheck1">
                        {{x.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="assets/images/edit_alerts.svg" width="32px" height="32px" style="cursor: pointer;"
              (click)="editModalAlerts.show()">
          </div>
        </div>
      </div>
      <div class="d-flex mx-4 mt-3 align-items-center">
        <p style="color: #1B1B1B !important;" class="mb-0 me-2">Vitals</p>
        <button class="btn me-1" style="padding: 0px !important;"><i class="mdi mdi-refresh"></i></button>
        <h4 style="color: #747474 !important;" class="mb-0">11/2/2023 15.25 by Leslie Alexander</h4>
        <div class="ms-auto" style="cursor: pointer;"><i class="mdi mdi-pencil-outline"
            style="font-size: 12px;color:#594585;"></i></div>
      </div>
      <div class="d-flex mt-4">
        <div class="tab-pane" role="tabpanel" style="width: 100% !important;">
          <ul class="nav line-tab px-1 nav-tabs  nav-tabs-custom nav-justified" role="tablist"
            style="background: #fff !important;width: 100% !important;white-space: nowrap;">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#clinical_history_view" role="tab"
                aria-selected="true" style="white-space: nowrap;padding: 7px 7px 0px 7px !important;"
                [class.active]="activeTab === 1" (click)="setActiveTab(1)">
                <div class="d-flex flex-row">
                  <img src="assets/images/clinical_history.svg" width="16px" height="16px" *ngIf="activeTab === 1"
                    class="me-1">
                  <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Clinical History</h4>
                </div>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#lab_view" role="tab" aria-selected="false" tabindex="-1"
                style="white-space: nowrap;" [class.active]="activeTab === 2" (click)="setActiveTab(2)">
                <div class="d-flex flex-row">
                  <img src="assets/images/lab.svg" width="16px" height="16px" *ngIf="activeTab === 2" class="me-1">
                  <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Lab</h4>
                </div>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#medication_view" role="tab" aria-selected="false"
                tabindex="-1" style="white-space: nowrap;" [class.active]="activeTab === 3" (click)="setActiveTab(3)">
                <div class="d-flex flex-row">
                  <img src="assets/images/medication.svg" width="16px" height="16px" *ngIf="activeTab === 3"
                    class="me-1">
                  <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Mediation</h4>
                </div>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#care_team_view" role="tab" aria-selected="false"
                tabindex="-1" style="white-space: nowrap;" [class.active]="activeTab === 4" (click)="setActiveTab(4)">
                <div class="d-flex flex-row">
                  <img src="assets/images/care_team.svg" width="16px" height="16px" *ngIf="activeTab === 4"
                    class="me-1">
                  <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Care Team</h4>
                </div>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="" data-bs-toggle="tab" role="tab" aria-selected="false" tabindex="-1"
                style="white-space: nowrap; padding: 0px !important;" data-bs-toggle="modal"
                data-bs-target=".bs-example-modal-center" (click)="showModal()">
                <div class="d-flex flex-row mt-1">
                  <img src="assets/images/patient_details_viewOnly.svg" width="16px" height="16px">
                </div>
              </a>
            </li>
          </ul>

          <div class="tab-content text-muted" style="padding: 10px 5px !important;">
            <div class="tab-pane active show" id="clinical_history_view" role="tabpanel">
              <div class="tab-pane" role="tabpanel" style="width: 100% !important;">
                <ul class="nav line-tab px-1 nav-tabs  nav-tabs-custom nav-justified" role="tablist"
                  style="background: #F3F4F8 !important;width: 360px !important;white-space: nowrap; border: 1px solid #F3F4F8;border-radius: 12px !important;align-items: center;padding: 0px 5px !important;height: auto !important;">
                  <li class="nav-item" role="presentation">
                    <a class="navs-links active" data-bs-toggle="tab" href="#pre_diagnosis" role="tab"
                      aria-selected="true" style="white-space: nowrap;">
                      <div class="d-flex flex-row">
                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Pre Diagnosis</h4>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="navs-links" data-bs-toggle="tab" href="#indication" role="tab" aria-selected="false"
                      tabindex="-1" style="white-space: nowrap;">
                      <div class="d-flex flex-row">
                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Indication</h4>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="navs-links" data-bs-toggle="tab" href="#post_diagnosis" role="tab" aria-selected="false"
                      tabindex="-1" style="white-space: nowrap;">
                      <div class="d-flex flex-row">
                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Post Diagnosis</h4>
                      </div>
                    </a>
                  </li>

                </ul>

                <div class="tab-content p-3 text-muted">
                  <div class="tab-pane active show" id="pre_diagnosis" role="tabpanel">
                    <div class="d-flex justify-content-between">
                      <h4>Patient's medical background</h4>
                      <div style="cursor: pointer;" (click)="showEditableModal('pre_diagnosis')"><i
                          class="mdi mdi-pencil-outline" style="font-size: 12px;color:#594585;"></i></div>
                    </div>
                    <p>Pre Diagnosis</p>
                    <div class="table-responsive" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                      <table class="table mb-0">
                        <thead class="table-light">
                          <tr>
                            <th *ngFor="let x of clinical_history ;" style="font-size: 9px;font-weight: 400;">
                              {{x.headername}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of clinical_history;let i = index"
                            style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                            <td *ngFor="let y of x.header_data">{{y.data}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="indication" role="tabpanel">
                    <div class="d-flex justify-content-between">
                      <h4>Patient's medical background</h4>
                      <div style="cursor: pointer;" (click)="showEditableModal('indication')"><i
                          class="mdi mdi-pencil-outline" style="font-size: 12px;color:#594585;"></i></div>
                    </div>
                    <p>Indication</p>
                    <div class="table-responsive" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                      <table class="table mb-0">
                        <thead class="table-light">
                          <tr>
                            <th *ngFor="let x of clinical_history ;" style="font-size: 9px;font-weight: 400;">
                              {{x.headername}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of clinical_history;let i = index"
                            style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                            <td *ngFor="let y of x.header_data">{{y.data}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="post_diagnosis" role="tabpanel">
                    <div class="d-flex justify-content-between">
                      <h4>Patient's medical background</h4>
                      <div style="cursor: pointer;" (click)="showEditableModal('post_diagnosis')"><i
                          class="mdi mdi-pencil-outline" style="font-size: 12px;color:#594585;"></i></div>
                    </div>
                    <p>Post Diagnosis</p>
                    <div class="table-responsive" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                      <table class="table mb-0">
                        <thead class="table-light">
                          <tr>
                            <th *ngFor="let x of clinical_history ;" style="font-size: 9px;font-weight: 400;">
                              {{x.headername}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of clinical_history;let i = index"
                            style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                            <td *ngFor="let y of x.header_data">{{y.data}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane" id="lab_view" role="tabpanel">
              <div class="d-flex justify-content-between mt-2 mx-2">
                <h4 style="color: #747474 !important;">EST X-RAY,PA AND LATERAL (701020)<br>case provide</h4>
                <div style="cursor: pointer;" (click)="showEditableModal('lab')"><i class="mdi mdi-pencil-outline"
                    style="font-size: 12px;color:#594585;"></i></div>
              </div>
              <div class="table-responsive mt-2" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                <table class="table mb-0">
                  <thead class="table-light">
                    <tr>
                      <th *ngFor="let x of lab_data ;" style="font-size: 9px;font-weight: 400;">{{x.headername}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of lab_data;let i = index"
                      style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                      <td *ngFor="let y of x.header_data">{{y.data}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="medication_view" role="tabpanel">
              <div class="d-flex justify-content-between mt-2 mx-2">
                <h4 style="color: #747474 !important;">The previous/current medication of the<br>patients are listed
                  below.</h4>
                <div style="cursor: pointer;" (click)="showEditableModal('medication')"><i
                    class="mdi mdi-pencil-outline" style="font-size: 12px;color:#594585;"></i></div>
              </div>
              <div class="table-responsive mt-2" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                <table class="table mb-0">
                  <thead class="table-light">
                    <tr>
                      <th *ngFor="let x of lab_data ;" style="font-size: 9px;font-weight: 400;">{{x.headername}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of lab_data;let i = index"
                      style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                      <td *ngFor="let y of x.header_data">{{y.data}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="care_team_view" role="tabpanel">
              <div class="d-flex justify-content-between mt-2 mx-2">
                <h4 style="color: #747474 !important;">Contact care team member is here</h4>
                <div style="cursor: pointer;"><i class="bx bx-plus" style="font-size: 16px;color:#594585;"></i></div>
              </div>
              <div class="d-flex my-2 mx-2 align-items-center" *ngFor="let x of careteam_data">
                <p class="me-2 mb-0">{{x.owner}}</p>
                <p style="font-weight: 400 !important;" class="mb-0 me-1">{{x.role}}</p>
                <i [class]="x.icon"
                  [ngStyle]="{'mrp':x.role === 'MRP Doctor', 'house':x.role === 'House keeping', 'escort':x.role === 'Patient Escor'}"></i>
                <div class="ms-auto" style="cursor: pointer;">
                  <button class="btn-new care_btn"
                    style="padding: 4px 10px !important;background: #fff !important;color: #1B1B1B !important;">Remove</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="patient_details">
  <button class="btn-new"
    style="padding:8px 10px 8px 10px !important;position: absolute;left: 96%;z-index: 1;transform: rotate(90deg);top: 14%;width: 100px !important;"
    (click)="onPatientDetailsButtonClicked();">
    <h4 class="mb-0"><img src="assets/images/notification_bell_pd.svg" width="14px" height="14px">patient details</h4>
  </button>
</div>



<div bsModal #centerDataModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 678px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center" style="width: 100%;background: #F3F4F8;
                    border-radius: 6px;">
          <div class="ms-2">
            <h1 style="font-size: 16px !important;color: #1B1B1B !important;">Patient results</h1>
          </div>
          <button class="btn" (click)="closeModal();"><img src="assets/images/Close_icon.svg" width="24px"
              height="24px"></button>
        </div>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="myForm"> -->
        <div class="d-flex">
          <div class="tab-pane" role="tabpanel" style="width: 100% !important;">
            <ul class="nav line-tab px-1 nav-tabs  nav-tabs-custom nav-justified mt-2" role="tablist"
              style="background: #fff !important;width: 100% !important;white-space: nowrap;">
              <li class="nav-item" role="presentation" (click)="tab_active('clinical_history')">
                <a [ngClass]="{ 'nav-link': true, 'active': active_status == 'clinical_history' }" data-bs-toggle="tab"
                  href="#clinical_histroy" role="tab" aria-selected="true"
                  style="white-space: nowrap;padding: 7px 7px 0px 7px !important;">
                  <div class="d-flex flex-row">
                    <img src="assets/images/clinical_history.svg" width="16px" height="16px" class="me-1">
                    <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Clinical History</h4>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation" (click)="tab_active('lab')">
                <a [ngClass]="{ 'nav-link': true, 'active': active_status == 'lab' }" data-bs-toggle="tab" href="#lab"
                  role="tab" aria-selected="false" tabindex="-1" style="white-space: nowrap;">
                  <div class="d-flex flex-row">
                    <img src="assets/images/lab.svg" width="16px" height="16px" class="me-1">
                    <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Lab</h4>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation" (click)="tab_active('medication')">
                <a [ngClass]="{ 'nav-link': true, 'active': active_status == 'medication' }" data-bs-toggle="tab"
                  href="#medication" role="tab" aria-selected="false" tabindex="-1" style="white-space: nowrap;">
                  <div class="d-flex flex-row">
                    <img src="assets/images/medication.svg" width="16px" height="16px" class="me-1">
                    <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Mediation</h4>
                  </div>
                </a>
              </li>
              <li class="nav-item" role="presentation" (click)="tab_active('care_team')">
                <a [ngClass]="{ 'nav-link': true, 'active': active_status == 'care_team' }" data-bs-toggle="tab"
                  href="#care_team" role="tab" aria-selected="false" tabindex="-1" style="white-space: nowrap;">
                  <div class="d-flex flex-row">
                    <img src="assets/images/care_team.svg" width="16px" height="16px" class="me-1">
                    <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Care Team</h4>
                  </div>
                </a>
              </li>
            </ul>
            <div class="tab-content text-muted" style="padding: 10px 5px !important;">
              <div [ngClass]="{ 'tab-pane': true, 'active show': active_status == 'clinical_history' }"
                id="clinical_histroy" role="tabpanel">
                <!-- <div class="tab-pane" role="tabpanel" style="width: 100% !important;"> -->
                <ul class="nav line-tab px-1 nav-tabs  nav-tabs-custom nav-justified" role="tablist"
                  style="background: #F3F4F8 !important;width: 360px !important;white-space: nowrap; border: 1px solid #F3F4F8;border-radius: 12px !important;align-items: center;padding: 0px 5px !important;height: auto !important;">
                  <li class="nav-item" role="presentation" (click)="tab_Subactive('pre_diagnosis')">
                    <a [ngClass]="{ 'navs-links': true, 'active': active_sub_status == 'pre_diagnosis' }"
                      data-bs-toggle="tab" href="#pre_diagnosis_view" role="tab" aria-selected="true"
                      style="white-space: nowrap;">
                      <div class="d-flex flex-row">
                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Pre Diagnosis</h4>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation" (click)="tab_Subactive('indication')">
                    <a [ngClass]="{ 'navs-links': true, 'active': active_sub_status == 'indication' }"
                      data-bs-toggle="tab" href="#indication_view" role="tab" aria-selected="false" tabindex="-1"
                      style="white-space: nowrap;">
                      <div class="d-flex flex-row">
                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Indication</h4>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item" role="presentation" (click)="tab_Subactive('post_diagnosis')">
                    <a [ngClass]="{ 'navs-links': true, 'active': active_sub_status == 'post_diagnosis' }"
                      data-bs-toggle="tab" href="#post_diagnosis_view" role="tab" aria-selected="false" tabindex="-1"
                      style="white-space: nowrap;">
                      <div class="d-flex flex-row">
                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Post Diagnosis</h4>
                      </div>
                    </a>
                  </li>

                </ul>

                <div class="tab-content p-3 text-muted">
                  <div [ngClass]="{ 'tab-pane': true, 'active show': active_sub_status == 'pre_diagnosis' }"
                    id="pre_diagnosis_view" role="tabpanel">
                    <div class="d-flex justify-content-between">
                      <h4>Patient's medical background</h4>
                      <div style="cursor: pointer;" (click)="edit_field('pre_diagnosis')"><i
                          class="mdi mdi-pencil-outline" style="font-size: 12px;color:#594585;"></i></div>
                    </div>
                    <p>Pre Diagnosis</p>
                    <div class="table-responsive" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                      <table class="table mb-0">
                        <thead class="table-light">
                          <tr>
                            <th *ngFor="let x of clinical_history ;" style="font-size: 9px;font-weight: 400;">
                              <h1 style="font-weight: 400 !important;color: #1B1B1B !important;">{{x.headername}}</h1>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of clinical_history;let i = index"
                            style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                            <td *ngFor="let y of x.header_data;let j = index">
                              <h1 style="font-weight: 400 !important;color: #1B1B1B !important;"
                                *ngIf="!pre_diagnosis_editable_field">{{y.data}}</h1>
                              <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="y.data"
                                *ngIf="pre_diagnosis_editable_field">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div [ngClass]="{ 'tab-pane': true, ' active show': active_sub_status == 'indication' }"
                    id="indication_view" role="tabpanel">
                    <div class="d-flex justify-content-between">
                      <h4>Patient's medical background</h4>
                      <div style="cursor: pointer;" (click)="edit_field('indication')"><i class="mdi mdi-pencil-outline"
                          style="font-size: 12px;color:#594585;"></i></div>
                    </div>
                    <p>Indication</p>
                    <div class="table-responsive" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                      <table class="table mb-0">
                        <thead class="table-light">
                          <tr>
                            <th *ngFor="let x of clinical_history ;" style="font-size: 9px;font-weight: 400;">
                              {{x.headername}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of clinical_history;let i = index"
                            style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                            <td *ngFor="let y of x.header_data">
                              <h1 style="font-weight: 400 !important;color: #1B1B1B !important;"
                                *ngIf="!indication_editable_field">{{y.data}}</h1>
                              <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="y.data"
                                *ngIf="indication_editable_field">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div [ngClass]="{ 'tab-pane': true, ' active show': active_sub_status == 'post_diagnosis' }"
                    id="post_diagnosis_view" role="tabpanel">
                    <div class="d-flex justify-content-between">
                      <h4>Patient's medical background</h4>
                      <div style="cursor: pointer;" (click)="edit_field('post_diagnosis')"><i
                          class="mdi mdi-pencil-outline" style="font-size: 12px;color:#594585;"></i></div>
                    </div>
                    <p>Post Diagnosis</p>
                    <div class="table-responsive" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                      <table class="table mb-0">
                        <thead class="table-light">
                          <tr>
                            <th *ngFor="let x of clinical_history ;" style="font-size: 9px;font-weight: 400;">
                              {{x.headername}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of clinical_history;let i = index"
                            style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                            <td *ngFor="let y of x.header_data">
                              <h1 style="font-weight: 400 !important;color: #1B1B1B !important;"
                                *ngIf="!post_diagnosis_editable_field">{{y.data}}</h1>
                              <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="y.data"
                                *ngIf="post_diagnosis_editable_field">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- </div> -->
              </div>
              <div [ngClass]="{ 'tab-pane': true, 'active show': active_status == 'lab' }" id="lab" role="tabpanel">
                <div class="d-flex justify-content-between mt-2 mx-2">
                  <h4 style="color: #747474 !important;">EST X-RAY,PA AND LATERAL (701020)<br>case provide</h4>
                  <div style="cursor: pointer;" (click)="edit_field('lab')"><i class="mdi mdi-pencil-outline"
                      style="font-size: 12px;color:#594585;"></i></div>
                </div>
                <div class="table-responsive mt-2" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                  <table class="table mb-0">
                    <thead class="table-light">
                      <tr>
                        <th *ngFor="let x of lab_data ;" style="font-size: 9px;font-weight: 400;">{{x.headername}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let x of lab_data;let i = index"
                        style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                        <td *ngFor="let y of x.header_data">
                          <h1 style="font-weight: 400 !important;color: #1B1B1B !important;"
                            *ngIf="!lab_editable_field">
                            {{y.data}}</h1>
                          <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="y.data"
                            *ngIf="lab_editable_field">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div [ngClass]="{ 'tab-pane': true, 'active show': active_status == 'medication' }" id="medication"
                role="tabpanel">
                <div class="d-flex justify-content-between mt-2 mx-2">
                  <h4 style="color: #747474 !important;">The previous/current medication of the<br>patients are listed
                    below.</h4>
                  <div style="cursor: pointer;" (click)="edit_field('medication')"><i class="mdi mdi-pencil-outline"
                      style="font-size: 12px;color:#594585;"></i></div>
                </div>
                <div class="table-responsive mt-2" style="border: 1px solid #F3F4F8;border-radius: 4px !important;">
                  <table class="table mb-0">
                    <thead class="table-light">
                      <tr>
                        <th *ngFor="let x of lab_data ;" style="font-size: 9px;font-weight: 400;">{{x.headername}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let x of lab_data;let i = index"
                        style="border-color: #fff !important;font-size: 9px;font-weight: 400;">
                        <td *ngFor="let y of x.header_data">
                          <h1 style="font-weight: 400 !important;color: #1B1B1B !important;"
                            *ngIf="!medication_editable_field">
                            {{y.data}}</h1>
                          <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="y.data"
                            *ngIf="medication_editable_field">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div [ngClass]="{ 'tab-pane': true, 'active show': active_status == 'care_team' }" id="care_team"
                role="tabpanel">
                <div class="d-flex justify-content-between align-items-center mt-2 mx-2">
                  <h4 style="color: #747474 !important;" class="mb-0">Contact care team member is here</h4>
                  <div style="cursor: pointer;" class="d-flex align-items-center">
                    <div (click)="edit_field('care_team')"><i class="mdi mdi-pencil-outline me-2"
                        style="font-size: 15px;color:#594585;"></i></div>
                    <div><i class="bx bx-plus" style="font-size: 19px;color:#594585;"></i></div>
                  </div>
                </div>
                <div class="d-flex my-2 mx-2 align-items-center" *ngFor="let x of careteam_data;let i = index">
                  <p class="me-2 mb-0" *ngIf="!careteam_editable_field">{{x.owner}}</p>
                  <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="x.owner"
                    *ngIf="careteam_editable_field">
                  <p style="font-weight: 400 !important;" class="mb-0 me-1" *ngIf="!careteam_editable_field">{{x.role}}
                  </p>
                  <input class="form-control-new form-control-new-sm" type="text" [(ngModel)]="x.role"
                    *ngIf="careteam_editable_field">
                  <i [class]="x.icon"
                    [ngStyle]="{'mrp':x.role === 'MRP Doctor', 'house':x.role === 'House keeping', 'escort':x.role === 'Patient Escor'}"
                    class="ms-1"></i>
                  <div class="ms-auto" style="cursor: pointer;">
                    <button class="btn-new care_btn"
                      style="padding: 4px 10px !important;background: #fff !important;color: #1B1B1B !important;">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
      <div class="modal_footer my-4 mx-2">
        <div class="d-flex justify-content-end">
          <button class="btn me-2" (click)="closeModal();centerDataModal?.hide()">Cancel</button>
          <button class="btn-new mx-3">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #editModalAlerts="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 678px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center" style="background: #F3F4F8;width: 100%;">
          <div class="ms-2">
            <h1 style="font-size: 16px !important;color: #1B1B1B !important;">Edit field</h1>
          </div>
          <button class="btn" (click)="this.editModalAlerts?.hide()"><img src="assets/images/Close_icon.svg"
              width="24px" height="24px"></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="edit_alerts_body">
          <div *ngFor="let x of Alert_data;let i = index" class="p-3"
            [ngClass]="{ 'bg-active': Alert_name == x.alert_name }" style="margin: 10px 5px;">
            <div class="row" style="align-items: center;">
              <div class="col-4">
                <img [src]="x.path_img" style=" width: 32px ;height:32px" class="alert_images">
                <span class="p-2 flex-grow-0 mb-0"
                  style="font-weight: 600 !important; color: #000 !important;font-size: 9px !important;">{{x.alert_name}}
                </span>
              </div>
              <div class="col-4">
                <input class="form-control-new form-control-new-sm" type="text" id="example-text-input"
                  style="width: 150px !important;" [value]="x.input_value" [(ngModel)]="edit_alert_range_value">
              </div>
              <div class="col-4">
                <div class="form-check form-switch form-switch-md mb-0 float-end">
                  <input class="form-check-input" type="checkbox" id="SwitchCheckSizemd"
                    (click)="enableAlert(x.alert_name ,$event)">
                </div>
              </div>
            </div>
            <div class="text-muted mx-3 mt-4" *ngIf="Alert_name == x.alert_name">
              <ngx-slider [options]="options" [value]="x.input_value" [(ngModel)]="edit_alert_range_value"></ngx-slider>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
          <div>
            <button type="button" class="btn-new me-2"
              style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
          </div>
          <div>
            <button type="button" class="btn-new me-2"
              style="color: #fff !important;width: auto !important;">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addNotesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 678px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center" style="background: #F3F4F8;width: 100%;">
          <div class="ms-2">
            <h1 style="font-size: 16px !important;color: #1B1B1B !important;">Notes</h1>
          </div>
          <button class="btn" (click)="this.addNotesModal?.hide()"><img src="assets/images/Close_icon.svg" width="24px"
              height="24px"></button>
        </div>
      </div>
      <div class="modal-body" *ngFor="let x of tasklist_notes;let i = index"
        style="height: 450px !important;overflow-y: scroll;overflow-x: hidden;">
        <div class="d-flex flex-column pb-4" style="border-bottom: 1px solid #D9D9D9 !important;">
          <div class="mb-3">
            <h1 style="font-size: 15px !important;font-weight: 500 !important;color: #1B1B1B;">{{x.Procedure_Stage}}
            </h1>
          </div>
          <div class="d-flex align-items-center">
            <img src="assets/images/green_tick.svg" width="16px" height="16px" class="me-1">
            <h1 class="header_name me-2">Order info</h1>
            <h1 style="font-weight: 400 !important;color: #1B1B1B !important;">By, {{x.order_by}}</h1>
          </div>
        </div>
        <div *ngIf="comments_for_tasklist.length>0">
          <div class="d-flex flex-column pb-1" style="border-bottom: 1px solid #D9D9D9 !important;"
            *ngFor="let y of comments_for_tasklist;let j = index">
            <div class="d-flex align-items-center mt-3">
              <img [src]="y.img" width="24px" height="24px">
              <h1 class="header_name ms-2">{{y.Author}}</h1><span class="ms-1" *ngIf="y.owner == 'You'"
                style="background: #855EDB;padding: 0px 8px 0px 8px !important;border: 1px solid #855EDB;border-radius: 24px;color: #fff;">{{y.owner}}</span>
            </div>
            <div class="mt-3 ms-1">
              <h1 style="font-weight: 400 !important;white-space:break-spaces !important">{{y.Notes}}</h1>
            </div>
            <div class="mt-3" *ngIf="y.attachment">
              <a
                style="background: #F3EDFF;border: 1px solid #F3EDFF;border-radius: 12px !important;padding: 4px 8px 4px 8px !important;color: #1B1B1B !important;"><img
                  src="assets/images/attachment.svg" width="15px" height="15px" class="me-2">View attachment</a>
            </div>
            <div class="mt-3 ms-1" (click)="reply_notes(j)" style="cursor: pointer;">
              <p>Reply</p>
            </div>

            <div class="mt-2 ms-1 px-2 py-2" style="background: #F3F4F8;border-radius: 6px;"
              *ngIf="reply_id == j">
              <div class="d-flex">
                <div class="flex-shrink-0"><img src="assets/images/reply_tick.svg" width="17px" height="10px"></div>
                <div class="flex-grow-1 ms-1 mt-1">
                  <p class="mb-2" style="font-weight: 400 !important;">{{y.Notes}}</p>
                  <p class="mb-2" style="font-weight: 400 !important;">{{y.Author}} - {{y.roles}}</p>
                </div>
              </div>
              <div>
                <!-- <h1 style="font-weight: 400 !important;" class="py-2 px-1">{{y.Reply}}</h1> -->
                <input class="form-control-new" type="text" style="background: #fff !important;">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="comments_for_tasklist.length==0">
          <img src="assets/images/post_comment_img.svg"  style="margin: 20px 150px; width:324px ;height:256px">
        </div>
      </div>
      <div class="modal-footer" >
        <div class="mt-3 ms-1" style="width: 100% !important;" *ngIf="hide_comment_field">
          <input class="form-control-new" type="text" style="height: 65px !important;">
        </div>
        <div class="d-flex justify-content-end">
          <div>
            <button type="button" class="btn-new me-2"
              style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;">Cancel</button>
          </div>
          <div>
            <button type="button" class="btn-new me-2" style="color: #fff !important;width: auto !important;" (click)="SaveNotes()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


