<div class="cards"
  style="border-radius: 10px !important; border: 1px solid #8B8B8B;padding: 0px !important;height: 557px;">
  <div class="row">
    <div class="col-3 pe-0" style="border-right: 1px solid #594585;" [ngClass]="{'hideViewOnlyArea': hideViewOnlyMode == true }">
        <p class="mb-0 px-3 py-2" class="viewonlymode_header mb-0">View Other User Details</p>
        <img src="assets/images/ViewOnlyModeleft.svg" style="position: relative;top: 43%;left: 95%;bottom: 50%;cursor: pointer;width: 20px;height: 20px;z-index: 1;" class="leftexpand" (click)="HideViewOnlyArea()">
        <div class="accords px-1" style="overflow-x: scroll;height: 507px;">
          <accordion [closeOthers]="false" class="accordion" [isAnimated]="true">
            <accordion-group [isOpen]="isFirstOpen" class="accordion-item" #group *ngFor="let x of header_viewOnlymode">
              <span accordion-heading class="d-flex">
                <h4 class="p-2 flex-grow-1 mb-0" style="font-weight: bold !important; color: #000 !important;">
                  {{x.headername}}</h4>

                <div class="float-end">
                  <img src="assets/images/detailed_view.svg" alt="detailed_view" width="10px" height="10px"
                    class="mb-1 me-2" (click)="open()">
                  <i class="mdi"
                    [ngClass]="!group?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"
                    style="font-size: 17px;"></i>
                </div>
              </span>
              <div class="text-muted">
                <strong class="text-body-emphasis">This is the first item's accordion body.</strong> It is hidden by
                default, until the collapse plugin adds the appropriate classes that we use to style each element.
                These classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables. It's
                also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                the transition does limit overflow.
              </div>
            </accordion-group>
          </accordion>
        </div>


    </div>
    <div class="col-9" style="padding: 0px 0px !important;" [ngClass]="{'expandWorkArea': hideViewOnlyMode == true }">
      <img src="assets/images/ViewOnlyModeright.svg" style="position: relative;top: 280px;left: 13px;cursor: pointer;width: 20px;height: 20px;z-index: 1;"  (click)="ShowViewOnlyArea()" *ngIf="hideViewOnlyMode == true">
        <div class="tab-pane" role="tabpanel" [ngClass]="{'TabsAlign': hideViewOnlyMode == true }">
          <ul class="nav line-tab nav-pills nav-tabs  nav-tabs-custom nav-justified" role="tablist"  [ngClass]="{'ChangeMainTab': hideViewOnlyMode == true }" style="margin-right: 0.66rem">
            <li class="nav-items" role="presentation" *ngFor="let x of mainTabsValue">
              <a [class]="'nav-link '+x.active" data-bs-toggle="tab" [href]="x.template" role="tab"
                aria-selected="true">
                <div class="d-flex align-items-center">
                  <!-- <i class="mdi mdi-18px mdi-account me-2"></i> -->
                  <img [src]="x.imgPath" width="16px" height="16px" class="me-2">
                  <span>{{x.tabs}}</span>
                </div>
              </a>
            </li>
          </ul>


          <div class="tab-content mt-1 text-muted">
            <div class="tab-pane" id="TabContentE1" role="tabpanel">
              <!-- <div class="tab-pane" role="tabpanel"> -->
              <ul class="nav line-tab nav-tabs  nav-tabs-custom nav-justified scroll-container" role="tablist"
                style="border-radius: 0px !important;border: 1px solid rgb(255, 255, 255) !important;background: none !important; color: #000 !important;overflow-y: scroll;border-right: 1px solid #8B8B8B!important;">
                <li class="nav-items" role="presentation" *ngFor="let x of subTabs[0]">
                  <a class="navs-link" data-bs-toggle="tab" [href]="x.link" role="tab"
                    aria-selected="true">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <h4 class="name mb-0" style="color: #747474;font-size: 10px !important;">{{x.subtabs}}</h4>
                  </a>
                </li>
              </ul>
              <div class="tab-content px-2 text-muted">
                <div class="tab-pane" id="e1-1" role="tabpanel">
                  <h1>Request Info</h1>
                </div>
                <div class="tab-pane" id="e1-2" role="tabpanel">
                  <h1>Admission Info</h1>
                </div>
                <div class="tab-pane" id="e1-3" role="tabpanel">
                  <h1>Booking</h1>
                </div>
                <div class="tab-pane" id="e1-4" role="tabpanel">
                  <h1>Vetting & Protocoling</h1>
                </div>
                <div class="tab-pane" id="e1-5" role="tabpanel">
                </div>
                <div class="tab-pane" id="e1-6" role="tabpanel">
                  <h1>IV accusses & closure</h1>
                </div>
                <div class="tab-pane" id="e1-7" role="tabpanel">
                  <h1>Radiation dose info</h1>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <div class="tab-pane" id="TabContentE2" role="tabpanel">
              <div class="tab-pane" role="tabpanel">
                <!-- <div class="scroll-container" style="overflow-y: scroll;"> -->
                <ul class="nav line-tab nav-tabs  nav-tabs-custom nav-justified scroll-container" role="tablist"
                  style="border-radius: 0px !important;border: 1px solid rgb(255, 255, 255) !important;background: none !important; color: #000 !important;overflow-y: scroll;border-right: 1px solid #8B8B8B!important;">
                  <li class="nav-items" role="presentation" *ngFor="let x of subTabs[1]">
                    <a class="navs-link me-2" data-bs-toggle="tab" [href]="x.link" role="tab" aria-selected="true">
                      <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                      <h4 class="name mb-0" style="color: #747474;font-size: 10px !important;">{{x.subtabs}}</h4>
                    </a>
                  </li>
                </ul>
                <div class="tab-content ms-2 mt-2 text-muted mt-2">
                  <div class="tab-pane" id="e2-1" role="tabpanel">
                    <h1>Request Info</h1>
                  </div>
                  <div class="tab-pane" id="e2-2" role="tabpanel">
                    <h1>Admission Info</h1>
                  </div>
                  <div class="tab-pane" id="e2-3" role="tabpanel">
                    <h1>Booking</h1>
                  </div>
                  <div class="tab-pane" id="e2-4" role="tabpanel">
                    <h1>Vetting & Protocoling</h1>
                  </div>
                  <div class="tab-pane" id="e2-5" role="tabpanel">
                    <h1>Materials</h1>
                  </div>
                  <div class="tab-pane" id="e2-6" role="tabpanel">
                    <h1>IV accusses & closure</h1>
                  </div>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div class="tab-pane active" id="TabContentE3" role="tabpanel">
              <div class="tab-pane" role="tabpanel">
                <ul class="nav line-tab nav-tabs  nav-tabs-custom nav-justified" role="tablist"
                  style="border-radius: 0px !important;border: 1px solid rgb(255, 255, 255) !important;background: none !important; color: #000 !important;border-right: 1px solid #8B8B8B!important;height:24px !important">
                  <li class="nav-items" role="presentation" *ngFor="let x of subTabs[2]">
                    <a [class]="'navs-link '+x.active" data-bs-toggle="tab" [href]="x.link" role="tab" aria-selected="true">
                      <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                      <h4 class="name mb-0" style="color: #747474;font-size: 10px !important;">{{x.subtabs}}</h4>
                    </a>
                  </li>
                </ul>
                <div class="tab-content ms-2 mt-2 text-muted">
                  <div class="tab-pane" id="e3-1" role="tabpanel">
                    <h1>Request Info</h1>
                  </div>
                  <div class="tab-pane" id="e3-2" role="tabpanel">
                    <h1>Admission Info</h1>
                  </div>
                  <div class="tab-pane active show" id="e3-3" role="tabpanel">
                    <div class="p-0">
                      <div class="row">
                        <div class="col-12">
                          <div class="ms-1 me-3 mt-2 Outer-border">
                            <div class="d-flex justify-content-between flex-wrap align-item-center p-2 Outer-border-header">
                              <div>
                                <h1 class="mb-0" style="font-weight: 500 !important;">Items</h1>
                              </div>
                            </div>

                            <div class="tab-pane active show"  role="tabpanel">
                              <div class="tab-pane" role="tabpanel" style="width: 100% !important;">
                                <ul class="nav line-tab px-1 nav-tabs  nav-tabs-custom nav-justified m-1 mt-2" role="tablist"
                                  style="background: #F3F4F8 !important;width: 360px !important;height: 25px !important;white-space: nowrap; border: 1px solid #F3F4F8;border-radius: 12px !important;align-items: center;padding: 0px 5px !important;height: auto !important;">
                                  <li class="nav-item" role="presentation" style="height: 20px !important;">
                                    <a class="navs-links active" data-bs-toggle="tab" href="#used" role="tab"
                                      aria-selected="true" style="white-space: nowrap;">
                                      <div class="d-flex flex-row">
                                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Used</h4>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="nav-item" role="presentation" style="height: 20px !important;">
                                    <a class="navs-links" data-bs-toggle="tab" href="#returned" role="tab" aria-selected="false"
                                      tabindex="-1" style="white-space: nowrap;">
                                      <div class="d-flex flex-row">
                                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Returned</h4>
                                      </div>
                                    </a>
                                  </li>
                                  <li class="nav-item" role="presentation" style="height: 20px !important;">
                                    <a class="navs-links" data-bs-toggle="tab" href="#damaged" role="tab" aria-selected="false"
                                      tabindex="-1" style="white-space: nowrap;">
                                      <div class="d-flex flex-row">
                                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Damaged</h4>
                                      </div>
                                    </a>
                                  </li><li class="nav-item" role="presentation">
                                    <a class="navs-links" data-bs-toggle="tab" href="#waste" role="tab" aria-selected="false"
                                      tabindex="-1" style="white-space: nowrap;">
                                      <div class="d-flex flex-row">
                                        <h4 class="d-none d-sm-block mb-0 details_tab" style="color: #747474">Waste</h4>
                                      </div>
                                    </a>
                                  </li>

                                </ul>

                                <div class="tab-content p-1 text-muted">
                                  <div class="tab-pane active show" id="used" role="tabpanel">
                                    <div style="background-color: #F3F4F8;" class="my-2 p-1">
                                      <label class="modal-label-edit">Barcode</label>
                                      <div class="d-flex justify-content-start">
                                        <div class=""><input class="form-control-new-sm barcode_img" type="text" placeholder="scan or type"></div>
                                        <div class="ms-2"><button class="btn-new" style="padding:4px !important;width: 65px !important;height: 26px !important;">Scan</button></div>
                                      </div>
                                    </div>

                                    <div class="m-2">
                                      <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs1" [gridOptions]="gridOptions1" #StoreItem_Grid
                                      style="width: 100%;height: 252px;position: relative !important;" (gridReady)="onGridReady_1($event)" [defaultColDef]="defaultColDef"
                                      [rowData]="StoreItemGridData" (selectionChanged)="onSelectionChanged($event)"></ag-grid-angular>
                                    </div>
                                  </div>
                                  <div class="tab-pane" id="returned" role="tabpanel">

                                  </div>
                                  <div class="tab-pane" id="damaged" role="tabpanel">

                                  </div>
                                  <div class="tab-pane" id="waste" role="tabpanel">

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-row justify-content-between align-items-center p-2 me-4 my-2" style="background: #F3F0FC;">
                        <div class=""><h4 class="mb-0">Total selected item  : 3</h4></div>
                        <div class=""><button class="btn-new" style="height: 30px !important;width: 120px !important;">Check out</button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="TabContentE4" role="tabpanel">
              <div class="tab-pane" role="tabpanel">
                <ul class="nav line-tab nav-tabs  nav-tabs-custom nav-justified" role="tablist"
                  style="border-radius: 0px !important;border: 1px solid rgb(255, 255, 255) !important;background: none !important; color: #000 !important;border-right: 1px solid #8B8B8B!important;">
                  <li class="nav-items" role="presentation" *ngFor="let x of subTabs[3]">
                    <a class="navs-link " data-bs-toggle="tab" [href]="x.link" role="tab" aria-selected="true">
                      <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                      <h4 class="name mb-0" style="color: #747474;font-size: 10px !important;">{{x.subtabs}}</h4>
                    </a>
                  </li>
                </ul>
                <div class="tab-content ms-2 mt-2 text-muted">
                  <div class="tab-pane" id="e4-1" role="tabpanel">
                    <h1>Request Info</h1>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<div bsModal #viewnote="bs-modal" class="modal fade"  role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-dialog-centered" style="max-width:450px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Note
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewnote?.hide()"
          style="cursor: pointer">
      </div>
      <div class="d=flex flex-column px-3 py-3">
        <div class="d-flex flex-row mb-4" style="width: 100%;">
          <div style="width: 50%;">
            <label for="items_category" class="modal-label mb-1">Item Name</label>
            <h1 class="" style="font-weight: 500 !important;">ORS Juice</h1>
          </div>
          <div style="width: 50%;">
            <label for="items_category" class="modal-label mb-1">Item No</label>
            <h1 class="" style="font-weight: 500 !important;">42254</h1>
          </div>
        </div>

        <div class="d-flex flex-column mb-2 mt-1" style="width: 100%;">
          <label for="items_category" class="modal-label mb-1">Comment</label>
          <h1 style="font-weight: 500 !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h1>
        </div>

      </div>


      <div class="d-flex justify-content-end p-3">
        <!-- <button type="button" class="btn-new me-2"
          style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;" (click)="viewnote?.hide()">Cancel</button> -->
        <button type="button" class="btn-new" style="width: auto !important;" (click)="viewnote?.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #viewitem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-dialog-centered" style="max-width:900px !important;">
    <div class="modal-content">
      <div class="d-flex justify-content-between align-items-center p-2 mx-2 my-3"
        style="background: #F3F4F8;border-radius: 8px;">
        <h1 class="flex-grow-1" style="font-size: 14px !important;color: #1B1B1B !important;">View Item
        </h1>
        <img src="assets/images/Close_icon.svg" width="24px" height="24px" (click)="viewitem?.hide()"
          style="cursor: pointer">
      </div>
      <div style="overflow-y: scroll !important;height: 500px;">
      <div class="row mx-2 mt-3" style="flex-wrap: nowrap !important">
        <div class="col-3 px-2">
          <div class="d-flex flex-column justify-centent-between">
            <div class="mb-3">
              <label for="items_category" class="modal-label">Item:</label>
              <img src="assets/images/item_image_sample.svg" width="207px" height="104px">
            </div>
          </div>
        </div>
        <div class="col-9" style="padding: 0px 0px 0px 84px;">
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Item number</label>
                <h1 class="">Neurology</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1" >Item name</label>
               <h1 class="">ORS juice</h1>
              </div>
            </div>
            <div class="d-flex flex-row justify-centent-between align-items-center mb-3">
              <div class="" style="width: 100%;margin-bottom: 2.3rem;">
                <label for="items_category" class="modal-label mb-1">Item category</label>
                <h1 class="">ORS Juice</h1>
              </div>
              <div class="mb-3 mt-1" style="width: 100%;">
                <label for="items_category" class="modal-label mb-1">Barcodes</label>
                <h1><img src="assets/images/barcode_view.svg" width="100px" height="45px" style="display: inline-flex;"></h1>
              </div>
            </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Procedure </label>
              <h1 class="">Cardiology</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Price</label>
              <h1 class="">100.00</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Store</label>
              <h1 class="">50</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Min level  </label>
              <h1 class="">52934</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Item Status</label>
              <h1 class="">In Stock</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Size</label>
              <h1 class="">300ml</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Cabinet</label>
              <h1 class="">0</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Cat No</label>
              <h1 class="">56954</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1" >Vendor</label>
              <h1 class="">Flores Junita</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Unit</label>
              <h1 class="">60</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Expiry Date</label>
              <h1 class="">14-10-2023</h1>
            </div>
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Lot No</label>
              <h1 class="">14454</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-8">
          <div class="d-flex">
            <div class="mb-3">
              <label for="items_category" class="modal-label mb-1">Tags</label>
              <h1 >#energy #ORS #energy #ORS #energy #ORS #energy #ORS</h1>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="items_category" class="modal-label mb-1">Unit No</label>
            <h1 class="">10</h1>
          </div>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" class="modal-label mb-1">Item description</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
      <div class="row mx-2 mb-3">
        <div class="col-12">
          <label for="items_category" class="modal-label mb-1">Notes</label>
          <h1 class="">orem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        </div>
      </div>
    </div>
      <div class="d-flex flex-row justify-content-end p-3">
        <!-- <div>
          <button type="button" class="btn-new me-4"
            style="background:#F3F4F8 !important;color: #000 !important;width: auto !important;"
            (click)="viewitem?.hide()">Close</button>
        </div> -->
        <div>
          <button type="button" class="btn-new me-2"
            style="width: auto !important;"
            (click)="viewitem?.hide()">Close</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="previousitem">
        <img src="assets/images/go_previous_patient.svg" width="30px" height="30px">
      </div>
      <div class="nextitem">
        <img src="assets/images/go_next_patient.svg" width="30px" height="30px">
      </div>
    </div>
  </div>
</div>
