::ng-deep .nav-pills .nav-link.active
{
  color: #fff !important;
  background-color:  #855EDB !important;
  border: none !important;
  border-radius: 0px 0px 0px 0px !important;
  height: 32px !important;
  padding: 5px 30px !important;
  opacity: 1;
}

::ng-deep .nav{
  background: #594585 !important;
  height: 34px !important;
  border-radius: 0px 10px 0px 0px !important;
  text-align: center !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  // justify-content: start;
}


::ng-deep .nav-link:hover{
  border: none !important;
  background: none !important;
  border-radius: 0px !important;
  margin: 0 !important;
}

::ng-deep .nav-link{
  color: #fff !important;
  transition: none !important;
  transform: none !important;
  padding: 5px 30px !important;
  opacity: 1;
}

::ng-deep .nav-justified .nav-item
{
  flex-grow: 0 !important;
}

.col-9
{
  width: 74%;
}

::ng-deep .card-header{
  padding: 3px 10px 0px 10px !important;
  background: #ECECEC !important;
}

.accordion-item{
  border: none !important;
  margin: 10px 0px ;
}

.navs-link{
  background: none;
  display: block;
  transition: none !important;
  transform: none !important;
  padding: 4px 6px 4px 6px !important;
  opacity: 0.6;
  width: 125px !important;
  font-weight: normal !important;
  white-space: nowrap;
}

.nav-tabs-custom .nav-item .navs-link{
  border: none;
}

::ng-deep  .navs-link.active
{
  color: #fff !important;
  background-color:  #747474 !important;
  border: 1px solid #747474 !important;
  border-radius: 6px !important;
  height: 22px !important;
  padding:4px 6px 4px 6px !important;
  opacity: 1;
  width: 125px !important;
  font-weight: bolder !important;

  .name{
    color: #fff !important;
  }
}

.nav-items
{
  flex-basis: 0;
    flex-grow: 0;
    text-align: center
}

// .scroll-container {
//   border: 2px solid silver;
//   display: flex;
//   align-items: center;
//   overflow-y: scroll;

//   &.hide-scrollbar {
//     overflow: auto;
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }

//   &.show-scroll {
//     overflow: auto;
//   }

//   ul {
//     white-space: nowrap;
//     background: #efefef;
//     border: 1px solid #efefef !important;
//     margin: .1rem;
//     padding: .2rem .7rem;
//     &:hover {
//       cursor: pointer;
//       border-color: #ccc;
//     }
//   }
// }

.scroll-container::-webkit-scrollbar {
  width: 0px !important;
  height: 4px !important;
  cursor: pointer !important; /* Set the width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background: #8B8B8B !important;
  -webkit-box-shadow: inset 0 0 6px #ECECEC !important; /* Set the border-radius of the scrollbar thumb */
  cursor: pointer !important;
}

.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ECECEC !important;
  border-radius: 10px !important;
  cursor: pointer !important;
}
