<h1 class="mb-2">Procedure Details</h1>
<div class="cards" style="border-radius: 10px !important; border: 1px solid #8B8B8B;padding: 0px !important;height: 557px;">
  <div class="row">
    <div class="col-4" class="viewOnly">
      <img src="assets/images/ViewOnlyModeright.svg" style="position: absolute;
  top: 509%;
  left: 0%;
  z-index: 1;display: none;" class="rightexpand" (click)="CloseViewOnlyMode()">
      <p class="mb-0 px-3 py-2" style="color: #fff;background: #594585;width: auto;height: 32px;border-radius: 10px 0px 0px 0px;padding: 8px 9px;" class="viewonlymode_header">View Other User Details</p>
      <img src="assets/images/ViewOnlyModeleft.svg" style="position: absolute;
      top: 50%;
      right: -5%;
      bottom: 50%;cursor: pointer;width: 25px;height: 25px;"  (click)="CloseViewOnlyMode()" class="leftexpand">
    </div>
    <div class="col-8" style="padding: 0px 0px !important;width:745px;" class="expandable_workarea">
      <tabset [justified]="true" class="nav-pills nav-justified">
        <tab heading="Home">
          <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
        </tab>
        <tab heading="Profile">
          <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
        </tab>
        <tab heading="Messages">
          <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
        </tab>
        <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
      </tabset>
    </div>
  </div>
</div>





  <!-- Tab Content -->
  <ng-template #TabContent>
    <p class="p-3 mb-0">
      Raw denim you probably haven't heard of them jean shorts Austin.
      Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
      cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
      butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
      qui irure terry richardson ex squid. Aliquip placeat salvia cillum
      iphone. Seitan aliquip quis cardigan american apparel, butcher
      voluptate nisi qui.
    </p>
  </ng-template>

  <!-- Tab Content -->
  <ng-template #TabContent1>
    <p class="p-3 mb-0">
      Food truck fixie locavore, accusamus mcsweeney's marfa nulla
      single-origin coffee squid. Exercitation +1 labore velit, blog
      sartorial PBR leggings next level wes anderson artisan four loko
      farm-to-table craft beer twee. Qui photo booth letterpress,
      commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
      vinyl cillum PBR. Homo nostrud organic, assumenda labore
      aesthetic magna delectus.
    </p>
  </ng-template>
