<h1 class="mb-2">Procedure Details : {{StageValue}}</h1>
<div class="cards"
  style="border-radius: 10px !important; border: 1px solid #8B8B8B;padding: 0px !important;height: 557px;">
  <div class="row">
    <div class="col-3 d-none d-lg-block" style="padding-right: 0px;">
      <div class="viewOnly">
        <img src="assets/images/ViewOnlyModeright.svg" style="position: absolute;
  top: 509%;
  left: 0%;
  z-index: 1;display: none;cursor: pointer;" class="rightexpand" (click)="CloseViewOnlyMode()">
        <p class="mb-0 px-3 py-2"
          style="color: #fff;background: #594585;width: auto;height: 32px;border-radius: 10px 0px 0px 0px;padding: 8px 9px;"
          class="viewonlymode_header mb-0">View Other User Details</p>
        <img src="assets/images/ViewOnlyModeleft.svg" style="position: absolute;
      top: 50%;
      right:-3%;
      bottom: 50%;cursor: pointer;width: 20px;height: 20px;z-index: 1;" (click)="CloseViewOnlyMode()" class="leftexpand">

        <div class="accords" style="overflow-x: scroll;height: 507px;">
          <accordion [closeOthers]="false" class="accordion" [isAnimated]="true" *ngFor="let x of header_viewOnlymode">
            <accordion-group [isOpen]="isFirstOpen" class="accordion-item" #group >
              <span accordion-heading class="d-flex">
                <h4 class="p-2 flex-grow-1 mb-0" style="font-weight: bold !important; color: #000 !important;">{{x.headername}}</h4>

                <div class="float-end">
                <img src="assets/images/detailed_view.svg" alt="detailed_view" width="10px" height="10px" class="mb-1 me-2" (click)="open()">
                <i class="mdi"
                  [ngClass]="!group?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'" style="font-size: 17px;"></i>
                </div>
              </span>
              <div class="text-muted">
                <strong class="text-body-emphasis">This is the first item's accordion body.</strong> It is hidden by
                default, until the collapse plugin adds the appropriate classes that we use to style each element.
                These classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables. It's
                also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                the transition does limit overflow.
              </div>
            </accordion-group>
            <!-- <accordion-group heading="Accordion Item #2" class="accordion-item" #md>
              <span accordion-heading class="float-end fs-5">
                <i class="mdi"
                  [ngClass]="!md?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
              </span>
              <div class="text-muted">
                <strong class="text-body-emphasis">This is the second item's accordion body.</strong> It is hidden by
                default, until the collapse plugin adds the appropriate classes that we use to style each element.
                These classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables. It's
                also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                the transition does limit overflow.
              </div>
            </accordion-group>
            <accordion-group heading="Accordion Item #3" class="accordion-item" #item3>
              <span accordion-heading class="float-end fs-5">
                <i class="mdi"
                  [ngClass]="!item3?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
              </span>
              <div class="text-muted">
                <strong class="text-body-emphasis">This is the third item's accordion body.</strong> It is hidden by
                default, until the collapse plugin adds the appropriate classes that we use to style each element.
                These classes control the overall appearance, as well as the showing and hiding via CSS
                transitions. You can modify any of this with custom CSS or overriding our default variables. It's
                also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                the transition does limit overflow.
              </div>
            </accordion-group> -->
          </accordion>
        </div>
      </div>

    </div>
    <div class="col-9" style="padding: 0px 0px !important;">
      <div class="expandable_workarea">
        <tabset [justified]="true" class="nav-pills nav-justified">
          <tab *ngFor="let x of mainTabsValue">
            <ng-template tabHeading>
              <div class="d-flex align-items-center">
                <i class="mdi mdi-18px mdi-account me-2"></i>
                <span>{{x.tabs}}</span>
              </div>

            </ng-template>
            <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
          </tab>
          <!-- <tab heading="Profile">
          <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
        </tab>
        <tab heading="Messages">
          <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
        </tab> -->
        </tabset>
      </div>
    </div>
  </div>
</div>





<!-- Tab Content -->
<ng-template #TabContent>
  <p class="p-3 mb-0">
    Raw denim you probably haven't heard of them jean shorts Austin.
    Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
    cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
    butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
    qui irure terry richardson ex squid. Aliquip placeat salvia cillum
    iphone. Seitan aliquip quis cardigan american apparel, butcher
    voluptate nisi qui.
  </p>
</ng-template>

<!-- Tab Content -->
<!-- <ng-template #TabContent1>
    <p class="p-3 mb-0">
      Food truck fixie locavore, accusamus mcsweeney's marfa nulla
      single-origin coffee squid. Exercitation +1 labore velit, blog
      sartorial PBR leggings next level wes anderson artisan four loko
      farm-to-table craft beer twee. Qui photo booth letterpress,
      commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
      vinyl cillum PBR. Homo nostrud organic, assumenda labore
      aesthetic magna delectus.
    </p>
  </ng-template> -->
