<div class="cards care-team">
    <div class="row mt-1 m-0">
        <div class="col-12 d-flex justify-content-between">
                <h3 class="lab-texts">Care Team</h3>
                <button class="clinical-history-button"><img src="assets/New_Images/uil_edit.png" width="20px" alt="add-img">Edit</button>
        </div>
        <p class="lab-codes">Contact care team member list</p>
        <div class="table-content">
            <table class="table responsi">
                <thead class="table-header">
                    <tr>
                        <th scope="col">Test Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr>
                        <th>Diagnosis 1</th>
                        <th>Patient Escor</th>
                        <th>05/22/2024 | 05.20 PM</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
    <div class="row">
        <div class="col-12 mt-3 d-flex justify-content-center">
            <button class="w-100 emr-button">Click Here to view More Records in EMR</button>
        </div>
    </div>
</div>